[2020-11-20 14:49] zoontek commented on #541
This one is normal. The example app **spams** the check methods. It's triggered each time the app gain focus (which happen when a native alert is closed https://github.com/zoontek/react-native-permissions/blob/3.0.0/example/App.tsx#L84) and each time a permission is requested (https://github.com/zoontek/react-native-permissions/blob/3.0.0/example/App.tsx#L184). And it re-checks **all of them** 😄

[2020-11-20 15:02] zoontek commented on #541
I found this: https://stackoverflow.com/a/62840480
Is this setting disabled on your phone, by any chance?

[2020-11-20 15:39] mikehardy commented on #541
Wow, if that is the root cause, wouldn't that imply that the App Store will deny these apps since they can't pop the auth request? I have had luck with other app store review issues where I directed the reviewer in notes, specifically iOS 14.x simulators do not correctly do sign in with apple (because...of course not) and you have to test on iOS 13.x if you want to test that, so I put it in the no

[2020-11-20 15:59] zoontek commented on #541
@mikehardy That's possible. I also needed to add instructions for the reviewer in some cases.

[2020-11-20 19:16] bd-arc commented on #541
@zoontek Thank you so much for all the time and effort!

You've guessed right and found the root cause: **the system setting (that I didn't even know existed) was disabled on my phone**. As soon as I activated it, everything behaved as it was supposed to.

I'm almost 100% positive that I've never checked anything related to that. So if this is the default iOS value, we're in for even more trouble

[2020-11-20 19:16] #541 closed, assigned to nobody

[2020-11-20 19:23] zoontek commented on #541
Glad we found a valid explanation!

I didn't do anything with that setting too and it was on… so, I really don't know what's the default 😅

[2020-11-24 17:53] nschild opened #543 "IOS 14: New: Updated Photo Settings"
# Bug report

## Summary
https://www.phunware.com/blog/navigating-permission-changes-in-ios-14/

IOS 14 has a new photos permission, where the user can select which photos they want an app to have access to. There is a new prompt that gives the user to "Select more photos" or "Use current selection". Can we get this added? Also, it would be nice to get feedback on whether the users chose all photo

[2020-11-24 17:58] #543 closed, assigned to nobody

[2020-11-25 03:47] tarouboy opened #544 "iOS 14 APP_TRACKING_TRANSPARENCY request not showing up?"
# Bug report

When I run request(PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY) it doesn't show up a dialog like other permission.

## Summary

## Environment info

iOS 14 simulator & device

`react-native info` output:

[code]
react: 16.13.1 => 16.13.1
react-native: 0.63.3 => 0.63.3
Library version: 2.2.2

## Steps to reproduce

1. just call request(PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY)

Describ

[2020-11-25 08:29] zoontek commented on #544
@tarouboy Did you read this? Probably a duplicate: https://github.com/zoontek/react-native-permissions/issues/541#issuecomment-731221451

[2020-11-25 08:29] #544 closed, assigned to nobody

[2020-11-25 08:41] tarouboy commented on #544
Sorry I missed. I tried to search but didn't use the right keyword. Thank you for pointing out.

[2020-11-25 08:59] zoontek commented on #544
No problem!

[2020-11-25 14:57] Rehubbard opened #545 "Camera permissions on iOS 14 not behaving as expected if user blocks permission"
## Summary
 If a user denies camera permissions (PERMISSIONS.IOS.CAMERA), `check` and `request` do NOT return `RESULTS.DENIED`. Which is what I expected them to return if the user denies camera permission by pressing "Don't Allow".

It works locally when I test on Xcode with a device running iOS 14. But it breaks and behaves as described when I test in TestFlight. Which is the really strange part.

[2020-11-26 08:08] zoontek commented on #545
Hi. I couldn't reproduce it, even with a production app.

[2020-11-26 12:15] resting commented on #443
Had the same error on RN 0.63.3.
I _think_ I solved it by updating cocoapods.

[2020-11-27 15:45] rborn opened #546 "Podspecs have changed paths and docs are not updated"
# Bug report

## Summary

V.3.0.0  has a different path of inidividual podspecs then the one specified in docs

## Environment info

`react-native info` output:

[code]

**Library version:** `3.0.0-beta.2`

## Steps to reproduce

Just `npm install` then run `pod install`

Cocoapods won't find the path if we set the Podfile as per docs:

[code]

I had to change it to

[code]

I can prepare a PR if

[2020-11-27 16:04] zoontek commented on #546
@rborn master branch targets stable version, the v3.0.0 branch doc is already updated: https://github.com/zoontek/react-native-permissions/tree/3.0.0#ios :)

[2020-11-27 16:07] rborn commented on #546
🤦‍♂️ Thanks 😅

[2020-11-27 16:07] #546 closed, assigned to nobody

[2020-11-28 06:59] dylan-westbury opened #547 "3.0.0-beta.2 - Permission podspecs not included in react-native-permissions node_module"
## Summary

3.0.0-beta.2 not generating podspec files for ios permission. Is there a new way to install them? pod install throws error

`[!] No podspec found for `Permission-Notifications` in `../node_modules/react-native-permissions/ios/Notifications.podspec`

<img width="1018" alt="Screen Shot 2020-11-28 at 5 53 22 pm" src="https://user-images.githubusercontent.com/16129043/100495834-62af0680-31

[2020-11-28 09:15] zoontek commented on #547
They are in each handler directory now, which allow us to remove the ".podspec".

Read the 3.0.0 documentation: https://github.com/zoontek/react-native-permissions/tree/3.0.0#ios

[2020-11-28 09:15] #547 closed, assigned to nobody

[2020-11-28 10:30] zoontek commented on #535
@aboveyunhai That's exactly what is recommended by Apple / Google. I'm closing this since it's not really doable.

[2020-11-28 10:30] #535 closed, assigned to nobody

[2020-11-28 10:53] zoontek commented on #547
Update: I published the `3.0.0` release. The documentation on master is now the `3.0.0` one.

[2020-11-30 14:42] geraintwhite opened #548 "Build failure in Xcode 11"
# Bug report

## Summary

There is an Xcode 11 build failure with v3 due to the use of [UNAuthorizationStatusEphemeral](https://developer.apple.com/documentation/usernotifications/unauthorizationstatus/unauthorizationstatusephemeral) which is available on iOS 14.0+.

[code]

## Environment info

`react-native info` output:

[code]

Library version: 3.0.0

[2020-11-30 14:55] zoontek commented on #548
Version 3 require Xcode 12 as it handle iOS 10 to 14.

[2020-11-30 14:55] #548 closed, assigned to nobody

[2020-11-30 14:56] geraintwhite commented on #548
@zoontek perhaps that could be added to the README?

[2020-11-30 14:59] zoontek commented on #548
@grit96 You can create a PR to add it, yes 🙂

[2020-11-30 17:11] CVRamana commented on #443
how?

[2020-12-03 15:20] cjpete commented on #324
For anyone finding this after upgrading to version 3, the constants are now available in a different directory:

[code]

[2020-12-06 14:31] oferRounds commented on #484
@mmorcc have you found any solution? Seeing this also after upgrading to React Native 0.63.4 + react-native-permissions 3.0.0

[2020-12-06 14:32] oferRounds commented on #350
seeing this error – also after upgrading to React Native 0.63.4 + react-native-permissions 3.0.0
All above solution did not work for me
Any idea for someone?

[2020-12-06 14:42] zoontek commented on #350
@oferRounds You might forgot to read the migration guide / the release notes: https://github.com/zoontek/react-native-permissions/blob/master/MIGRATION.md#breaking-changes

[2020-12-06 15:29] oferRounds commented on #350
@zoontek thanks! I have made the change. This is how my pods looks:

[code]

[2020-12-06 15:30] zoontek commented on #350
@oferRounds Did you trash the Xcode DerivedData?

[2020-12-06 15:50] oferRounds commented on #350
Ok, found the issue. My pod file was missing the lines:
[code]
They are not shown in the react-native-upgrade-tool – they were included only when I created a sample project from scratch

Anyhow, everything works great now!

@zoontek thanks for your help!!

[2020-12-06 17:40] mikehardy commented on #350
That looks like it came from RN0.62 -> RN0.63 https://react-native-community.github.io/upgrade-helper/?from=0.62.2&to=0.63.0

[2020-12-06 23:38] oferRounds commented on #350
Thanks, you’re right, I now see those lines. Perhaps I missed them some how...

[2020-12-07 06:37] mmorcc commented on #484
i sovled by use verison ^2.1.5

[2020-12-07 15:07] mikehardy commented on #350
@oferRounds I only ran over there really quickly to check, and re-checked my own project because it's so common right? And I wanted to make sure I personally hadn't missed it or that there wasn't a bug in upgrade-helper (it happens!). Glad you're moving along now, good luck with your project

[2020-12-07 15:28] oferRounds commented on #350
Thank you very much @mikehardy! Appreciate it!

[2020-12-08 11:37] VincentCATILLON opened #550 "Version 3.0.0 published incorrectly"
# Issue report

Hi @zoontek ,
Thanks for your awesome work 👌

## Summary

It seems that the 3.0.0 on npm doesn't include correctly the latest const included in this release (`PHOTO_LIBRARY_ADD_ONLY` for iOS) so we can't reuse it.

## Environment info

[code]

## Steps to reproduce

1. `npm install react-native-permissions@3.0.0`
2. Use `PERMISSIONS.IOS.PHOTO_LIBRARY_ADD_ONLY`
3. Check typescript e

[2020-12-08 11:42] VincentCATILLON commented on #550
Unreproduced, sorry for the noise

[2020-12-08 11:42] #550 closed, assigned to nobody

[2020-12-14 22:52] kukuandroid commented on #353
do you have the project structures of the permissions folder ?

[2020-12-14 22:53] kukuandroid commented on #353
do you have the project structure of the permissions folder ?

[2020-12-18 10:39] romancxx opened #552 "openLimitedPhotoLibraryPicker callback when done"
# Feature request

Hey, great package, it's been really helpful to develop my app. I'm currently using the `openLimitedPhotoLibraryPicker` method to handle a case where users want to update their selection. I would find really helpful a callback when the user is done with updating his selected photos.

## Why it is needed

Since I can't know when the user is done by using `.then()` it's hard for m

[2020-12-18 12:44] zoontek commented on #552
@Nazort The native code does not offer this kind of callback. The only way to do it is currently to wait for the `AppState` status change. This could be done on the native side, but also on the JS side.

[2020-12-18 13:05] fabyeah commented on #498
For me it works on the real device, but is unavailable in the simulator. Have you found a solution to get it working in the simulator?

[2020-12-18 13:12] zoontek commented on #498
@fabyeah This is impossible: https://github.com/zoontek/react-native-permissions/blob/master/ios/MediaLibrary/RNPermissionHandlerMediaLibrary.m#L17

The only solution would be having a real emulator (the iOS simulator does not really emulate iOS, it has a lot of quirks) - see https://www.google.com/search?q=MPMediaLibrary+requestAuthorization+simulator&oq=MPMediaLibrary+requestAuthorization+simula

[2020-12-18 13:17] romancxx commented on #552
@zoontek Thanks for the quick answer and advice, I will implement something using `AppState` then

[2020-12-18 13:17] #552 closed, assigned to nobody

[2020-12-19 19:18] fabyeah commented on #498
@zoontek I see, that explains it. Thought it was a bug, but then it's all good. Thanks for the info!

[2020-12-20 21:19] XI803-ManikMahendru opened #553 "Android permission text"
I am not able to change android Permission text. Even I have used androidCameraPermissionOptions.

[2020-12-20 21:27] #553 closed, assigned to nobody

[2020-12-22 08:00] hemantsati95 commented on #360
i am still not getting , what exactly to do may you please explain in brief ?

[2020-12-30 10:36] yashukla47 commented on #83
I am also. facing the same issue, this is my pod file. @zoontek please can you help

[code]

[2020-12-30 13:58] devWaleed opened #554 "Permissions Handling on Xiaomi devices"
# Feature request

Provide special permissions support for Xiaomi devices.

If your app needs Overlay, Show over lockscreen permissions, there is no way to request those permissions anywhere. We have to go to other packages for these two permissions, there should be a unified package for all permissions need.

## Implementation Help

These links may help you implement it:

https://stackoverflow.co

[2020-12-30 14:23] mkraina commented on #490
Hi guys, I've came up with possible solution [proposed here](https://github.com/zoontek/react-native-permissions/pull/529/files#r550209147) in @tallpants [PR](https://github.com/zoontek/react-native-permissions/pull/529/files)
So far it works just fine for me, hopefully our QA won't find out any flaws with this
here is the `react-native-permissions+3.0.0.patch` generated via `patch-package` (using

[2020-12-30 16:05] zoontek commented on #554
@devWaleed Hi. I'm not sure this package should support non standard permissions.

[2020-12-30 17:35] yashukla47 commented on #449
How do configure it

[2020-12-31 09:32] romancxx commented on #552
I've tried doing something using AppState but with a `listenener` listening on state change, it does not get trigger when the modal is opened or closed, the app stays active at all time.

[2020-12-31 15:18] ShanmugapriyaKesavan opened #555 "Undefined symbol: _OBJC_CLASS_$_RNPermissionHandlerCamera"
xcode error:
Undefined symbol: _OBJC_CLASS_$_RNPermissionHandlerCamera

Pod File:
[code]

[2020-12-31 15:29] mikehardy commented on #555
https://github.com/zoontek/react-native-permissions/blob/8fdfbc2c83f54010529bb262983aff4343721ad1/example/ios/Podfile#L32

The example uses it and it works, you have a project-specific problem that will not involve any changes to this module so it is likely not a bug.

Examine the example vs your project and fix as needed. Note that `npx react-native-clean-project` may help in case it was a stale

[2020-12-31 15:57] ShanmugapriyaKesavan commented on #555
Thanks for your response @mikehardy ..

Got it fixed by manually adding "RNPermissionHandlerCamera.m" file in "Compiler sources" inside "Build Phases" in Xcode..

[2020-12-31 15:57] #555 closed, assigned to nobody

[2020-12-31 16:09] mikehardy commented on #555
FWIW, that sounds like a fix in the wrong direction. Nothing like that is supposed to be necessary
I believe if you examine the example you will see that it does not manually add any source to build phases anywhere, cocoapods integration is supposed to handle that

perhaps you forgot `pod install`

[2021-01-01 06:27] devWaleed commented on #554
@zoontek I think it should have all Android & iOS permissions. I am working on a VOIP app and in Xiaomi devices lockcscreen permissions are not working like other Android devices.

[2021-01-03 00:20] ghost commented on #266
Im using 2.2.2 and the NSAppleMusicUsageDescription bug is still happening.

[2021-01-03 17:50] lakjeewa-rightapps commented on #442
If you updated this package do these,

Try deleting all the node modules - >clear npm cache - > install node modules again -> do  'npx react-native start --reset-cache' -> then do an 'npm run anrdroid' or 'npm run ios'

Worked for me!!!

[2021-01-06 10:04] SandroDahl commented on #360
@hemantsati95 when you use the 3.0.0 release you have to remove the ".podspec" extensions in your Podfile.

https://github.com/zoontek/react-native-permissions/releases/tag/3.0.0 Breaking Change => .podspec extension is no longer required in your Podfile

[2021-01-06 20:24] BrunoTerra97 commented on #360
It worked for me!

When i tried to install react-native-permissions i had a error saying that if i want to use 3.0.0 version, I need to update react-native version. So i updated my react native version from 0.63.2 to 0.63.4 and the library installation by npm was successful.
But I received the error "No podspec found" when i did pod install. So i did what @SandroDahl said and it worked for me!
Tha

[2021-01-10 12:46] leurs247 opened #556 "can't get permission for location when in use (unavailable) on ios"
Hi all,

I'm trying to add location permission to my ios app. This does not work.

My podfile looks like this:
[code]

My info.plist file looks like this:
[code]
When I test all the permissions, I get the following results:
[code]
Media/photo library works, as camera also does. Weird thing: it says "unavailable" at ios.permission.MICROPHONE, but react-native-camera says I'm authorized to use the m

[2021-01-10 19:10] zoontek commented on #556
Did you clean you build artefacts after adding the permission handlers?

[2021-01-12 09:44] retyui opened #557 "ARCHIVE FAILED: RNPermissionHandlerPhotoLibrary.m"
# Bug report

After migration from 2.x.x to 3.0.0 we cannot archive the application

## Summary

[code]

## Environment info

`react-native info` output:

[code]

Library version: 3.0.0

## Steps to reproduce

1. Install module
2. Update pods
[code]
3.  update Info.plist
4. Try to archive app

Describe what you expected to happen:

1. build without errors

## Reproducible sample code

...

[2021-01-12 11:15] retyui commented on #557
Sorry (
That issue fixed, (just changed xCode to 12.x on CI)

[2021-01-12 11:15] #557 closed, assigned to nobody

[2021-01-12 15:09] SriSamVictor opened #558 "How can we open notification alert dialog in app not by redirect to app settings in both android and ios by using this library"
**Notification alert dialog**
How can we open the notification alert dialog from in app by clicking on press method. When we click allow on the notification pop up it will on the app notification settings also.?

Thanks in advance

[2021-01-12 15:10] #558 closed, assigned to nobody

[2021-01-12 15:17] SriSamVictor opened #559 "How to open notification alert dialog without redirect app settings both ios and android"
How to open notification alert dialog without redirect app settings both ios and android

[2021-01-14 14:32] #559 closed, assigned to nobody

[2021-01-14 14:35] zoontek commented on #554
@devWaleed I think we should stick to the base system permissions on this repository. Maybe a fork for non-standard permissions like Xiaomi ones is more appropriate (otherwise it's too hard to maintain)

[2021-01-14 22:30] SnaiNeR commented on #507
@bwindsor thank you for your exporering !
same problem was

[2021-01-16 07:09] michael0793 opened #560 "Error: react-native-permissions: NativeModule.RNPermissions is null"
I get below error, how to fix im trying to work on making a qr code scanner

Error: react-native-permissions: NativeModule.RNPermissions is null. To fix this issue try these steps:
  • If you are using CocoaPods on iOS, run `pod install` in the `ios` directory and then clean, rebuild and re-run the app. You may also need to re-open Xcode to get the new pods.
  • If you are getting this error while

[2021-01-16 11:35] zoontek commented on #560
Hello 👋 Please search for duplicate issues first: https://github.com/zoontek/react-native-permissions/issues?q=is%3Aissue+null

[2021-01-16 11:35] #560 closed, assigned to nobody

[2021-01-19 09:43] michael0793 commented on #429
Im using expo and i get this error react-native permissions:NativeModule.RNPermissions is null. Im using android device

shows loadmodukleImplementation under call stack guarded load module

[2021-01-21 05:18] ghost opened #561 "Requesting a permission doesn't display on top of current react native view"
# Bug report

## Summary

When requesting permissions the popup is displayed in the base view controller / activity, instead of on top of the current react native screen. At the moment it displays on top of the initial screen when the app is powered app and then go back to where the user is before requesting the permission.

It would be better if it's shown on top of the react native view context.

[2021-01-21 21:03] zoontek commented on #561
I don't understand the issue. Could you provide more context (does it happen on Android, on iOS? Which OS version? Do you have a screen video capture)? Which other libs are you using?

[2021-01-21 21:04] #556 closed, assigned to nobody

[2021-01-21 21:04] #545 closed, assigned to nobody

[2021-01-22 03:13] ghost commented on #561
Let's say my splash screen is dark like this, and that I request a permission from another screen, when it displays the permission modal it shows it on top of the splash screen as below. It happens on Android and iOS and the version doesn't matter as it happens regardless of that. I'm using the latest version 3.0.0

<img width="459" alt="Screen Shot 2021-01-22 at 3 56 23 PM" src="https://user-imag

[2021-01-22 21:01] tycali17 commented on #449
You can configure a permission by setting it in ios folder's info.plist and including its path in podfile after including ios permissions path. pod install after adding permission. I was able to fix no permission handler detected by doing this (with correct pod path), cleaning xcode project, deleting app from phone, and re-installing.

[2021-01-24 17:22] zoontek commented on #561
@proverbface Which lib are you using for your splash screen? (PS: This is not recommended to ask for permissions while the splash screen is visible, and your issue is probably not related to this library - but we can try to resolve it)

[2021-01-26 21:55] ghost commented on #561
This issue was not an issue with this library. Thanks for the support and the awesome work. Closing this issue.

[2021-01-26 21:55] #561 closed, assigned to nobody

[2021-01-27 12:49] the-habu commented on #395
+1 😔

[2021-01-27 13:16] zoontek commented on #395
@the-habu Instead of spamming maintainers with `+1` (this is why we have reactions emojis), you can write a PR 🙂

[2021-01-29 16:27] voulgarakis commented on #509
is there a way to request user to allow Local Network permission in iOS 14?

[2021-02-01 20:27] guillaume-g commented on #541
Hi guys,

I am reopening this cuz I have no idea why it's not working for me (I am also in France, what a coincidence).
I have done everything like said above and my tracking is ON.

Still everytime I call _request(PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY)_, I have the result : **blocked**.

I have :

- Installed the package
- Added the permission in podfile
- Added the NSUserTrackingUsageDescrip

[2021-02-02 08:13] egealpay commented on #555
I did `pod install`. However, RNPermissionHandlerCamera.m file was not in "Compiler sources" inside "Build Phases" in Xcode. My Podfile:

[code]

Any comment?

[2021-02-02 09:14] arbab-io opened #562 "Overlay permission already granted in android"
# Feature request

I hope you all doing fine but I am not please help me I am facing an issue and it has been headache for me. Actually issue is related to react native overlay permission current progress is we have to ask user manually for the permission but I want something like WhatsApp, In which system automatically grants the overlay permission in any android version. Any link or any thought

[2021-02-04 02:37] vivkikkk opened #563 "android permistion com.zoontek.rnpermissions.RNPermissionsModule$2.invoke (RNPermissionsModule.java:375"
java.lang.RuntimeException:
  at android.app.ActivityThread.performResumeActivity (ActivityThread.java:4538)
  at android.app.ActivityThread.handleResumeActivity (ActivityThread.java:4570)
  at android.app.servertransaction.ResumeActivityItem.execute (ResumeActivityItem.java:52)
  at android.app.servertransaction.TransactionExecutor.executeLifecycleState (TransactionExecutor.java:176)
  at android

[2021-02-04 07:49] #563 closed, assigned to nobody

[2021-02-05 10:59] tuan072090 opened #564 "Property 'accuracyAuthorization' not found on object of type 'CLLocationManager *'"
## Summary
I got this error after install react-native-permission and do exactly as the document.

## Environment info

Here are my codes in Podfile
[code]
And in Info.plist

[code]

Here is the error screenshot

<img src="https://media.dev.meete.co/cache/0x0/2021/02/05/83cbb67a-a486-4eff-9356-e79e912783ad.png"/>

Does anyone get the same issue?

`react-native info` output:

[code]

Library versio

[2021-02-05 12:08] zoontek commented on #564
@tuan072090 Are you sure you run the latest Xcode with iOS 14 SDK?

[2021-02-06 08:42] #554 closed, assigned to nobody

[2021-02-08 02:34] ibingdian opened #565 "Returns Block in android even if the permission is granted in the settings"
Returns Block in android even if the permission is granted in the settings !!!!!!!!

## Environment info
Library version:
    "react": "16.13.1",
    "react-native": "0.63.4",
    "react-native-permissions": "^3.0.0",

## Steps to reproduce
1. first，blocked the permission ；
2. then, and open the permission in system settings;
3. last,check or request the permission , but the result is always BLOCK

[2021-02-08 02:38] ibingdian commented on #565
the phone is XiaoMi MI 9 、android 10

[2021-02-08 14:35] zoontek commented on #565
@ibingdian First, hello. This is a known issue: https://github.com/zoontek/react-native-permissions/releases/tag/3.0.0 (see `Known issue`). This is an issue with the platform itself.

[2021-02-11 16:42] Stophface commented on #521
This, this should really stand somewhere in the docs. That could have saved me some complicated logic and headache how to handle these two requests ;)

[2021-02-11 17:14] mikehardy commented on #521
@Stophface in "open source" the word "should" is best re-written as "here's a link to the PR" :-), the documents are open source and you could propose a change to them using the github web flow easily, exactly where developers need to see them since you just went through the process you probably have a perfect perspective on that

[2021-02-11 17:23] Stophface commented on #521
@mikehardy Working on it

[2021-02-11 17:47] Stophface opened #566 "Edit Readme: Include information about requesting PERMISSIONS.IOS.LOCATION_ALWAYS and PERMISSIONS.IOS.LOCATION_WHEN_IN_USE"
I think the informatin provided in this post https://github.com/zoontek/react-native-permissions/issues/521#issuecomment-777629554 could be really useful for other developer using this library. Thus, the information should be in the documentation and not deeply hidden in a Github post.

[2021-02-11 17:50] Stophface commented on #521
@zoontek I have edited the `README` according to this #566. I cloned the project, made a new branch. But I am not allowed to push to your repository. I also have the updated `README` in a clone of the repository in my git https://github.com/Stophface/react-native-permissions. Do you want to include it?

[2021-02-12 12:48] kuraydev commented on #521
@Stophface you can open a new Pull Request from your cloned repo then @zoontek can review and push it on official repo.

[2021-02-12 12:54] Stophface commented on #521
@WrathChaos I am not sure how to open a Pull Request from my Repo. I cannot choose this Repo..

[2021-02-12 12:58] ge0rg opened #567 "Make the library actually unified"
Hi,

after reading the project description, I was intrigued, as I was actually looking for a *unified* permissions management library, that would abstract away the different platform details and allow the app developer to focus on the actual app.

May I suggest the following improvements to accomplish that goal?

1. Have an exported superset of all permissions supported on any of the platforms as

[2021-02-12 13:11] kuraydev commented on #521
@Stophface
![image](https://user-images.githubusercontent.com/6813862/107772110-ced5eb00-6d4c-11eb-8bfe-e0d8aad00170.png)

Fork the project, make the difference, commit and push the code on your forked repo and then come to this screen. You should see your repo/branch in this part.

[2021-02-12 13:50] Stophface commented on #521
@WrathChaos I have not worked with Github in quite a while and did not find the `fork` button.
https://github.com/zoontek/react-native-permissions/pull/568

[2021-02-12 15:38] Stophface opened #569 "On LOCATION_ALWAYS and LOCATION_WHEN_IN_USE I get Permission blocked, although Allow Once is tapped"
## Summary

This happens when I request one of these two permissions LOCATION_ALWAYS or LOCATION_WHEN_IN_USE.
The dialog appears as expected. However, when I click "Allow once", the resulting Dialog of `request()` the `result` is `blocked`. I expect a `granted`

## Environment info
`react-native info` output:

[code]

Library version: ^3.0.0

## Steps to reproduce
Describe what you expected to hap

[2021-02-12 17:08] zoontek commented on #567
@ge0rg Hi,

1. It's way too hard to unify permissions across platform. Some of them have a specific flow (ex: location, notifications, photo library…), so I'd rather let the developer having full power to check / request them the way he want.
2. That's already the case
3. That's already the case (it's in the README - and except some specific rules on iOS they are basically the same)
4. `check`,  `

[2021-02-12 17:08] #567 closed, assigned to nobody

[2021-02-12 17:10] zoontek commented on #562
@arbabr96 Hi, could you provide more informations about your request?

[2021-02-12 17:10] #564 closed, assigned to nobody

[2021-02-12 17:11] #566 closed, assigned to nobody

[2021-02-12 17:12] zoontek commented on #569
Hi! Thanks for the PR. I closed the duplicate issue, will have a look when I have some time 🙂

[2021-02-14 08:32] gabriprat commented on #552
I also tried with `AppState` listeners with no luck. Also with navigation and layout events. I found no way of detecting that the user is done with updating his selected photos. Can we reopen the issue?

[2021-02-15 12:20] ABespolov commented on #483
1) update pod file
[code]
2) Clean cache `pod cache clean --all`
3) Clean build folder `XCode -> Product -> Clean build folder`
4) Run `pod install`

It should help

[2021-02-16 15:41] lisabaut commented on #324
Reading the PERMISSION directly from `'../node_modules/react-native-permissions/dist/commonjs/permissions.js'`
results in empty objects:

[code]

To use the actual PERMISSIONS in the tests I needed to adjust the mock to

[code]

[2021-02-17 02:50] tuan072090 commented on #564
you are right @zoontek , after I upgraded my xcode, the issue is fixed.

Thank you.

[2021-02-21 20:31] #562 closed, assigned to nobody

[2021-02-22 22:15] nschild opened #570 "PERMISSIONS.ANDROID.ACCESS_BACKGROUND_LOCATION not triggering a prompt"
# Bug report

## Summary
PERMISSIONS.ANDROID.ACCESS_BACKGROUND_LOCATION not triggering a prompt

## Environment info

`react-native info` output:

[code]

Library version: 3.0.0

## Steps to reproduce
1) fresh install app or reset all permissions to "ask"
2) request for background permission

Describe what you expected to happen:
to get a prompt

## Reproducible sample code
[code]

[2021-02-22 22:49] naru200 commented on #570
https://developer.android.com/reference/android/Manifest.permission#ACCESS_BACKGROUND_LOCATION

You have to request ACCESS_COARSE_LOCATION or ACCESS_FINE_LOCATION too.

try this:

[code]

[2021-02-23 02:39] daonamutc1 commented on #449
In my case:
pod 'Permission-Camera', :path => "#{permissions_path}/Camera/Permission-Camera.podspec"
You can check in ../node_modules/react-native-permissions/ios and then change link

[2021-02-23 09:39] zoontek commented on #570
@naru200 is right. It's weird, but it's the official API 🤷🏻‍♂️

[2021-02-23 09:39] #570 closed, assigned to nobody

[2021-02-24 07:49] arbab-io commented on #562
I want to create a service which ask and grant 4 to 5 permissions by clicking one button

[2021-02-25 10:48] efstathiosntonas opened #571 "iOS microphone permission pop up not appearing on real device"
# Bug report

## Summary

In my app user has to tap a microphone to send an audio message, before opening the voice record bottom sheet I need to check for microphone permission. The native iOS microphone permission pop up won't open after requesting permission. I had to change the [`RNPermissionHandlerMicrophone.m`](https://github.com/zoontek/react-native-permissions/blob/master/ios/Microphone/RN

[2021-02-25 10:50] zoontek commented on #571
@efstathiosntonas Thank you! Can you please open a pull request instead?

[2021-02-25 10:50] efstathiosntonas commented on #571
@zoontek sure

[2021-02-25 10:53] zoontek commented on #571
It seems a bit weird that updating the `checkWithResolver` method fix the `request`. You are still calling `[AVCaptureDevice requestAccessForMediaType:AVMediaTypeAudio completionHandler:]` which is responsible for showing the popup.

[2021-02-25 10:54] #569 closed, assigned to nobody

[2021-02-25 10:55] efstathiosntonas commented on #571
this is the code:

[code]

[2021-02-25 10:58] efstathiosntonas commented on #571
i think the issue is in this line: `[AVCaptureDevice authorizationStatusForMediaType:AVMediaTypeAudio]`, this line won't call it immediately for some reason and it returns undetermined

[2021-02-25 11:03] zoontek commented on #571
This is only used to check permission, not triggering the popup. See iOS documentation: https://developer.apple.com/documentation/avfoundation/avcapturedevice/1624613-authorizationstatusformediatype

This method perform incorrectly on the simulator, but not on real devices (https://stackoverflow.com/questions/32988277/avauthorizationstatusnotdetermined-on-ios-simulator)

Did you enabled Microphone

[2021-02-25 11:08] efstathiosntonas commented on #571
I'm on Xcode 12.4, ios 14.4, iPhone XS  and I have enabled microphone capability on Xcode (`NSMicrophoneUsageDescription` on `info.plist`).

On the so link you provided, the answer provided uses the same logic as my changes hmmm

**edit**: witch one would be better to use though? I mean for the package it self. Should we add one more `request` type that forces the pop up to open?

[2021-02-25 11:17] zoontek commented on #571
@efstathiosntonas Not according to Apple documentation:

<img width="759" alt="Screenshot 2021-02-25 at 12 12 16" src="https://user-images.githubusercontent.com/1902323/109145482-d0e37500-7762-11eb-9e9a-b31ae83d3153.png">

`[AVAudioSession sharedInstance]` also expose a `requestRecordPermission` method. It's probably better to change the `check` and the `request` to use this API if it's perform be

[2021-02-25 12:27] zoontek commented on #571
I made a release with the fix: https://github.com/zoontek/react-native-permissions/releases/tag/3.0.1 (tried it on the simulator and a device, it works perfectly well)

Thanks for your help!

[2021-02-25 12:27] #571 closed, assigned to nobody

[2021-02-25 12:30] efstathiosntonas commented on #571
thanks @zoontek, was going to PR it later but you got me first 😀

[2021-03-02 12:40] jessanKhan commented on #429
@zoontek  Hi I am using expo. and also getting this error. I don't have any package which needs linking. still getting this error. Please help.
my package.json look like this
{
  "name": "RNFoodDeliveryDriver",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",

[2021-03-02 20:15] jessanKhan commented on #457
@zoontek  This issue is not fixed for expo cli. please help

[2021-03-02 20:16] zoontek commented on #457
This package does not support Expo. Use https://docs.expo.io/versions/latest/sdk/permissions

[2021-03-02 20:19] jessanKhan commented on #457
@zoontek Thanks for the confirmation

[2021-03-06 15:16] mtalhagaoglu commented on #356
i have same problem... is there any solution for it?

[2021-03-07 11:24] gran33 opened #573 "Am I the only one who think that "Denied" is wrong state for the unknown status?"
## Summary

Denied means - "I refuse"
Denied doesn't mean - "I still don't know, you can ask me if you want"

Form oxford -
_"State that one refuses to admit the truth or existence of."_

I think it should be Unknown or Undefined or Null...

## Steps to reproduce
See denied result 🤷‍♂️

[2021-03-07 12:51] zoontek commented on #573
I agree, but it's the default Android wording 🤷🏻‍♂️

[2021-03-07 12:51] #573 closed, assigned to nobody

[2021-03-07 12:53] zoontek commented on #573
https://reactnative.dev/docs/permissionsandroid

https://developer.android.com/training/permissions/requesting

[2021-03-07 12:57] gran33 commented on #573
I don't see any reference that doing such misleading terminology...
All your link shows that "denied" is when the user been asked and says no, explicitly.

[2021-03-07 13:00] gran33 commented on #573
Anyway, thanks for an awesome library and well-typed as well!

[2021-03-07 13:03] zoontek commented on #573
![BD5BB7C8-C3EE-48D1-B7E0-548FD63E479B](https://user-images.githubusercontent.com/1902323/110240685-6ba33700-7f4d-11eb-87ef-22c138edb344.png)

No, just try using React Native `PermissionAndroid` module or native `checkPermission`, if you never asked it, it will return `denied`.

Which could somehow make sense because the access to the feature is `denied`… Even if I think `undetermined` makes more

[2021-03-07 21:05] zico4reel opened #574 "Readme misleading for android user manual link import com.zoontek.rnpermissions.RNPermissionsPackage"
Hi Everyone,

I couldn't tell for sure were to add this issue under, but the Readme for manual linking is kinda misleading

as it is no longer
`import com.zoontek.rnpermissions.RNPermissionsPackage;`

but now
 `import com.reactnativecommunity.rnpermissions.RNPermissionsPackage;`

I am not sure who this might help, but to who ever this is relevant to, I wish you best of luck and good luck

[2021-03-07 21:09] zico4reel commented on #574
Also, I will love to add if you're facing the RNPermission null thing on Android, while working on a windows OS or any other OS it may pop up, I think it is simply best you manual link

[2021-03-08 08:04] zoontek commented on #574
@zico4reel Are you using v3 (current version, current README)? Did you clean your Gradle cache?

Because the namespace is correct: https://github.com/zoontek/react-native-permissions/blob/3.0.1/android/src/main/java/com/zoontek/rnpermissions/RNPermissionsPackage.java#L1

[2021-03-08 08:30] zico4reel commented on #574
Hi, my apologies, I just checked, it is version 2.2.2, as it was installed as a dependency package.

[2021-03-08 08:37] #574 closed, assigned to nobody

[2021-03-08 08:38] zoontek commented on #574
@zico4reel Check the documentation for your version here: https://github.com/zoontek/react-native-permissions/tree/2.2.2

[2021-03-08 17:33] jonathangilbert02 opened #575 "App Tracking Transparency Permissions return Granted for ios < 14"
# Bug report

## Summary

When using ios < 14 and checking PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY value, it returns GRANTED.

Since the feature is not available pre ios 14 device as per apple, I would expect it to be UNAVAILABLE.

## Environment info

Library version: 3.0.0

## Steps to reproduce

1. Check PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY with an ios version < 14
2. Result is GRANTED

[2021-03-08 19:58] zoontek commented on #575
On iOS 14, it uses https://developer.apple.com/documentation/adsupport/asidentifiermanager/1614148-advertisingtrackingenabled?language=objc instead.

Which was, if you check the warning, the previous way of checking it 🙂

[2021-03-08 20:33] jonathangilbert02 commented on #575
With the current module documentation I was expecting to see RESULTS.UNAVAILABLE since the feature was not available prior to ios 14.

I understand there was a parameter _isAdvertisingTrackingEnabled_  as you mentioned but if i'm not mistaken there is no permission request related to it, so receiving RESULTS.GRANTED/RESULTS.DENIED could be quite misleading since the permission is not requestable o

[2021-03-10 15:39] zoontek commented on #575
@jonathangilbert02 `APP_TRACKING_TRANSPARENCY` is just the new name, but it the replacement of `isAdvertisingTrackingEnabled`. If you use the check / request pattern it will work flawlessly with any iOS version. That's the goal, not having to handle OS retrocompatibility.

[2021-03-11 13:58] xclidongbo commented on #504
the same error.

[2021-03-11 20:32] #575 closed, assigned to nobody

[2021-03-12 11:02] goldqwert commented on #395
+1

[2021-03-12 19:57] haveamission opened #576 "APP_TRACKING_TRANSPARENCY is constantly unavailable, even on device"
I have installed the relevant pods, I have the latest version of React Native Permissions, and I am trying the following code:

[code]

I have also created this in my info.plist:

[code]

I get:

"unavailable"

Are there any other steps that need to happen here, or is this a bug?

[2021-03-12 21:40] zoontek commented on #576
@haveamission Did you checked https://github.com/zoontek/react-native-permissions/issues/541#issuecomment-731221451 ?

[2021-03-12 21:43] haveamission commented on #576
@zoontek Yeah, I checked that setting and it is enabled on my phone

[2021-03-12 21:48] zoontek commented on #576
Could you fill the rest of the issue template ? I need more infos (device, iOS version, etc). Thanks!

[2021-03-12 21:53] haveamission commented on #576
@zoontek Here you go:

## Summary

I try to request the App Tracking Transparency, and get unavailable

## Environment info

`react-native info` output:

[code]

Library version: 3.0.1

## Steps to reproduce

Run this function from my app login page:

[code]

I get:

[code]

Describe what you expected to happen:

I get a prompt for app tracking

It happens in both the simulator as well as on my iP

[2021-03-12 22:04] haveamission commented on #576
Could any library be causing a conflict here? I have Appsflyer installed as well

[2021-03-18 03:58] shawnbrink47 opened #577 "Property 'accuracyAuthorization' not found on object of type 'CLLocationManager *'"
Error building ios
"Property 'accuracyAuthorization' not found on object of"

react-native-permissions "version": "3.0.0",
expo  "version": "37.0.12",

pod file
platform :ios, '12.0'
project 'app.xcodeproj'

require_relative '../node_modules/react-native-unimodules/cocoapods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

# $ReactNativeMapboxGLIOSVersio

[2021-03-18 09:41] zoontek commented on #577
Be sure you are using the latest Xcode version with the latest iOS SDK

[2021-03-18 09:41] #577 closed, assigned to nobody

[2021-03-19 14:59] trackwell-mike opened #578 "Can we delay WRITE/READ_EXTERNAL_STORAGE permission requests until a specific time, rather than app launch?"
# Bug report

## Summary

Our project uses both `READ_EXTERNAL_STORAGE` and `WRITE_EXTERNAL_STORAGE` permissions so we can have a user select images from their phone's image gallery, and save to the gallery/storage.

The problem is that when the user installs the app and the app FIRST LAUNCHES, it requests these permissions. We would rather show this permission request when they perform an action

[2021-03-19 21:23] zoontek commented on #578
Hi! Where do you perform the `request()` call?

[2021-03-22 12:28] trackwell-mike commented on #578
Hi @zoontek - Thanks for getting back to me. I needed to double-check with my team, but we do not call `request()` at app initialization. I'm not sure if this shot helps, but we call the `request()` function (line 854 in the screenshot) inside another function we use for asking the save option in Save Photo and Preview.

![](https://user-images.githubusercontent.com/61172689/111989658-71ba1b80-8ae

[2021-03-22 12:59] zoontek commented on #578
@trackwell-mike And are you sure this method is not called at start?

Did you tried the example app to check if a similar issue happen on the same testing conditions?

https://github.com/zoontek/react-native-permissions/tree/master/example

[2021-03-22 13:11] trackwell-mike commented on #578
@zoontek Thank you for your quick reply. We haven't tried the example app. I'm positive we are not calling this method at start.

*   The only place we are calling `request()` is in this `hasAndroidPermission()` function, and 
*   The only place we're calling that is in `savePicture()` function, and
*   The only place we're calling that is when the user is opening the camera.

![](https://user-ima

[2021-03-22 13:32] zoontek commented on #578
@trackwell-mike Could you try the example app? I cannot reproduce the issue.

[2021-03-22 13:48] mikehardy commented on #578
I don't reproduce this either. Permissions are not requested *by this module* unless and until you run the request API. This is project-specific, maybe some other project module doing it.

[2021-03-22 14:56] trackwell-mike commented on #578
@mikehardy - Thanks for chiming in as well. (Also appreciate your help getting `react-native-fbsdk` forked for the new SDK)

We are going to completely remove `react-native-permissions` from our project and see if that still causes the permission request. If it does, we'll know it's another library requesting it (like Instabug or something else we might be using). We should have done this prior to

[2021-03-22 17:09] zoontek commented on #578
Thanks for the confirmation!

[2021-03-22 17:09] #578 closed, assigned to nobody

[2021-03-24 11:58] eresid opened #579 "Unable to resolve dependency tree"
# Bug report

## Summary

<img width="695" alt="Screenshot 2021-03-24 at 13 54 55" src="https://user-images.githubusercontent.com/3881790/112306491-86451200-8ca8-11eb-8a3a-f01736a1d51e.png">

## Environment info

`react-native info` output:

[code]

Library version: 0.63.4

## Steps to reproduce

1. npm install react-native-permissions
2. npm i

[2021-03-24 14:15] zoontek commented on #579
Which version of `npm` are you using? If you are using npm v7, try install deps with `--legacy-peer-deps`

[2021-03-25 07:48] zoontek commented on #576
@haveamission Could you reproduce it with the app from the /example directory?

[2021-03-25 07:52] zoontek commented on #579
Confirmed, it seems linked: https://stackoverflow.com/questions/64573177/unable-to-resolve-dependency-tree-error-when-installing-npm-packages

I will try fo find what it is now recommended (dropping `peerDependencies` usage entirely?)

[2021-03-25 14:15] mikehardy commented on #579
I was really curious about this so I read that stackoverflow (good link @zoontek thanks)

peerDependencies still seems valid, but people have gotten lazy keeping them correct because npm was always ignoring them - both on the maintainer side not really keeping the ranges correct and the consumer side not really keeping things up to date.

Looks like npm7 is going to change the world there, everyon

[2021-03-25 15:44] chrispaynter commented on #576
I tried the example app on my iPhone (running 14.4.1), with the "Allow Apps to Request to Track" setting enabled and at first launch the `APP_TRACKING_TRANSPARENCY` permission is set to blocked and cannot be pressed.

There is also no individual setting for allowing tracking in the app's own settings themselves.

<img width="601" alt="image" src="https://user-images.githubusercontent.com/1684083/1

[2021-03-26 13:29] abdulajet opened #581 "RECORD_AUDIO permission on Android does not show prompt and is automatically granted."
# Bug report

## Summary

When requesting the `RECORD_AUDIO` permission for android it shows no prompt and is automatically granted even though it needs to be explicitly requested https://developer.android.com/training/permissions/requesting

When i run the app from android studio the prompt shows as expected.

## Environment info

`react-native info` output:

[code]

Library version: 3.0.1

## St

[2021-03-26 16:54] zoontek commented on #581
@abdulajet Hi! Do you use a particular version of Android? (modified by Samsung or else). When it returns `granted`, is using the microphone really possible or is it a false positive?

[2021-03-26 19:07] abdulajet commented on #581
I am using a pixel 4 emulator on API version 30. The microphone works, only issue if the lack of prompt

[2021-03-26 19:09] zoontek commented on #581
@abdulajet And the check method also return granted? By using the check / request pattern, it's not really an issue for the library 🙂

[2021-03-26 19:17] abdulajet commented on #581
likely an issue with react-native then?

Thanks for the quick response

[2021-03-26 19:19] zoontek commented on #581
I think it's more an issue with the Android version on your device. Neither React Native or this library can bypass the Android permissions system.

Edit: I saw you use the emulator. Did you tried on a real device?

[2021-03-26 19:25] abdulajet commented on #581
excellent point.

i don't have a device, will try next week. feel free to close the issue 🙂

[2021-03-26 19:39] zoontek commented on #581
@abdulajet Ok let's do that. Don't hesitate to publish feedbacks once you tried 🙂

[2021-03-26 19:39] #581 closed, assigned to nobody

[2021-03-31 16:17] jeeyunlee-fe commented on #460
same issue here.

after installing react-native-permission, app started to show notification permission popup when launching.
it does not work like this before installing react-native-permission.

even if I don't request anything with react-native-permission, it happens.

I'm using 3.0.1

[2021-04-01 12:49] tashachin commented on #229
Question, where is the CONTRIBUTING.md file?

[2021-04-01 14:49] zoontek commented on #579
Just take more time to check if it's an issue with the package, and @mikehardy seems right here.
I think we can close this issue for now.

[2021-04-01 14:50] #579 closed, assigned to nobody

[2021-04-02 04:04] lyrpromax opened #583 "Which version supports 0.59?"
I'm working on integrating QR code scanning on RN 0.59, but unfortunately I can't find a support version for 0.59

[2021-04-02 05:58] mikehardy commented on #583
git blame the version line in the README - it says 1.2.x were the last versions that supported pre-0.60

https://github.com/zoontek/react-native-permissions/blame/4d0bb99a57a618e8f298d41a9036a4a573167b7e/README.md

[2021-04-02 09:20] #583 closed, assigned to nobody

[2021-04-04 07:04] ankitbaid11326 commented on #579
This is happening with node 14. With node 12 its able to install

[2021-04-04 15:05] mikehardy commented on #579
@ankitbaid11326 there is no such thing as npm 14.

There is a node 14. There is an npm 7. npm 7 exhibits the issue (as noted above) but if I understand correctly you can if you like update npm 6 which came during the npm12 (and npm14!) era to npm 7 in those node installations.

So be careful, and do not confuse different tools and different versions, or you will have confused results

[2021-04-05 14:08] geroale commented on #509
Same issue here

[2021-04-05 15:10] mikehardy commented on #509
@geroale doesn't look like an "issue" at this point, based on @jimji1005 comment it looks like it needs someone to implement it. Do you have  PR you could propose?

[2021-04-09 16:27] ireshdudeja commented on #407
I tried the mentioned steps but bluetooth permissions are not working. I am using iOS 14.2

[2021-04-09 17:48] connorpmullins opened #584 "Typescript Compile fails using version RNP 3.0.1 and Typescript 3.7.2"
## Summary
Upgrading from react-native-permissions 2.0.9 to 3.0.1 causes the command `yarn tsc` to fail

## Environment info
Versions:
[code]

`react-native info` output:

[code]

Library version: x.x.x

## Steps to reproduce
1. Create a RN typescript repo using react native 0.62.2
`npx react-native init MyApp --version react-native@0.62.2 --template react-native-template-typescript`
2. Yarn insta

[2021-04-09 18:55] mikehardy commented on #584
If you cannot update your typescript to 3.8+ I don't believe you can use that version as 3.8+ is needed to handle import type / export type

Same thing happened to me as maintainer in device info, it was most unfortunate as it was an unexpected breaking change I released there https://github.com/react-native-device-info/react-native-device-info/issues/1167#issuecomment-796892712

[2021-04-09 19:28] zoontek commented on #584
As @mikehardy says, version 3 of this library require TypeScript 3.8+.
I recommend rolling back to v2 until you can upgrade.

[2021-04-09 19:29] connorpmullins commented on #584
Great to know - thanks for the response, team 👍

[2021-04-09 19:30] #584 closed, assigned to nobody

[2021-04-13 08:21] enesbildiren95 commented on #419
Same issue.
Device: Xiaomi Redmi Note 7 (Android 10)
react-native: 0.63.3
react: 16.13.1
react-native-permissions: 3.0.1

`check(PERMISSIONS.ANDROID.WRITE_EXTERNAL_STORAGE)`
`.then((result) => {`
`console.log(result)`
`})`

result returned "denied" after choosing "do not ask again"

Any solution? Thank you.

[2021-04-13 08:21] thuannv-wrethink commented on #552
Can not find out a solution for this issue. Can someone help me?

[2021-04-19 12:27] ericksondelacruz opened #585 "Is there a way to use this using RN version 59.9?"
## Summary

I am having this kind of issue [!] Unable to find a specification for `RNPermissions` depended upon by `Permission-Camera` when I am trying to run `pod install`.

I don't know if this version supported RN version 59.9.

## Environment info

`react-native info` output:

[code]

Library version: 3.0.1

[2021-04-19 12:42] ericksondelacruz commented on #350
Open RNPermissions.podspec in node_modules/react-native-permissions replace s.dependency "React-Core" with s.dependency "React/Core".

https://github.com/facebook/react-native/issues/30018#issuecomment-716041423

[2021-04-19 12:45] ericksondelacruz commented on #585
1. Add `pod 'RNPermissions', :path => '../node_modules/react-native-permissions'` in Podfile
2. In RNPermissions.podspec replace "React-Core" with "React/Core"

[2021-04-19 12:45] #585 closed, assigned to nobody

[2021-04-19 13:51] parnekov commented on #556
works for me. thank you!

[2021-04-19 18:32] mikehardy commented on #350
@ericksondelacruz I don't think that advice is correct for all people. I think that advice is for people on old react-native versions.

You can clearly see the name of the Pod is "React-Core" *now*

https://github.com/facebook/react-native/blob/1fc1873c21a6d9c689d15101572dffd78caa3e04/React-Core.podspec#L38

And that file was added 2 years ago here - for RN0.61 I believe

 https://github.com/faceb

[2021-04-19 18:34] mikehardy commented on #585
Just a thought - jcenter is going away in a month or so, meaning android builds that don't update to handle it will simply start failing completely in a couple weeks.

I think it's more important to get on current versions for reasons like that then it is to hack support in to old versions - I'd very concerned if I wasn't ready + able to take current version bumps into my app at the moment.

https

[2021-04-20 16:54] VincentCATILLON opened #586 "Android: MANAGE_EXTERNAL_STORAGE support"
# Feature request

On Android 11 (API 30), some apps need to request this permission.

## Why it is needed

Because some apps need to access external storage since Android 11.

[2021-04-21 07:32] MGhufranKhalil opened #588 "Permission Denial: receiving Intent android.intent.action.PHONE_STATE"
# Permission Granted but still showing this error

I have android 9 I have granted a permission READ_PHONE_STATE and also added in manifest file but still my app showing  error

**Permission Denial: receiving Intent android.intent.action.PHONE_STATE**

TIA

[2021-04-21 09:19] #586 closed, assigned to nobody

[2021-04-21 09:36] zoontek commented on #588
@MGhufranKhalil Please respect the issue template. Could you also provide your `AndroidManifest.xml`?

[2021-04-21 09:48] MGhufranKhalil commented on #588
[code]

[2021-04-21 09:51] zoontek commented on #588
What's the error on your logcat?

[2021-04-21 09:56] MGhufranKhalil commented on #588
getting following error when ever I try to run app

04-21 14:47:06.226  1674  2620 W BroadcastQueue: Permission Denial: receiving Intent { act=android.intent.action.PHONE_STATE flg=0x1000010 (has extras) } to com.frontforceapp/com.callrecorder.receiver.RecReceiver requires android.permission.READ_PRIVILEGED_PHONE_STATE due to sender android (uid 1000)

[2021-04-21 10:10] zoontek commented on #588
it looks clear to me: `requires android.permission.READ_PRIVILEGED_PHONE_STATE`, which is not supported by this library.

[2021-04-21 10:15] zoontek commented on #588
I found very few documentation about it, but maybe try

[code]

And requesting the `READ_PHONE_STATE` permission.

[2021-04-21 11:01] zoontek commented on #576
iOS 14.5 is out soon, ATT is supposed to work correctly after.

[2021-04-22 20:01] chrispaynter commented on #576
Let's hope. After upgrading to 14.5 betas we still have testers having issues with getting the dialogue to show up. Sometimes the check box to allow apps to track is greyed out. Some devices are ok, others aren't.

All in all, it's a bit of a dogs breakfast, but we're proceeding with a view that the devices it does pass testing on will represent all devices at some point.

[2021-04-23 07:49] zoontek commented on #576
It might happen because those users don't allow apps to track them? https://stackoverflow.com/questions/62817164/idfa-ios14-returns-denied-without-displaying-auth-popup/62840480#62840480

It this switch is off, the request popup won't show up.

[2021-04-24 00:49] daniel112 opened #589 "REQUEST: requestNotifications on Android to behave similarly to the iOS counterpart"
# Feature request

On iOS, calling `requestNotifications` actually triggers the callback for the push token, but on Android it only returns the `status`.
- https://github.com/zoontek/react-native-permissions/blob/7bc22a975aa17dbbbfa21b5c83852f0f12d1f7ac/src/methods.android.ts#L91
-
This is minor because I can just utilize the library `react-native-push-notifications`, but for consistency sake I th

[2021-04-24 18:29] zoontek commented on #589
Notifications cannot be requested on Android, so the request is basically just a check on this platform.

[2021-04-24 18:29] #589 closed, assigned to nobody

[2021-04-26 11:28] afonso-tsx commented on #576
I'm having the same issue on iOS 14.3, and the tracking switch is ON in my device.

[2021-04-26 12:24] chrispaynter commented on #576
We've already covered that one @zoontek, it seems like the problem surfaces in two main symptoms.

1) Even though allow to track is **enabled**, the device doesn't respond to ATT requests (i.e blocked)
2) The allow to track switch in settings is often greyed out, requires sign in and out of iCloud to reenable.

Maybe there's others I haven't seen yet.

[2021-04-26 19:54] ccdwyer commented on #576
I'm seeing this as well. Looks like it's a common issue: https://developer.apple.com/forums/thread/673760?page=2

[2021-04-27 03:00] manielli opened #590 "'new' is unavailable 'init' has been explicitly marked unavailable here"
# Bug report

## Summary
Xcode build fails (even after cleaning build folder).

After installing Xcode 12.5 and Command Line Tools 12.5, Xcode builds fails. The error is under Permission-BluetoothPeripheral Group, ~/node_modules/react-native-permissions/ios/BluetoothPeripheral/RNPermissionHandlerBluetoothPeripheral.m and says: `'new' is unavailable`
It also points to CBManager.h saying: `'init' ha

[2021-04-27 04:15] mikehardy commented on #590
I'm about 2GB into downloading the 11GB package, I'll see if I can reproduce but won't have news until tomorrow.

[2021-04-27 06:15] Ruzen1 opened #591 "Allow Once results to BLOCKED"
# Bug report

## Summary

When the [Allow Once]is clicked, it results to BLOCKED. Is this correct move? If not can you please tell me what the problem might be?

## Environment info

`react-native info` output:

[code]

Library version: ^2.0.3

## Steps to reproduce

[code]
1. I make a request.
2. User Clicks on Allow Once

Describe what you expected to happen:

1. I just want to confirm if [BLOCK

[2021-04-27 07:32] phatlaunchdeck commented on #590
Same problem for me here, and it's launch day lol

[2021-04-27 08:05] zoontek commented on #590
Same as @mikehardy, I need to update. This will be a long day 😅

<img width="548" alt="Screenshot 2021-04-27 at 10 05 23" src="https://user-images.githubusercontent.com/1902323/116207415-2545a980-a740-11eb-83bc-402891ee1dc6.png">

[2021-04-27 08:07] zoontek commented on #591
Yes. https://github.com/zoontek/react-native-permissions#about-ios-location_always-permission
You have to check the status of `WHEN_IN_USE` after that.

[2021-04-27 08:07] #591 closed, assigned to nobody

[2021-04-27 08:21] zoontek commented on #576
Unfortunately I don't think this is an issue with the `react-native-permissions`, but more with iOS / the SDK. Could you all try with iOS 14.5 + the latest Xcode version?

[2021-04-27 08:21] #588 closed, assigned to nobody

[2021-04-27 11:08] Yandamuri commented on #266
@ghost I am using 3.0.2. is NSAppleMusicUsageDescription bug still exists in latest version as well. I haven't check it since I have not submitted my app to store.So can you please let me know if you had already submitted app to store.?

[2021-04-27 12:11] Yandamuri opened #592 "Is it possible to change the permission title and description in Android?"
# Feature request

Let's say my name  "RN App". when request camera permission message displays like this -- "Allow RN App to take photos and videos". I want to change this title and want to add description for permission.

## Why it is needed

Changing title and adding description will be more meaningful to use before approving permission.

## Possible implementation

I am not really sure about i

[2021-04-27 12:15] Yandamuri commented on #266
@zoontek Has this issue been completely resolved in recent versions?

[2021-04-27 13:54] mikehardy commented on #590
I needed approx 40GB free before it would update but I'm updated on Xcode now and finishing the macOS 11.3 update then I can reproduce.

FWIW, though the general expectation of all iOS devs is "Use the current stable Xcode", attempting to do so on the *actual* first day it is out is asking for pain. New *minor* versions of Xcode always break something. Every single time. And it takes a couple days

[2021-04-27 13:56] mikehardy commented on #266
If you are not using a module that requires it (apparently MediaLibrary and StoreKit) from the above then it should be fine. If you are then you need to include the description. You should try it and report back.

[2021-04-27 14:05] #592 closed, assigned to nobody

[2021-04-27 14:16] zoontek commented on #592
@Yandamuri Yes, it's in the doc: https://github.com/zoontek/react-native-permissions#request

[2021-04-27 15:58] #590 closed, assigned to nobody

[2021-04-27 16:01] zoontek commented on #590
The fix is published: https://github.com/zoontek/react-native-permissions/releases/tag/3.0.3, please update 🙂

[2021-04-28 15:14] Yandamuri commented on #592
@zoontek Thank you for your response. it seems like typescript code. Can I use it in javascript as shown below?

const rationale = {
  title: "App want to access camera";
  message: "Camera Permission";
  buttonPositive: "OK";
  buttonNegative?: "Deny";
 };

request(permission: PERMISSIONS.IOS.LOCATION_ALWAYS, rationale).then((result) => {
  // …
});

[2021-04-28 15:18] Yandamuri commented on #266
@mikehardy  I am using MediaLibrary and mentioned it in info.plist. But not StoreKit. Now , Do I have to mention about store kit as well?

[2021-04-28 15:37] zoontek commented on #592
Yes

[2021-04-28 16:05] mikehardy commented on #266
@Yandamuri I don't use those modules so I don't have a definitive answer. Suggest looking at the actual implementation to see the actual iOS API calls made, check the related documentation and verify directly. A bit tedious but way better than waiting for an App Store review / reject / re-submit cycle.

[2021-04-28 17:43] lucasrocha7111 commented on #576
Hello, have you changed the podfile?

Is needed to add this line on pod file: `pod 'Permission-AppTrackingTransparency', :path => "#{permissions_path}/AppTrackingTransparency"`

As is showed on documentation here: https://www.npmjs.com/package/react-native-permissions#ios

After that you need build again and done :)

[2021-04-28 17:46] lucasrocha7111 commented on #576
At least worked fine on simulator.

[2021-04-29 04:39] Yandamuri commented on #266
@zoontek Can you please confirm that issue raised by @ghost is resolved in recent releases. so that I can confidently submit my app to the store. Thank You.

[2021-04-29 06:01] mantu-designersx opened #594 "Getting installation error"
# Bug report

## Summary

I update from react native 0.62.0 to 0.63.3  and tried to install react native permissions but it is giving me installation errors. My project is based on typescript

[code]

## Environment info

`react-native info` output:

[code]

Library version: x.x.x

## Steps to reproduce

- Upgrade to 0.63.3 to meet the minimum requirement to install this library but got error tryi

[2021-04-29 06:18] KrifaYounes commented on #504
same error
never permission returned blocked someone have an idea how to fix that ?

[2021-04-29 07:52] zoontek commented on #594
@mantu-designersx  This is an issue with `npm` 7.

Use `npm install --legacy-peer-deps`

[2021-04-29 07:53] zoontek commented on #266
@Yandamuri I don't use this kind of permissions either. Please submit yours and give feedback.

[2021-04-29 08:44] mantu-designersx commented on #594
@zoontek Thanks sir It is fixed now. I was stuck for the last 5 hours.

[2021-04-29 08:55] #594 closed, assigned to nobody

[2021-04-29 09:15] elirangoshen opened #595 "apple reject my update after adding APP_TRACKING_TRANSPARENCY"
# Bug report

## Summary

I added APP_TRACKING_TRANSPARENCY permission to use admob in ios 14+.
apple rejected the update because of the reason that if user choosing do not allow he's getting a message encourage him to allow it.

i think that when user choosing do not allow it shouldn't add another dialog

I think that the behaviour and dialog is getting from the library so i think it can be issue

[2021-04-29 09:24] Uernamezhang opened #596 "Does react-native version 0.51 support AppTrackingTransparency?"
# No Template
Does react-native version 0.51 support AppTrackingTransparency ?

[2021-04-29 09:29] zoontek commented on #596
`react-native-permissions` 3.0.0 only supports RN 0.63: https://github.com/zoontek/react-native-permissions#support

[2021-04-29 09:29] #596 closed, assigned to nobody

[2021-04-29 09:33] zoontek commented on #595
Did you tried it? What happen when you refuse the `APP_TRACKING_TRANSPARENCY` permission?

[2021-04-29 09:41] elirangoshen commented on #595
I'm sorry its no the issue.. the thing that apple reject  is because apple saw the consent i need to show to eea countries users.. I'll try to talk to them about it.

[2021-04-29 09:42] zoontek commented on #595
Edit: I tried it, there is no such thing as this message:

https://user-images.githubusercontent.com/1902323/116531907-f403df80-a8df-11eb-8a48-8549b3d90dfc.MP4

[2021-04-29 09:42] #595 closed, assigned to nobody

[2021-04-29 14:07] guillaume-g commented on #541
Hi,

I have checked the issue #576 and it's still at the same place.
Anyone with a solution ? I tried again to fix it, but still get blocked when asking permissions...

Have a nice day!

[2021-04-30 00:12] mikehardy commented on #595
I am only posting this since this is *the* react-native permissions library :-), and App Tracking Transparency is a big deal, and lots of people use react-native-firebase. The firebase-ios-sdk under react-native-firebase just released an update that *allows* you to do Analytics without IDFA so you don't necessarily have to do ATT, and I just released support for it in react-native-firebase 11.4.1

[2021-05-02 09:24] nkulic opened #597 "Android ACCESS_FINE_LOCATION permission returns denied even if granted"
## Summary

When requesting permission for fine location resolves as "denied" even if it's permitted, yet when the same code is tested with different permission argument (e.g. ** PERMISSIONS.ANDROID.CAMERA**) it resolves as expected, granted.

## Environment info

`react-native info` output:

[code]

Library version: 3.0.3

## Steps to reproduce

Call the following function (that is all I'm doing)

[2021-05-02 09:45] nkulic commented on #597
RESOLVED:

- The issue occurred because I was testing on Android Emulator. With Physical Device permission is granted as expected.

[2021-05-02 09:45] #597 closed, assigned to nobody

[2021-05-02 11:07] nkulic opened #598 "Android ACTIVITY_RECOGNITION permission doesn't display Alert window"
## Summary

When requesting permission for `PERMISSIONS.ANDROID.ACTIVITY_RECOGNITION` it resolves as "denied" without alert displayed, yet when the same code is tested with different permission argument (e.g. ** PERMISSIONS.ANDROID.CAMERA**), Alert is displayed as expected.

## Environment info

`react-native info` output:

[code]

Library version: 3.0.3

## Steps to reproduce

Call the following

[2021-05-02 12:30] zoontek commented on #598
@nkulic Did you added `<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />` to your AndroidManifest?

See Android documentation: https://developer.android.com/about/versions/10/privacy/changes#physical-activity-recognition

[2021-05-02 12:47] nkulic commented on #598
Yes I did, I have also tried with `<uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />`
But it still resolves to `denied`. I need this permission in order to use gyroscope, magnetometer and accelerometer

Testing on Samsung Galaxy S9+ (Android 10)

[2021-05-02 21:30] mikehardy commented on #598
I can't reproduce this @nkulic. My app uses ACTIVITY_RECOGNITION and when I revoked it just now or tested a fresh install on an Android 10 emulator, the prompt pops up just fine.

[2021-05-03 08:09] zoontek commented on #598
I couldn't reproduce this either. Maybe you should link to a minimal reproduction repository, @nkulic

[2021-05-03 18:43] BrandonCao commented on #576
Doesn't this only take effect for iOS 14.5? Could be the reason it's blocked.

[2021-05-04 12:45] nkulic commented on #598
I will create a reproduction soon. And one more issue that I have is, when I'm requesting multiple permissions, and this is what is happening:

**First case:**
1. First request call - I grant permission for camera and deny permission for location
- Good and expected output: `DENIED`

2. Second request call - I press deny and do not ask again for location
- Bad and unexpected output: `DENIED` (shou

[2021-05-04 16:50] mikehardy commented on #598
separate issues deserve seperate issues I think - and a self-contained App.js that can drop in to the example here for reproduction would be excellent

[2021-05-04 16:57] durgapt opened #599 "iOS Release build: Undefined symbols for architecture arm64: "_OBJC_CLASS_$_RNPermissionHandlerLocationWhenInUse", referenced from: objc-class-ref in libRNPermissions.a(RNPermissions.o) ld: symbol(s) not found for architecture arm64"
# Bug report

## Summary
I am able to compile and run in debug mode but getting the following error while running in release mode.

[code]

## Environment info

[code]

Library version:  `"react-native-permissions": "^3.0.1"`

## Reproducible sample code

[code]

[2021-05-04 17:24] mikehardy commented on #599
I suspect this cannot be reproduced with the sample app, especially not after `npx react-native-clean-project`
I have this specific LocationWhenInUse in use locally and it works fine (it worked fine with Xcode 12.3 as well IIRC, definitely with Xcode 12.4 and now with Xcode 12.5)

[2021-05-05 16:47] durgapt commented on #599
Thanks @mikehardy. npx react-native-clean-project really worked for me. Is there any way to add this step which runs automatically when we generate build by running "react-native run-ios"

[2021-05-05 16:54] #599 closed, assigned to nobody

[2021-05-05 16:55] zoontek commented on #599
@durgapt You can edit your `package.json` with a custom npm script: `run-ios: npx react-native-clean-project && react-native run-ios`

[2021-05-05 19:39] mikehardy commented on #599
That's potentially a bad idea though, it's a really useful cleaner but so very very expensive to rebuild after. I only did it as part of my release build process

[2021-05-06 04:42] galaxyreal commented on #594
Thanks, @zoontek

[2021-05-06 10:14] Luckygirlllll commented on #429
Is there any update about this issue? I'm getting the same error in Android.

[2021-05-06 10:28] zoontek commented on #429
@Luckygirlllll This error doesn't really exists / happen. If it happen, it means that:

1) The module is not correctly linked
2) You can't use native modules (ex: non-bare Expo)
3) You perform tests and you forgot to mock the native module

[2021-05-06 10:34] Luckygirlllll commented on #429
@zoontek this issue kind of exist because, I'm not using linking, because  I'm using "react-native": "0.63.4", so all linking is done automatically, I don't use Expo, I don't do tests.

However, I got errors during the install, because react-native-permissions was complaining that I don't have latest version of RN, so during install I used  --legacy-peer-deps, I'm wonder is that could cause a prob

[2021-05-06 11:00] zoontek commented on #429
@Luckygirlllll `--legacy-peer-deps` cannot bring this issue, it's just about silencing a warning.
Did you perform a `pod install` / clean the build caches before running your app again?

[2021-05-06 11:02] Luckygirlllll commented on #429
@zoontek Yes, IOS is working correctly, the problem is only with Android.

[2021-05-06 11:03] zoontek commented on #429
@Luckygirlllll OK, similarly, did you cleaned the Gradle cache? (check https://github.com/pmadruga/react-native-clean-project)

[2021-05-06 11:07] Luckygirlllll commented on #429
@zoontek yes, multiple times.

[2021-05-06 11:09] zoontek commented on #429
@Luckygirlllll Ok, then publish a reproduction repository because we are not able to reproduce this.

[2021-05-06 11:28] Luckygirlllll opened #600 "Error: react-native-permissions: NativeModule.RNPermissions is null (Android)."
# Bug report

## Summary

I'm getting this error in Android:

[code]

## Environment info

`react-native info` output:

[code]
[code]

Library version: 3.0.3

## Steps to reproduce

1. install library
2. get error on Android while running the app

Describe what you expected to happen:

1. I can run Android app

## Reproducible sample code

I used  --legacy-peer-deps during install, because react-n

[2021-05-06 16:48] zoontek commented on #600
@Luckygirlllll Do you have a reproduction repository? Create a small example with a fresh app to show that the issue is real and not tied to something else in your app.

You can also try to link it manually if it's failing with your current config: https://github.com/zoontek/react-native-permissions#-manual-linking

[2021-05-06 16:56] zoontek commented on #576
Is this still happening for you on iOS > 14.5?

[2021-05-07 09:00] nkulic commented on #598
I have fixed the issue. I haven't rebuilt the app properly and changes I've done to **AndroidManifest.xml** didn't applied, that is why it always resulted as "Denied"

[2021-05-07 09:00] #598 closed, assigned to nobody

[2021-05-07 09:01] nkulic commented on #565
Is that the same issue as mine? When I'm requesting multiple permissions, and this is what is happening:

**First case:**
1. First request call - I grant permission for camera and deny permission for location
- Good and expected output: `DENIED`

2. Second request call - I press deny and do not ask again for location
- Bad and unexpected output: `DENIED` (should be `BLOCKED`)

**Second case:**
1.

[2021-05-07 13:36] lucafronterotta commented on #541
I had the problem of having the permission request always return "unavailable".
I solved the problem in two ways:
- on physical device: upgrading ios to version 14.5;
- on simulator: running "Erase all contents & Settings" and reinstallig the app.

Hope it helps!

[2021-05-07 16:47] mikehardy commented on #429
This is always and forever an auto-linking problem. Perhaps build.gradle is missing the call out to the react-native CLI gradle. It's definitely not a problem with the module, it's a problem with the project every single time

https://github.com/facebook/react-native/blob/1e39d8b82985849de15a8a744cefddb657bb5861/template/android/app/build.gradle#L84

[2021-05-07 16:50] zoontek commented on #576
I'm closing this, for a solution check this great comment: https://github.com/zoontek/react-native-permissions/issues/541#issuecomment-834397198

[2021-05-07 16:50] #576 closed, assigned to nobody

[2021-05-09 16:08] HansBouwmeester commented on #452
This bug is still there in v3.0.3. And #365 was closed by a bot.

[2021-05-09 16:12] HansBouwmeester opened #601 "check(PERMISSIONS.ANDROID.ACCESS_***_LOCATION) should check the android system location setting"
See #365 which was never fixed. (v3.0.3).

Summary: after turning off the main android location permissions "master switch" the ACCESS_FINE_LOCATION and ACCESS_COURSE_LOCATION permission checks still return 'granted'.

Also #452.

[2021-05-09 19:33] mikehardy commented on #365
https://github.com/react-native-device-info/react-native-device-info#getAvailableLocationProviders

[2021-05-09 19:33] mikehardy commented on #452
@Gra55h0pper it's not a bug in the library, it's not a permission, it doesn't belong here
what you want is here https://github.com/react-native-device-info/react-native-device-info#getAvailableLocationProviders

[2021-05-09 19:52] HansBouwmeester commented on #452
@mikehardy Thanks for the pointer. I'm using react-native-device already so then it'll be easy to detect whether whether the user turned the location switch to 'Off' in the system settings.

I'm not sure I understand/agree it doesn't belong here though?

[2021-05-09 22:29] mikehardy commented on #452
It's not a permission
It is a device setting
So it is in the right place

[2021-05-10 02:19] HansBouwmeester commented on #452
To have permissions to be granted to services that are unavailable doesn’t make sense to me.
The way I look at this switch is that when it’s off, the location permission should not be considered *available* in the context of the flows in the manual. Thus, the check should return RESULTS.UNAVAILABLE. Quoting from the manual this would mean: “This feature is not available (on this device / in this c

[2021-05-10 03:19] mikehardy commented on #452
But they operate independently, and typically if a permission is removed from your app, your app restarts whereas if the device GPS status changes, nothing happens to your app. I see your point of view but I at least believe it conflates different things, combining them in a way that destroys useful information with regard to the actual state of the system. I personally wouldn't work on it and wou

[2021-05-10 04:46] HansBouwmeester commented on #452
I see your points and can certainly live with that. It may be a good idea for the documentation to explain that ‘GRANTED’ does not imply ‘AVAILABLE’ and give the pointer to react-native-device-info.

[2021-05-10 14:05] mikehardy commented on #452
Sure! Hit that pencil / edit button on the docs - this repo merges sensible PRs at great speed

[2021-05-11 08:08] zoontek commented on #601
@Gra55h0pper Is this really a bug? In my memories, `checkNotifications` and `requestNotifications` properly return the corrects status of the permission, and the permission is still requestable (prompted to the user).

The location might be unavailable after, but it's not a permission issue. Thee switch you turn off is not a "permission switch" but a "location services" switch.

[2021-05-12 15:37] roshans1307 opened #602 "android app crash when permission denied."
# Bug report
021-05-11 16:49:13.423 8874-8874/com.variis.mobile.dev E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.variis.mobile.dev, PID: 8874
    java.lang.RuntimeException: Unable to resume activity {com.variis.mobile.dev/com.variis.mobile.MainActivity}: java.lang.NullPointerException: Attempt to read from field 'com.facebook.react.bridge.Callback com.zoontek.rnpermissions.RNPermissio

[2021-05-12 16:39] #602 closed, assigned to nobody

[2021-05-12 16:41] zoontek commented on #602
Please submit an issue with formatted code, JS reproduction code and properly filled informations (Device, OS version, library version, etc)

[2021-05-12 18:10] eschos24 commented on #590
We are experiencing this issue but are still on RN version 0.60.5. Is there a workaround for us to get this working without having to update to RN 0.63+?

[2021-05-12 18:41] mikehardy commented on #590
With apologies, RN0.60 is no longer a viable development platform as of the release of iOS 14.5 - you *must* update to at least RN0.63

Why?

- iOS 14.5 is out, that's a fact
- Xcode 12.5 is required to sign apps for iOS 14.5 by apple (fact? prove me wrong :-), happy to learn )
- Xcode 12.5 broke react-native builds https://github.com/facebook/react-native/issues/31179
- react-native was only patc

[2021-05-13 12:30] Yandamuri opened #603 "RESULTS.LIMITED -- Is this type of permission result applicable to both Android and iOS?"
Out of all permissions results mentioned in the Docs, `RESULTS.LIMITED` seems strange which I have never come across. In my app I am using `Camera, Microphone, Location services, Photo Library, Storage.` For all these permissions I have seen `RESULTS.UNAVAILABLE, RESULTS.DENIED, RESULTS.GRANTED, RESULTS.BLOCKED` but not `RESULTS.LIMITED` in any context.

May I know for which permission type and on

[2021-05-13 12:40] zoontek commented on #603
For now, only PhotoLibrary and Notifications permissions on iOS can be limited.

[2021-05-13 12:40] #603 closed, assigned to nobody

[2021-05-13 12:40] #600 closed, assigned to nobody

[2021-05-13 15:48] Yandamuri opened #604 "PERMISSIONS.IOS.LOCATION_WHEN_IN_USE always returns "Unavailable""
# Bug report

## Summary

I am using location services in my app and I just need location services when only using app. So I used  `PERMISSIONS.IOS.LOCATION_WHEN_IN_USE` to request permission. But it returns "Unavailable".

## Environment info

"react-native": "0.63.2",
"react-native-permissions": "3.0.3"

Should we use `PERMISSIONS.IOS.LOCATION_ALWAYS` even though we use location services when on

[2021-05-14 07:50] zoontek commented on #604
@Yandamuri No. Add more details please, or I will close this issue.
PS: Clean your build, it's very often the cause of the problem.

[2021-05-14 08:58] Yandamuri commented on #604
@zoontek I have deleted app and clean build and then ran app. But still no change

This is how checked permission,

        let permissionStatus = await check("PERMISSIONS.IOS.LOCATION_WHEN_IN_USE");
        console.log('check permissions result', permissionStatus);  => 'check permissions result – "unavailable"'

This is what I have added in `info.plist`

        <key>NSLocationAlwaysAndWhenInUseU

[2021-05-14 09:01] zoontek commented on #604
`NSLocationUsageDescription` is deprecated.
Did you delete the Xcode `DerivedData` too?

[2021-05-14 09:18] Yandamuri commented on #604
@zoontek NSLocationUsageDescription has been removed from `info.plist`. I have deleted Xcode DerivedData and clean build and then ran the app. Still no change.

[2021-05-14 09:20] zoontek commented on #604
- Did you forget to run a `pod install` after setting the `Permission-LocationWhenInUse` pod in your podfile? https://github.com/zoontek/react-native-permissions#ios
- Are Location services enabled on your device?

![1E05936D-FC5C-450D-8ED1-64C4412C77F8](https://user-images.githubusercontent.com/1902323/118250073-5e06b200-b4a6-11eb-985a-4f433dcee00b.jpeg)

If they are, please create a repository w

[2021-05-14 09:58] Yandamuri commented on #604
@zoontek  I realized that I forgot to do the pod install. after that everything is fine. Thank you so much for your patience and prompt response.

when I request for 'While using app". As soon as I gave "Allow" got another request to access location "Always". Is it natural behaviour of iOS?

[2021-05-14 09:59] zoontek commented on #604
Yes. Continue to read the documentation, it's explained.

[2021-05-14 09:59] #604 closed, assigned to nobody

[2021-05-14 15:14] roshanEquinox opened #605 "App crash after permission denied in android"
# Bug report

## Summary
This error is occurred in the app whenever location permission is denied in android

java.lang.NullPointerException: Attempt to read from field 'com.facebook.react.bridge.Callback  com.zoontek.rnpermissions.RNPermissionsModule$Request.callback' on a null object reference

## Environment info

Library version:
 "react": "16.13.1",
  "react-native": "0.63.4",
   "react-nativ

[2021-05-15 23:21] irohitb opened #606 "Tried to use permissions API but the host Activity doesn't implement PermissionAwareActivity"
I am getting this error when trying to use request/request multiple

Not sure if this is a bug or not but if someone can share any ideas on how to fix, that would be super helpful.

I am on `  react-native": "0.63.4"` and ` react-native-permissions: "^3.0.3"`.

Thanks :)

[2021-05-16 00:22] mikehardy commented on #606
I'm guessing that you can't reproduce this in the example.
You may have some sort of mixed native / react-native app with an Activity that is not ReactActivity?
You will need to produce some sort of reproduction example for help, it appears you have deleted the issue template, and "Sample Code" was part of it.

[2021-05-16 08:38] zoontek commented on #605
@roshanEquinox Which permission do you request? Your sample code does not contain it.

PERMISSIONS.ANDROID.???

[2021-05-16 08:54] chansoo04 commented on #266
When I put NSAppleMusicUsageDescription to an info.plist through VSCode, it changes to Privacy - Media Library Usage Description in XCODE. I think there is some miss on this part.

If you guys still have issue, write description about media library.

[2021-05-16 10:24] #606 closed, assigned to nobody

[2021-05-18 00:53] IamNotHuman opened #607 "Location Always second modal not popping out in IOS"
# Bug report

## Summary

My use case is to route the user to home screen after he enables location always. Reading the docs there is a second modal that should come out after enabling the first one with "usage only when app is opened" but it doesn't come out and it only returns as if the user did enable the location always. After a while (30 minutes or so) the modal sometimes comes out but that i

[2021-05-18 08:06] zoontek commented on #607
The modal will appear later with a message "App has been using your location in the background", when your app is closed.
That's the expected behaviour, see the Apple documentation: https://developer.apple.com/documentation/corelocation/cllocationmanager/1620551-requestalwaysauthorization#3578736

[2021-05-18 08:06] #607 closed, assigned to nobody

[2021-05-19 15:44] hzburki commented on #590
## Summary

* **Same issue as mentioned above**
* I have the latest XCode installed version `Version 12.5 (12E262)`.
* I upgraded my app to RN `0.63.3` and installed `react-native-permissions@3.0.3`.

**Note:** I had to install `react-native-permissions@3.0.3` with `npm i react-native-permissions@3.0.3 --legacy-peer-deps` command. I ran into the  _dependency tree_ issue explained in #579.

### Ste

[2021-05-19 19:25] mikehardy commented on #590
This was an Xcode 12.5 issue, definitely fixed. Perhaps `npx react-native-clean-project` (it's a super deep cleaning depending on how you use it...)

[2021-05-20 01:11] HansBouwmeester commented on #601
Hi @zoontek, see #452. In the strict sense I agree this is not a bug as I understand the OS grants access to the service although they may be (temporarily) unavailable due to the switch setting.

It may be a good idea for the documentation to explain that ‘GRANTED’ does not imply ‘AVAILABLE’ and give the pointer to react-native-device-info?

[2021-05-20 02:29] mikehardy commented on #601
PRs for docs are possible with a few clicks on the web 🙏

[2021-05-20 18:31] Iskander508 opened #608 "Android requestMultiple not handling blocked state properly"
# Bug report

## Summary

When using the `requestMultiple` and clicking the `Do not ask again` OS checkbox. The method returns state `RESULTS.DENIED` while it should be `RESULTS.BLOCKED` in some cases.

## Environment info

`react-native info` output:

[code]

Library version: 3.0.3

## Steps to reproduce

1. Request 2 permissions using the `requestMultiple` (for example `PERMISSIONS.ANDROID.CAMER

[2021-05-21 09:15] hzburki commented on #590
Upgrading RN to `0.63.3` and the package to `3.0.3` fixed the issue for me however, it did bring a lot of other issues (not related to this package) that I couldn't fix due to short deadlines. So for anyone who wants a quick fix, follow [this](https://callstack.com/blog/say-goodbye-to-old-fashioned-forks-thanks-to-the-patch-package/) article which shows how to use `package-patch` to make quick fix

[2021-05-22 10:07] zoontek commented on #608
Thanks, i just published version 3.0.4 with it: https://github.com/zoontek/react-native-permissions/releases/tag/3.0.4

[2021-05-22 10:07] #608 closed, assigned to nobody

[2021-05-22 10:08] zoontek commented on #605
@roshanEquinox I could not reproduce it. Maybe you tried requesting `ACCESS_BACKGROUND_LOCATION`?

[2021-05-22 15:06] pabloluz opened #610 "Help wanted: ATT prompt is not displayed till the app lose and gain focus again"
Hi guys. I'm facing an issue some of you might have encountered: App Transparency prompt is not displayed till the app loose and gain focus again. The issue occurs both on a real device and on the simulator.

I already checked all ATT-related issues under this repo (both opened and closed) and couldn't found anything.

**iOS**
Real device: 14.5.1
Simulator: 14.5

**React Native** 0.64.1

**react-n

[2021-05-22 17:12] zoontek commented on #610
@pabloluz Hi. Like you say, it's probably not a bug with the library itself.

I'm sorry, but I cannot accept help request in libraries issues. I'm working on this for free on my spare time for nearly free, it's already enough…isn't it? Maybe try cleaning your project: https://github.com/pmadruga/react-native-clean-project. If the issue persist, maybe ask for help on Stack Overflow?

[2021-05-22 17:12] #610 closed, assigned to nobody

[2021-05-22 20:25] pabloluz commented on #610
Hi @zoontek. I totally understand and appreciate your time in getting back to me :)

Thank you very much for the tip: after a deep clean up on the project (using the lib you suggested me) I finally managed to get the ATT prompt running fine.

[2021-05-24 17:29] ignacioiglesias43 commented on #471
Hi, do you have an example for this?

[2021-05-24 20:34] charleston10 commented on #469
I'm using XCode 12 and platform '11.0'.. and it worked thanks

My pod file

[code]

[2021-05-25 15:28] MariaPereiraMindera opened #611 "Android - permissions doesn't display Alert window"
## Summary

Whenever I install the application, the pop up asking for permissions does not appear, but they are granted and appear in the application settings.

## Environment info
`react-native info` output:
[code]

Library version: 3.0.4

## Steps to reproduce
AndroidManifest.xml
[code]

App.js
[code]

[2021-05-25 18:32] OmarBasem commented on #552
If native code does not offer this kind of callback, and the app state does not change, then how other apps like Instagram do it?

[2021-05-25 18:38] OmarBasem commented on #552
From Apple's documentation: "Any changes the user applies to their limited library selection trigger a PHPhotoLibraryChangeObserver update that you can observe to see the changes to their selection."

[2021-05-25 18:43] OmarBasem opened #612 "openLimitedPhotoLibraryPicker Callback"
# Feature request

It would be great to add a callback function or listener for openLimitedPhotoLibraryPicker

## Why it is needed

To know when the user is done

## Possible implementation

Implementation from apple docs: https://developer.apple.com/documentation/photokit/phphotolibrarychangeobserver?language=objc

[2021-05-25 18:55] mohamed2m2018 commented on #552
I think openLimitedPhotoLibraryPicker is with no use without the callback after selection.
@zoontek

[2021-05-25 23:34] mikehardy commented on #552
Sounds like a PR might prove the point and stand a chance of integration!

[2021-05-26 14:05] maestrolsj opened #614 "I cannot change the Modal description for APP_TRACKING_TRANSPARENCY"
# Bug report

 I cannot change the Modal description for APP_TRACKING_TRANSPARENCY

![image](https://user-images.githubusercontent.com/16445243/119673359-965da700-be3b-11eb-9dda-e1aa32ce8321.png)

## Summary

## Environment info

`react-native info` output:

[code]

Library version:  react-native-permissions@^3.0.4

## Steps to reproduce

Try this code to open ATT modal with customised description

[2021-05-26 15:09] mikehardy commented on #614
It's not something Apple allows in it's API. There is nothing this module can do
You can (and should) check the source of libraries you use when posting feature requests - frequently it answers the question, or it will with just one more step.

Specifically here we ask iOS to do it's thing, no options:

https://github.com/zoontek/react-native-permissions/blob/540af291422768bc043ebab0a5c5c91aef9f90

[2021-05-26 17:22] maestrolsj commented on #614
@mikehardy  Thank you for your kind reply. I am trying to figure out how I can put edit description on info.plist with localization

[2021-05-26 17:28] mikehardy commented on #614
stackoverflow has all the details, I do something similar to all the answers here https://stackoverflow.com/questions/25736700/how-to-localise-a-string-inside-the-ios-info-plist-file

[code]

chunk of Info.plist
[code]

[2021-05-28 09:13] indapublic opened #615 "No podspec found for `Permission-Camera`"
# Bug report

## Summary

## Environment info

`react-native info` output:

[code]

Library version: 2.2.2

## Steps to reproduce

1. Install library
[code]

2. Change Podfile
[code]

3. Install pods
```cd ios && pod install```

Receive error during install pods

[code]

[2021-05-28 09:16] indapublic commented on #615
Ok, react-native-permissions should be 3.x version, but I have 2.x installed from npm 🤔

[2021-05-28 09:19] indapublic commented on #615
Fixed after upgrade to 3.0.4. Closed

[2021-05-28 09:19] #615 closed, assigned to nobody

[2021-05-30 08:08] PupoSDC commented on #594
Could you please elaborate how this is an issue with `npm 7` ?
This feature signals that there is something wrong with the declared peer dependencies. is this feature failing here, and an issue should be opened with npm, or is this package peer dependencies requiring a review?

[2021-05-30 08:35] Ruzen1 commented on #591
@zoontek Thank you so much for the reply.  I did understand about the link you have sent.
I want Allow Once to work too. Could you please suggest me? Right now, if the user chooses, allow once, it doesnt respond with a location

[2021-05-30 08:43] Ruzen1 commented on #591
@zoontek its super related with https://github.com/zoontek/react-native-permissions/issues/569

[2021-05-30 08:45] Ruzen1 commented on #569
@Stophface @zoontek Guys, I am having same problem. Could you guide me please?

[2021-05-30 15:00] mikehardy commented on #594
This is not specific to this module, nothing about this issue will cause a change here so it should be pursued with other dependencies.

You may scan the peer dependencies list of *this* module to ensure that *this* module has correct peer dependencies set, then if you want to use npm 7 without the "ignore" flag mentioned above you have to make sure all your other modules pull in peer dependencies

[2021-05-30 15:32] PupoSDC commented on #594
Thanks for the reply.

Indeed the npm error is not very clear and it makes it look like it's this modules fault, when in fact it's not.
Thank you for your explanation!

[2021-05-30 19:16] zoontek commented on #614
@mikehardy is right. Rationale options are only for Android. For iOS, use `NSUserTrackingUsageDescription`.

[2021-05-30 19:16] #614 closed, assigned to nobody

[2021-05-30 19:19] zoontek commented on #612
@OmarBasem I will accept a PR.

Additional infos: https://docs.expo.io/versions/latest/sdk/media-library/#medialibrarypresentpermissionspickerasync
IMHO there is no proper callback, as the promise would resolve on each photo library change.

[2021-05-30 19:20] zoontek commented on #611
@MariaPereiraMindera Maybe you already granted them? I need more infos. Which device are you using? Which Android version?

[2021-05-30 19:20] #605 closed, assigned to nobody

[2021-06-01 06:53] davistsin opened #616 "NullPointerException RNPermissionsModule$Request.callback' on a null object reference"
# Bug report

## Summary

NullPointerException: Attempt to read from field 'com.facebook.react.bridge.Callback com.zoontek.rnpermissions.RNPermissionsModule$Request.callback' on a null object reference

---

most of chinese phone has battery manager that will kill app when phone enter spleep. I am not sure if this is the problem.

## Environment info

`react-native info` output:

[code]

Library v

[2021-06-01 07:48] zoontek commented on #616
@qindachang Hi. What's done on JS side?

I saw you use a custom `MainActivity` which does not extends `ReactActivity`. That's probably your issue and it's not related to the library.

[2021-06-01 08:18] davistsin commented on #616
Call requestMultiple() on JS side,

log detail:

[code]

May request camera permission when user feedback operation.

[2021-06-01 08:20] zoontek commented on #616
Try adding super calls:

[code]

More infos here: https://github.com/facebook/react-native/issues/17985

[2021-06-01 08:20] zoontek commented on #616
Or even better, correctly extends `ReactActivity`. This library is published as if, I don't offer support for custom Java implementation 😕

[2021-06-01 08:27] davistsin commented on #616
Thanks a lot, I try it out

[2021-06-01 08:43] #616 closed, assigned to nobody

[2021-06-02 09:20] vunguyen112 commented on #611
@zoontek  I got the same problem. I'm using nokia 7.2 android 10.

[2021-06-02 09:21] zoontek commented on #611
@vunguyen112 Does it works when you build the example app (clone this repo, it's in `/example`)?

[2021-06-02 09:40] zoontek commented on #611
I just gave it a try using the provided code:

[code]

No issues.

https://user-images.githubusercontent.com/1902323/120457529-d0c4c800-c396-11eb-9f7c-a9bbe12b581c.mp4

The Alert is correctly displayed. It ask me about `CAMERA` and `WRITE_EXTERNAL_STORAGE` (which also grant `READ_EXTERNAL_STORAGE` - using both is useless in this case)

After that, if I restart the app, the non requestables permiss

[2021-06-02 09:42] zoontek commented on #565
@nkulic What you describe has been fixed in the latest release.

[2021-06-09 15:06] gillbeits commented on #611
@MariaPereiraMindera Same issue. Fixed by ignore expo-permissions in package.json.
[code]

[2021-06-09 16:12] X-Titouan opened #617 "Android app refused"
I'm trying to publish my app on the play store.

My app get refused and I received this mail :

https://i.stack.imgur.com/z2dPa.png

Here is my manifest :

https://i.stack.imgur.com/chkOk.png

To add context, my app is used by sport event participant to send an sos to rescuers if they are lost or injured. (ACCESS_COARSE_LOCATION & ACCESS_FINE_LOCATION permissions). In case of poor LTE network (3G/

[2021-06-10 07:59] zoontek commented on #617
This is not related to the library. On iOS, it's important not embedding unused permissions but on Android the system is agnostic.

EDIT: Publish at least code for each call to `request` and `requestMultiple` in your app.

[2021-06-10 07:59] #617 closed, assigned to nobody

[2021-06-10 08:17] X-Titouan commented on #617
I'm sorry, I'm not used to post my problems, but android team gave me no indication on how to solve this and react-native-permission community seems to be benevolent and expert on this subject ! :D

This is the code for location permission request :

Android 29+
https://pastebin.com/EbyuJdnA
Android 28
https://pastebin.com/yCxie2M1

For sms:

https://pastebin.com/Ytwr0T8N

For storage:

https://pa

[2021-06-10 08:24] zoontek commented on #617
You never request location permission, only checking it?

[2021-06-10 08:29] X-Titouan commented on #617
Sorry, I updated the post with the good code

[2021-06-10 08:31] zoontek commented on #617
Ask Google which permission request is not prompted and ask for it.

[2021-06-10 08:40] X-Titouan commented on #617
I opened multiple requests to ask for more informations, they never replied yet, I will let you know when they will :)

But you are right, I should identify first which permission is concerned. I could delete all permissions exexpt one, publish the app, then add another one, but it takes 2 days eveytimes and it will destroy all the code base as I will have to delete also all the features who are u

[2021-06-15 10:48] bogdandevlpr commented on #590
Simply downgrading Xcode from 12.5 to 12.4 fixed it for me.
I'm using `react-native@0.62.2` and `react-native-permissions@2.2.2`

[2021-06-15 14:35] florian-milky commented on #589
would be nice if that would be more clearly stated in the docs!

[2021-06-15 14:41] mikehardy commented on #589
@florian-milky if there is anything that could be improved in the docs you can just hit the edit button on whichever page needs the help and propose a fix directly - most open source documentation is corrected/improved directly in exactly that way by users for users

[2021-06-15 15:04] florian-milky commented on #589
@mikehardy thanks for the hint I created one

[2021-06-18 05:58] phillipkey opened #619 "checkNotifcations triggers the Notification Permission Prompt"
# Bug report

## Summary
When using the checkNotifications function, the application immediately asks for permission to send push notifications.

## Environment info

`react-native info` output:

[code]

Library version: x.x.x

## Steps to reproduce

1. import { checkNotifications } from 'react-native-permissions'
2. invoke the function to get the value and observe the permissions prompt is displa

[2021-06-18 08:32] zoontek commented on #619
@phillipkey Hello. Could you give more details? The platform, the OS version if it's in the simulator or a real device? Which model?

[2021-06-18 14:27] RaphaelHadjadj commented on #576
It's still happening, on a simulator (iPhone 12 iOS 14.5) and a physical device (iPhone XS iOS 14.6).
I installed react-native-tracking-transparency and it worked directly on both !
So it's probably related to the package.

[2021-06-18 19:25] opatricpires commented on #368
In my case, I implemented it like @zoontek but changed the initial lines.

[code]

[2021-06-18 19:32] thiagonzalez commented on #368
it worked like a charm! Thanks, @opatricpires !

[2021-06-20 09:41] supermaverickws commented on #569
same issue

[2021-06-21 15:39] phillipkey commented on #619
@zoontek  sure. This is on an iPhone 12 simulator running iOS 14

[2021-06-21 15:41] zoontek commented on #619
@phillipkey Could you try on a real device? Simulators are not able to debug push notifications.

[2021-06-21 21:26] phillipkey commented on #619
@zoontek I know that push notifications are not available on simulators. I will check on an actual device, but the issue is not with push notification functionality. This is about the permission itself being requested when I check the status of this permission.

[2021-06-22 07:22] jacquesdev commented on #493
Adding this issue in for reference too, which helped me https://github.com/zoontek/react-native-permissions/issues/448

[2021-06-22 07:47] zoontek commented on #619
@phillipkey Yes but as notifications API are not correctly implemented, I'd rather ask for a device check first.

[2021-06-23 06:59] tr3v3r commented on #365
@zoontek  can we add this method (getAvailableLocationProviders) into this library at least for Android? It would be nice to have the possibility to detect if location service enabled without installing extra dependencies.

If you OK, I'll make a pr

[2021-06-23 07:14] Yandamuri opened #620 "Requesting ACCESS_BACKGROUND_LOCATION is not showing any prompt"
# Bug report

## Summary

As far as I know when ACCESS_BACKGROUND_LOCATION permission is requested below screen screen must be rendered.

<img width="407" alt="Screenshot 2021-06-22 at 7 53 33 PM" src="https://user-images.githubusercontent.com/31983789/123049127-da34d380-d41c-11eb-9bc2-e1a86da2f01d.png">

Instead, Below screen is opening

![Screenshot_1624429628](https://user-images.githubusercont

[2021-06-23 07:48] zoontek commented on #365
@tr3v3r No, I'd rather not. This library focuses on permissions and if each of the handler come with its own set of helpers, it could become huge.

[2021-06-23 07:54] zoontek commented on #620
@Yandamuri  Please do a search first next time: https://github.com/zoontek/react-native-permissions/issues/570

[2021-06-23 07:54] #620 closed, assigned to nobody

[2021-06-23 07:56] zoontek commented on #601
I'm closing this since the PR was not created.

[2021-06-23 07:56] #601 closed, assigned to nobody

[2021-06-23 08:37] Yandamuri commented on #570
@naru200 is this really working for you to open prompt for `PERMISSIONS.ANDROID.ACCESS_BACKGROUND_LOCATION`?

When tired to request for both `ACCESS_BACKGROUND_LOCATION` and `ACCESS_FINE_LOCATION` nothing is happening.

[2021-06-23 08:41] Yandamuri commented on #620
@zoontek I have already tried the solution mentioned in the  [#570](https://github.com/zoontek/react-native-permissions/issues/570).

When tired to request for both ACCESS_BACKGROUND_LOCATION and ACCESS_FINE_LOCATION nothing is happening.

That is the reason why I posted this issue.

[2021-06-23 09:41] stephenheron commented on #620
@zoontek We are actually seeing the same thing, requesting both ACCESS_BACKGROUND_LOCATION and ACCESS_FINE_LOCATION results in nothing happening. The requestMultiple response looks like this:

`{"android.permission.ACCESS_BACKGROUND_LOCATION": "denied", "android.permission.ACCESS_FINE_LOCATION": "blocked"}`

We have had to add the workaround of requesting 'ACCESS_FINE_LOCATION' first, then request

[2021-06-23 15:24] mikehardy commented on #365
as current device-info maintainer, that's what my lib is for, and likewise I won't add any permissions stuff over there ;-)

[2021-06-24 12:30] teckbeng-payboy opened #621 "No permission handler detected error"
Hi,

Is it possible to get rid of this error without set up at least one permission in the podlock file?

The reason is I don't want the application to automatically prompt the permission on the initial launch.

Thanks in advance

[2021-06-24 12:44] zoontek commented on #621
This is not how it works. Just don't call the `request` methods at launch.
You can safely add all the handlers you need, just delay the request. Check the example project or read the documentation to understand how it works.

[2021-06-24 12:44] #621 closed, assigned to nobody

[2021-06-28 06:23] nhatnguyenbp commented on #499
I have same issue

[2021-06-29 02:05] Pinwheeler opened #622 "Mock Library not working"
# Bug report

## Summary

Using the provided mock results in a crash

### How I'm Mocking
[code]

## Environment info

`react-native info` output:

[code]

Library version: ^3.0.4

## Steps to reproduce

1. Try to run the tests after downloading the project and running `npm i`

Describe what you expected to happen:

1. I am able to run the tests using the provided mock

## Reproducible sample code

[2021-06-29 07:19] zoontek commented on #622
@Pinwheeler Hello. I tried the reproducible code, it does not crash, but output a very clear and detailled Jest error:

<img width="1167" alt="Screenshot 2021-06-29 at 09 05 19" src="https://user-images.githubusercontent.com/1902323/123752614-40a47080-d8b9-11eb-8c0e-e28cc0d46f2b.png">

If you follow the instructions and search a bit, you find this page in the Jest documentation, about how testing

[2021-06-29 07:19] #622 closed, assigned to nobody

[2021-06-29 09:22] zoontek commented on #619
@phillipkey Did you tried?

[2021-06-29 11:00] Yandamuri commented on #620
@stephenheron Yes, This approach is not user friendly and for App Store reviews also, It might be confusing.

@zoontek Is there any way to directly request for `ACCESS_BACKGROUND_LOCATION`?

[2021-06-29 12:02] Yandamuri opened #623 "requestMultiple does nothing when requesting for FINE_LOCATION and BACKGROUND_LOCATION"
# Bug report

## Summary

`requestMultiple` is introduced to request multiple permissions at a time and it is working as expected except for location permissions. when I request for `FINE_LOCATION` and `BACKGROUND_LOCATION`.

## Environment info

react: 16.13.1 => 16.13.1
react-native: 0.63.2 => 0.63.2
react-native-permissions => 3.0.3

## Steps to reproduce

Please run the below snippet

[2021-06-29 12:12] Yandamuri opened #624 "when request for ACCESS_BACKGROUND_LOCATION should open a dialogue window instead of taking to settings page"
# Feature request

when request for ACCESS_BACKGROUND_LOCATION user is taken to settings page like below

![123049216-f2a4ee00-d41c-11eb-91db-39cd4a7e9de4](https://user-images.githubusercontent.com/31983789/123794524-8fc1c400-d900-11eb-855c-54ab8acafda0.png)

Instead, If below dialogue window should be opened.

<img width="277" alt="Screenshot 2021-06-29 at 5 24 58 PM" src="https://user-images.git

[2021-06-29 12:32] zoontek commented on #624
Duplicate of https://github.com/zoontek/react-native-permissions/issues/623

[2021-06-29 12:32] #624 closed, assigned to nobody

[2021-06-29 12:32] zoontek commented on #623
I tried the reproducible sample code and it worked on my device. Do you target at least API Level 29 ?

[2021-06-29 14:01] siemya commented on #565
Hey @zoontek what's the status of the main issue?

[2021-06-29 14:03] zoontek commented on #565
@siemya It seems that Google don't solved it yet. But currently updating the status to `GRANTED` will work, only `Ask me next time` on Android 11 is broken.

And that's because the Android permission system have a completely broken design. Let me explain:
- If the permission is requestable, the status is equal to `DENIED`, so you can call `check` or `request`. It will stay `DENIED` if the user doe

[2021-06-29 14:23] zoontek commented on #565
But switching from `DENIED` or `BLOCKED` to `GRANTED` currently works perfectly. Try it with the example app on the repository.

[2021-06-30 06:16] XunZhan opened #625 "RNPermissions is null in Jest"
## Summary
Following the mock instruction in README but still getting errors in Jest.
![image](https://user-images.githubusercontent.com/27729071/123910472-548ab980-d92f-11eb-96aa-596f5d3d5a6d.png)

## Environment info
`react-native info` output:

[code]

Library version: 3.0.0

## Steps to reproduce
1. `jest.config.js`
[code]
2. `__mock__/mockPermissions.js`
[code]

3. `App-test.js`
[code]

## De

[2021-06-30 06:42] Yandamuri commented on #623
@zoontek
Please excuse for the lengthy comment. I am struggling a lot with these permissions since I am new to RN and don't have any expose to native code.

Surprisingly `requestMultiple` is working But not as I explained in the question. And I found a strange thing

If I target api level 29, following windows is opening

<img width="354" alt="Screenshot 2021-06-30 at 11 33 43 AM" src="https://use

[2021-06-30 06:45] zoontek commented on #623
That's an android issue, not related to the lib which is just a 1:1 mapping over the API.

[2021-06-30 06:47] zoontek commented on #625
Looks for similar issues, this already has been explained.

[2021-06-30 06:47] #625 closed, assigned to nobody

[2021-06-30 06:58] zoontek commented on #611
I could not reproduce this, so I'm closing it

[2021-06-30 06:58] #611 closed, assigned to nobody

[2021-06-30 07:12] Yandamuri commented on #623
@zoontek in that case,  in your mobile also user is taken to settings page when request for `BACKGROUND_LOCATION` in android 11?

[2021-06-30 07:14] zoontek commented on #623
I didn't tried it because I have no legit use case for background location, but there is no specific code for this permission.

[2021-06-30 12:04] Yandamuri commented on #623
@zoontek
I checked with some other app with api 29 and api 30. same thing is happening as I explained. Seems like they have changed the in api 30. Hence, Closing this issue . And thank you so much for your cooperation.

[2021-06-30 12:04] #623 closed, assigned to nobody

[2021-06-30 13:12] mikehardy commented on #623
@Yandamuri you will want to become very familiar with the Android changes pages, this is the background education: https://developer.android.com/about/versions/11/privacy/location

(they release a document set like this for every version, they're actually pretty good reads, and serve as reasonable introductions to native on Android. Apple releases nothing like this unfortunately)

[2021-06-30 13:50] Yandamuri commented on #623
@mikehardy Great Mikehardy. Thank you so much for that.

[2021-06-30 15:19] XunZhan commented on #625
@zoontek Hi, I have already tried all the solutions for duplicated issue but still getting the same error. Would you mind giving me more instructions on that? I am just a beginner in react native and really sorry for the inconvenience.

[2021-06-30 16:04] mikehardy commented on #625
@XunZhan it's documented well https://github.com/zoontek/react-native-permissions#testing-with-jest

Stack overflow would be better for your question unless there is a bug with the jest file itself. Basic user support is out of scope for maintainers, there's not enough time in the day unfortunately (there never is, is there?)

[2021-06-30 18:52] XunZhan commented on #625
Thanks @mikehardy ! Just solved this. Not related to this permission package, I forgot to mock the qr-code-scanner, which relies on this.

[2021-07-01 07:38] SikoraKam opened #626 "Permission LIMITED for Android 11"
# Feature request

Are you planning to implement permission Limited for android also?

## Why it is needed
Android 11 (api 30) force apps to implement limited gallery picker like on iOS.

[2021-07-01 07:41] zoontek commented on #626
No, I don't need it and have currently no time for that, but I will accept a PR.

[2021-07-01 14:52] ricoalex opened #627 "Undefined symbol: _OBJC_CLASS_$_RNPermissionHandlerLocationAccuracy"
<img width="249" alt="Screen Shot 2021-07-01 at 21 43 46" src="https://user-images.githubusercontent.com/59092868/124144827-811d0d80-dab6-11eb-8625-b10e1386693f.png">

I Have error after install React Native Permissions
Can I Have solutions , please ?
Thank you

[2021-07-01 15:03] zoontek commented on #627
Hi. You can search for solutions in duplicate issues, it's related to your cache.

[2021-07-01 15:03] #627 closed, assigned to nobody

[2021-07-07 15:15] NadjibSb opened #629 "Trouble instaling the package with React-v17.0.1 & react-native-v0.63.4"
# Bug report

## Summary

While trying to install the package ```npm install --save react-native-permissions```. I got a dependency error (React.v.17.0.1 && react-native.v.0.63.4), knowing that I can't change those versions depending on another SDK

## Error output

[code]

## Environment info

`package.json`:

[code]
`react-native info` output:
[code]

[2021-07-07 16:08] mikehardy commented on #629
duplicate https://github.com/zoontek/react-native-permissions/issues?q=unable+to+resolve+dependency+tree+

[2021-07-08 13:10] #629 closed, assigned to nobody

[2021-07-08 13:11] zoontek commented on #629
Closed because @mikehardy is right. Next time, think about issue searching before opening a new one 🙂

[2021-07-12 17:23] minh-dai opened #630 "CocoaPods could not find compatible versions for pod "Permission-PhotoLibrary""
in my podfile:

platform :ios, '9.0'
use_frameworks
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

target 'Notarax' do
  # Pods for Notarax
  pod 'FBLazyVector', :path => "../node_modules/react-native/Libraries/FBLazyVector"
  pod 'FBReactNativeSpec', :path => "../node_modules/react-native/Libraries/FBReactNativeSpec"
  pod 'RCTRequired', :path => "../n

[2021-07-12 18:00] psatler commented on #465
Thanks @hamoudaarfaoui

[2021-07-12 18:32] mikehardy commented on #630
Hi there!
The formatting here is very difficult to follow. Could you edit it and add triple-ticks enclosing it, with ruby as the language?

Example

[code]

More importantly, the full *text* (please not an image) of the error message in important.
But even most importantly, this will be a project-specific issue. There is no problem with the module and you can (and should!) verify the same by cloni

[2021-07-12 19:13] heavell7870 opened #631 "No Permission handler detected"
# Bug report

## Summary
No permission handler detected in IOS Simulator and also not able to request permission as it says it's not available

and if I use post installer it says library not found for - Permission-Camera

## Environment info

`react-native info` output:

[code]

Library version: 3.0.5

## Steps to reproduce

1. Install React native permission with use_frameworks! :linkage => :sta

[2021-07-13 07:54] zoontek commented on #631
Just uncomment this. Please take 5min before opening an issue next time 😅

[code]

[2021-07-13 07:54] #631 closed, assigned to nobody

[2021-07-13 07:56] zoontek commented on #630
1. Please respect the issue template or this will be closed
2. Format your code to improve readability
3. Don't forget to run a `pod install`
4. Clean The Xcode cache using [react-native-clean-project](https://github.com/pmadruga/react-native-clean-project)

[2021-07-13 07:57] #619 closed, assigned to nobody

[2021-07-13 10:32] minh-dai commented on #630
I add the library step by step, I have cleaned and run pod install, then in terminal show error. I don't know why the error

[2021-07-13 10:33] zoontek commented on #630
@minh-dai Respect the issue template, send a proper and complete Podfile, this one is impossible to debug.

[2021-07-15 03:27] markssiw11 commented on #630
when you use the 3.0.0 release you have to remove the ".podspec" extensions in your Podfile.
//
https://github.com/zoontek/react-native-permissions/releases/tag/3.0.0 Breaking Change => .podspec extension is no longer required in your Podfile

[2021-07-16 07:02] #630 closed, assigned to nobody

[2021-07-16 09:43] ghost opened #632 "Add android permission REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
# Feature request

It would be great, if you could add the check and request permission for 'android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS'.

## Why it is needed

Our app needs the permission to run an infinite background service on android. We implemented a working react native module for testing the code mentioned below. But it would be cool, if it would be part of your library.

## Po

[2021-07-16 10:30] zoontek commented on #632
Duplicate of https://github.com/zoontek/react-native-permissions/issues/395
@felix4321 Nobody did a PR, could you?

[2021-07-16 12:42] ghost commented on #632
@zoontek Thx for info - I will try the PR!

[2021-07-16 17:15] mikehardy commented on #632
@felix4321 careful with this one! has some edge cases apparently where Activity may not exist, and it may cause Play Store rejection https://stackoverflow.com/a/50840603/9910298

It's not a dangerous permission to start, so I think this is more about just opening the settings after giving the user rationale?

In that case, I think it exists: https://github.com/rasheedk/react-native-disable-battery

[2021-07-20 06:50] zoontek commented on #632
After checking, this is indeed too risky to be put in this library. As it's something exceptional to request this kind of permissions, I think having a second library that only do that makes sense.

[2021-07-20 11:30] guillaume-g commented on #436
Same problem for me here, I did it by using a flag too. Little bit tricky from my point of view

[2021-07-26 09:49] xgenem commented on #605
Permissions granted or denied. It crashed.

[2021-07-26 09:51] xgenem commented on #605
Can confirm it is due to missing permissions in AndroidManifest

[2021-07-26 09:55] xgenem commented on #605
Hmmm. Unfortunately. Crash still happened :'(

[code]

[2021-07-27 23:30] AngelTrinidad commented on #499
I have the same issue

[2021-07-28 14:31] AngelTrinidad commented on #499
Well, upgrade to version 3 and clear the build folder in xcode, fix the problem for me

[2021-07-31 00:31] mrosendin opened #633 "unmet peer dependency "react-native-windows@>=0.62.0""
# Bug report

## Summary

warning message from `yarn`:

[code]

## Environment info

package.json

[code]

`react-native info` output:

[code]

Library version: 3.0.5

## Steps to reproduce

1. add to rn project
2. yarn install

Describe what you expected to happen:

no warning msg

## Reproducible sample code

[code]

[2021-08-03 05:31] jzxchiang1 commented on #611
For posterity, this is most likely an insane bug with gradle / RN as documented here: https://github.com/facebook/react-native/issues/31278

The fix is the comment I left in the bug.

[2021-08-03 08:26] LasseKrgmn opened #634 "PhotoLibrary and PhotoLibraryAddOnly is unavailable on ios 12"
Tested with iphone 6 simulator and real device on ios 12.5.4.

react-native: 0.64.2
react-native-permissions: 3.0.5

[2021-08-03 17:47] mikehardy commented on #611
@jzxchiang1 wow, that is unexpected. Your comment suggests downgrading. I suggest that current 4.2.x gradle plugin (upgrading) also works and is likely a safer approach. I can also confirm Android Gradle Plugin 7 works as well, with gradle 7.1.1 (both current stable now) but only with this tiny patch https://github.com/react-native-community/cli/pull/1396 (included in upcoming react-native 0.65) a

[2021-08-04 08:31] zoontek commented on #634
`PhotoLibrary` is available on iOS 12.

[2021-08-04 08:31] #634 closed, assigned to nobody

[2021-08-04 08:32] zoontek commented on #633
Just ignore it, it's for developer using Windows as target environment.

[2021-08-04 08:32] #633 closed, assigned to nobody

[2021-08-04 08:32] #632 closed, assigned to nobody

[2021-08-04 15:35] fabyeah opened #635 "[Android] Add ACCESS_MEDIA_LOCATION permission"
# Feature request

It looks like this permission for Android is currently still missing.

## Why it is needed

The permission is needed to access location tags of media: https://developer.android.com/training/data-storage/shared/media#media-location-permission

[2021-08-04 18:48] mikehardy commented on #635
I was curious so I just looked. It appears you just need to add it to https://github.com/zoontek/react-native-permissions/blob/master/android/src/main/java/com/zoontek/rnpermissions/RNPermissionsModule.java and https://github.com/zoontek/react-native-permissions/blob/master/src/permissions.android.ts - you can reach right into node_modules and give it a try

Use patch-package to persist your work

[2021-08-05 11:02] fabyeah commented on #635
@mikehardy thanks for the tip! Didn't know about `patch-package`, that's pretty nifty. I made the changes in `src` and `dist` folder and to `android/src/main/java/com/zoontek/rnpermissions/RNPermissionsModule.java` but unfortunately I only get `unavailable` as result for the check :(
I guess the android part of the package has to be properly built, as I can't edit the `android/build` folder binari

[2021-08-05 13:02] mikehardy commented on #635
There should be java files in there? They are built every time you start react native for android in debug and mode

[2021-08-05 17:49] fabyeah commented on #635
I'm just guessing here that maybe this is the relevant file `/node_modules/react-native-permissions/android/build/intermediates/javac/release/classes/com/zoontek/rnpermissions/RNPermissionsModule.class`, which I can't open in my editor.

Or the problem could lie somewhere else..

I will try and fork the repo, make changes and install from github. Then the package _should_ be properly set up. (If s

[2021-08-05 17:54] mikehardy commented on #635
[code]

[2021-08-05 18:38] fabyeah commented on #635
Yep, the first file, `RNPermissionsModule.java` i modified already.

[2021-08-05 19:50] mikehardy commented on #635
Perfect. The class files will be rebuilt for you when you `yarn android` (or the equivalent).
If it doesn't do what you're expecting, then the code isn't correct.
Add `System.err.println("your message here");` in the java and watch `adb logcat` as needed to see where things go in the control flow, and how your permission is handled, similar to `console.log('your message');` in javascript

[2021-08-06 12:05] Qazafi-Dev commented on #429
i am getting this error in android i tried to link qrcode scanner manually but it didnot i am using react native cli

[2021-08-10 03:49] hanifmhd commented on #592
@zoontek can you help me, i'm writing the same code like above, but it's not working for Android & iOS, what am i missing?
[code]

it just shows up the default OS permission, not my custom title and message

[2021-08-10 05:08] zoontek commented on #592
@hanifmhd Check what is a rationale in Android docs: https://developer.android.com/training/permissions/requesting#workflow_for_requesting_permissions

[2021-08-11 07:07] RajatGang07 opened #636 "App crashed / App reload when changing the permission of camera"
Steps to reproduce
App reload:

Go to setting, close camera permission, run app
Go to the camera component
Go to setting, open permission
App reload
App crashed:

Go to the camera component
Go to setting, close permission
App Reloads/Crash
I don't want App to reload and App crashed anymore.

How can I handle it?

 Thanks.

[2021-08-11 11:12] zoontek commented on #636
Please respect the issue template or this issue will be closed.

[2021-08-12 11:58] dozsolti opened #637 "Camera Check shows Granted when there's no Camera"
# Bug report

## Summary

Checking the camera on Android Emulator shows permission granted even if there's no camera.

## Environment info

`react-native info` output:

[code]

Library version: 3.0.5

## Steps to reproduce

1. Install this module
2. Request & Accept the android camera permission on an emulator
3. Remove the cameras from the emulator (Go to Your emulator's settings > Show Advanced

[2021-08-12 12:10] isoamylol commented on #392
Thanks!

[2021-08-12 20:31] zoontek commented on #637
The permission is granted, if you re-add a camera you could use it.
This library is not about features detection, only permissions 🙂

[2021-08-12 20:33] #637 closed, assigned to nobody

[2021-08-12 23:07] BillyIvyJr opened #638 "Camera and Image request(permission) asks twice"
# Bug report

## Summary
This only occurs on android, because apple blocks repeated requests.  I am trying to set-up the camera and image picker for my app but ran into an odd issue.  When requesting for permission for image or camera, the user is being asked once for permission to access the camera if they deny the first time, then the pop-up opens again asking permission.  When I run the request

[2021-08-13 08:11] zoontek commented on #638
Hi! Are you sure that `ImagePicker.openPicker` is not requesting permission by itself?

If you follow this library documentation, you will find a better way to organize your code (check the permissions statuses first, if they are requestable do it, then if the user grant the permissions call `ImagePicker.openPicker`)

[2021-08-13 08:13] #636 closed, assigned to nobody

[2021-08-13 09:02] RajatGang07 opened #639 "App crashed / App reload when changing the permission of camera"
Bug report

Summary
This is happening with me on iOS. Whenever I try to provide permission using openSetting. The app always reloads.

Environment info

[code]

Library version: ^3.0.0

Steps to reproduce
[code]
Sample Code

[code]

[2021-08-13 09:03] zoontek commented on #639
No steps to reproduce, no code provided

[2021-08-13 09:03] #639 closed, assigned to nobody

[2021-08-13 09:08] RajatGang07 opened #640 "App crashed / App reload when changing the permission of camera"
Bug report

Summary
This is happening with me on iOS. Whenever I try to provide permission using openSetting. The app always reloads.

Environment info

[code]

Library version: ^3.0.0

Steps to reproduce
[code]
Sample Code

[code]

[2021-08-13 14:04] mikehardy commented on #640
This is not under the application's control. On Android (and iOS) if you alter the permissions for an app, the *system will forcibly kill and restart the app*. Nothing you can do to stop that.

If your app crashes in that circumstance, you need to handle it better I think - *or* if the permissions module here is crashing please post the native stack trace from `adb logcat`

[2021-08-13 18:46] zoontek commented on #640
What does `getNativePermissionStatus` do? I think you forgot to check the permission status before using  the camera, which explain the crash.

[2021-08-17 04:23] RajatGang07 commented on #640
@zoontek ```getNativePermissionStatus``` this function is checking the status of permission

[code]

[2021-08-17 04:31] RajatGang07 commented on #640
@mikehardy According to my understanding, Neither app is crashing nor the permission module is crashing, here iOS is forcibly restarting the app because we had done changes in settings(permission).

So I just wanted to know how can we handle it?

[2021-08-17 07:05] zoontek commented on #640
You can't avoid a reload. But if the app does not really crash, there is no particular issue with the library.

[2021-08-17 10:30] #640 closed, assigned to nobody

[2021-08-17 12:48] mikehardy commented on #640
Consult stackoverflow.com I guess, but in general if you are in the middle of a flow and want to resume, save yourself a deep link in async storage or similar. Project specific need == project specific solutions

[2021-08-19 20:33] BillyIvyJr commented on #638
It seems that the image picker is doing its own permission checking.  It does not give as much granularity as this library, but I was able to rework our code to use the image picker permission check.

[2021-08-19 20:33] #638 closed, assigned to nobody

[2021-08-23 07:36] markl-vesper opened #641 "RN 0.65.1 && react-native-permissions 3.0.5 combo gives No permission handler detected."
### Bug summary

RN 0.65.1 helloworld app works fine till "react-native-permissions": "3.0.5" is added to package.json

yarn install - OK
pod install - OK
run-ios - fails with

[code]

the podFile format is VERY different from previous RN projects. This is the 1st time we have tries to use 0.65.1 because we are trying to fix a permissions issue funny enough.

We load all the base packages we want

[2021-08-23 07:55] zoontek commented on #641
Hi. Indeed there is no permission handler in your Podfile?
Did you read the documentation?

[2021-08-23 08:00] markl-vesper commented on #641
yes i noticed that ommision sorry. i added it and it still crashes

require_relative '../node_modules/react-native/scripts/react_native_pods'
require_relative '../node_modules/@react-native-community/cli-platform-ios/native_modules'

platform :ios, '11.0'

target 'cortexMonitoring' do
  permissions_path = '../node_modules/react-native-permissions/ios'
  pod 'Permission-Camera', :path => "#{permiss

[2021-08-23 08:01] zoontek commented on #641
You added it, run a `pod install`, cleaned the Xcode cache and relaunched your app?

[2021-08-23 08:13] markl-vesper commented on #641
yes its looking great now

thanks for support

[2021-08-23 08:14] #641 closed, assigned to zoontek

[2021-08-25 17:30] ezeaguerre commented on #576
@RaphaelHadjadj same thing here, I ended up installing react-native-tracking-transparency and all worked flawlessly!

[2021-08-31 09:41] kkureli commented on #602
can u solve?

[2021-08-31 16:46] mikehardy commented on #602
@kkureli this the equivalent of spam:

You must read and put in some effort.

Spam is unwanted because it is effectively the theft of people's time. That's what you have done here, please don't do that.

[2021-09-01 18:47] tasad-7 opened #642 "while importing permissions in podfile"
### Bug summary

**File Directory Resolution**
Issue is when you follow instructions for importing permissions in your podfile the commands should implicitly direct you to the correct file but instead it does not and I get the error saying
**"[!] No podspec found for `Permission-Notifications` in `../node_modules/react-native-permissions/ios/Notifications.podspec`"**
The Fix is simple and you shou

[2021-09-01 20:14] zoontek commented on #642
I don't get it, what's the issue?

[2021-09-02 22:16] tasad-7 commented on #642
I had to use this
pod 'Permission-Notifications', :path => "#{permissions_path}/Notifications/Permission-Notifications.podspec"

instead of
pod 'Permission-Notifications', :path => "#{permissions_path}/Notifications"

[2021-09-03 00:01] mikehardy commented on #642
So what you're saying is, you did not follow the example in the README and define the variable, leading to failure later when the variable was used? :thinking:

https://github.com/zoontek/react-native-permissions/blame/master/README.md#L41

I can certainly see how not following the documentation would lead to build problems!

I cannot see how it is a bug with the module though

[2021-09-03 07:04] #642 closed, assigned to zoontek

[2021-09-03 07:05] zoontek commented on #642
I agree on this one, there is currently no issues if you respect the README

[2021-09-03 11:58] Taimoormk opened #643 "App launches with pre-granted push notification permissions"
### Bug summary

After integrating react-native-permissions, when the app is launched for the very first time, I checked in the device setting of that app and it showed that app has already been granted access to deliver notifications quietly. However, hence why when I browse the app, it never asks for push notification permissions with the native modal, and when I manually turn off the push notif

[2021-09-03 12:01] zoontek commented on #643
Do you reset the permissions when you debug your app?
Check how to here: https://developer.apple.com/library/archive/qa/qa1906/_index.html

[2021-09-03 12:06] Taimoormk commented on #643
@zoontek Yes, several times, my ways to reset it are following:

- delete the app off the simulator/real device - also mentioned in the link you shared
- erase the simulator to start with a fresh copy
- also tried the one you mentioned, but same results :/

[2021-09-03 12:11] zoontek commented on #643
This is an iOS issue anyway. Does this happen on real devices?

[2021-09-03 12:14] Taimoormk commented on #643
@zoontek Yes, strangely it happens on real iOS devices too. Also, it does happen on debug and release builds too.

[2021-09-03 12:56] Taimoormk commented on #643
@zoontek Interesting observation, I ran the app on iPhone 8 simulator for the very first time, the app initialized with `off` status for push notifications permissions, then I ran the flow, it never asked for the native modal permission, instead it loaded the open settings modal, and I went to the settings screen and granted push notifications. After cleaning the device, I tried to run the app aga

[2021-09-03 18:04] alprbykn opened #644 "Can't find variable: status"
### Why it is needed?

in react-native check notification method it throws status deprecated error.

### Possible implementation

_No response_

### Code sample

[code]

[2021-09-03 18:53] #644 closed, assigned to zoontek

[2021-09-03 23:39] mattahorton commented on #507
any update on the bluetooth-central handler?

[2021-09-04 00:42] mikehardy commented on #507
https://github.com/zoontek/react-native-permissions/pulls?q=is%3Apr+is%3Aopen+bluetooth

Looks like zero PRs in the queue

[2021-09-05 09:19] #612 closed, assigned to nobody

[2021-09-05 09:20] zoontek commented on #612
I'm closing this, since nobody seems really interested in opening a PR.

[2021-09-07 15:41] poormohammadi commented on #504
Removing `tools:node="remove"` from AndroidManifest.xml fixed mine.
Replace
`<uses-permission tools:node="remove" android:name="android.permission.CAMERA"/>`
with
`<uses-permission android:name="android.permission.CAMERA"/>`

[2021-09-11 19:06] thespacemanatee commented on #262
I am getting this behaviour on Android 11 and library version 3.0.5. Anyone else?

[2021-09-15 07:45] zoontek commented on #643
Sorry, this sometimes happen, but is not related to this library.

[2021-09-15 07:45] #643 closed, assigned to zoontek

[2021-09-17 06:03] dinesh-fareye opened #645 "Permissions for Android 12"
### Why it is needed?

I need to use Bluetooth into App (Android 12) below permissions are missing.

<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
<uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

### Possible implementation

_No response_

### Code sample

_No response_

[2021-09-17 07:14] #645 closed, assigned to zoontek

[2021-09-17 07:14] zoontek commented on #645
Fill a proper feature request, with a minimum of informations.

[2021-09-17 10:21] dinesh-fareye commented on #645
I want to connect Bluetooth in Android 12 device for this I need to Ask for permission to user **android.permission.BLUETOOTH_CONNECT**

[2021-09-18 12:18] abikbulatov commented on #612
Hello guys, I made it for myself but since here's no solution for this problem I'm happy for share my code with you

disclaimer: I have zero expereince with objective-c/swift hence I made it kinda randomly and my solution might have problems although it's good enough in my case

### What it does?

This module has a listener that triggers every time when amount of photos in a library were changed.

[2021-09-18 23:44] nishkohli96 opened #646 "Does this library support development on M1 Macs?"
### Bug summary

I'm trying to use this lib on my M1 Mac, here is the error I get when I run `yarn ios`.

[code]

### Library version

3.0.5

### Environment info

[code]

### Steps to reproduce

Did exactly the steps mentioned in the documentation.

Ran app after running `npx pod-install` and eventually ran into the above error.

### Reproducible sample code

[code]
[code]

[2021-09-19 07:17] zoontek commented on #646
I don't have a mac M1, but I don't see why it should cause any issue.

M1 is an ARM processor, maybe the command ran by `yarn run-ios` is wrong? Which version of react-native are you using? Does it works if you open Xcode, clean the project build and run it from it instead?

[2021-09-19 14:45] mikehardy commented on #646
This is subtle. The library works with M1. I've been working hard to clean up all the m1 build stuff for upcoming react-native 0.66 and it's possible to get it all to work but it's not easy. If you're on m1 I strongly recommend checking the react-native-firebase tests directory and looking at our Podfile. I maintain that and it's the best known combo of hacks to make things work on m1 and Intel Ma

[2021-09-19 15:02] nishkohli96 commented on #646
All right, thanks for your support

[2021-09-19 15:50] mikehardy commented on #646
Of note also (now that I am on a real computer and can toss links around) is this specific comment which shows what that magic xcode workaround call is in the react-native-firebase Podfile: https://github.com/facebook/react-native/issues/31480#issuecomment-910019812 and you may also like https://github.com/facebook/react-native/issues/31941

[2021-09-20 13:03] MarinaAmy opened #647 "Added local network permission on IOS"
### Why it is needed?

With the new Apple update 14.0, a new permission is requested: app name wants to search for devices on your local network and connect to them. This app will be able to discover and connect to devices on the networks you use.

Thank you :)

[2021-09-20 13:04] zoontek commented on #647
Duplicate https://github.com/zoontek/react-native-permissions/issues/509

[2021-09-20 13:04] #647 closed, assigned to zoontek

[2021-09-21 10:11] MarinaAmy commented on #509
@vahutson resolve ?

[2021-09-23 08:01] VickyStash opened #648 "iOS 15 ATT permission not showing up"
### Bug summary

ATT permission prompt not showing on iOS 15
Before it was working fine for iOS 14.5 and I didn't change anything.

### Library version

3.0.3

### Environment info

[code]

[2021-09-23 08:02] zoontek commented on #648
Please respect the issue template.

[2021-09-23 08:20] VickyStash commented on #648
@zoontek I've updated the description a little
I'm not sure if it's a problem with the lib or with ios 15

[2021-09-23 08:23] zoontek commented on #648
Are you using an iPhone? Which one? The simulator?

[2021-09-23 08:30] VickyStash commented on #648
@zoontek I'm checking on iPhone 8 Plus, before update to ios 15 permission was showed as expected
Also please see https://www.reddit.com/r/iOSProgramming/comments/pt41jz/att_prompt_not_showing_on_ios_15/

[2021-09-23 11:16] VickyStash commented on #648
@zoontek any ideas?

[2021-09-23 11:17] zoontek commented on #648
Reading the Reddit thread, it seems that Apple broke the feature. The code is super basic: https://github.com/zoontek/react-native-permissions/blob/master/ios/AppTrackingTransparency/RNPermissionHandlerAppTrackingTransparency.m#L38

[2021-09-23 15:19] VickyStash commented on #648
@zoontek
![image](https://user-images.githubusercontent.com/23176449/134535470-7bea6be3-04cf-4833-a4d1-3a7cab9c8b1c.png)

[2021-09-23 19:52] casintec opened #649 "3 moderate severity vulnerabilities then install"
### Bug summary

added 50 packages, and audited 1052 packages in 20s

79 packages are looking for funding

3 moderate severity vulnerabilities

To address all issues, run:
  npm audit fix

Run `npm audit` for details.

### Library version

3.0.5

### Environment info

[code]

### Steps to reproduce

Passo ao passo para app react native

1.	Iniciar o app... npx react-native init app
2.	Rodar no emu

[2021-09-23 20:06] #649 closed, assigned to zoontek

[2021-09-23 20:07] zoontek commented on #649
The library has no dependencies, only dev dependencies.

[2021-09-24 06:46] zoontek commented on #648
The application is active too since the app JS bundle is loaded.

[2021-09-27 10:54] sabun123 commented on #648
We are effected here as well, when trying to release our app 4 days ago we got hit with a rejection. Apple responded with:
[code]

Right now, we are calling `request(PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY)` during the on mount of the very root index.js file in our app and it's still not good enough.

The prompt appears in iOS 14, but does not occur at all in iOS 15. I've tried AppState and it d

[2021-09-27 15:55] #646 closed, assigned to zoontek

[2021-09-27 17:05] sabun123 commented on #648
On further studying, it would seem that Apple has made it so that iOS 15 and onwards the app must be in an `active` state before the app tracking prompt can be fired.

That means if we're trying to fire it off on the on mount of the very first screen/component/file that gets loaded, it's going to fail. The app is not yet in an active state during the launch period despite those screens counting as

[2021-09-28 16:59] JerryMacedoCastro opened #650 "Not able to install RN-Permissions to RNfW application"
### Bug summary

When install react-native-permissions in a react-native-windows app crashes the app.
![image](https://user-images.githubusercontent.com/39466788/135148349-514b6b08-3bff-4187-8c46-4dcb572c6f46.png)

### Library version

3.0.5

### Environment info

[code]

### Steps to reproduce

1. Fallow the steps at https://microsoft.github.io/react-native-windows/docs/getting-started in order t

[2021-09-28 17:17] JerryMacedoCastro commented on #650
I was able to make it work change $(MSBuildThisFileDirectory) for $(SolutionDir) in this file https://github.com/zoontek/react-native-permissions/blob/master/windows/RNPermissions/RNPermissions.vcxproj#L21

[2021-09-29 12:23] zoontek commented on #650
@JerryMacedoCastro Could you open a PR to fix it?

[2021-09-29 12:39] JerryMacedoCastro commented on #650
Sure! I was trying but I couldn't install the dependencies in the example app. Is there any contribution guide I didn't see?

[2021-09-29 18:01] mikehardy commented on #650
I don't have a react-native-windows environment right now (sorry), but I just checked ios and android on a macOS machine, and this worked:

[code]

So at least for ios/android no problem. Perhaps the example is not working for RNW ? Indeed it looks like there is a completely different example for RNW inside example/windows/Example ? I wasn't able to find a contributors guide either and in my exper

[2021-09-30 19:29] felipe-nunes-mlse opened #651 "ios - 'openSettings()' open general settings instead of app settings on the first time it is called"
### Bug summary

The first time that we call ```openSettings```it opens the general settings page instead of the current app settings. It takes some seconds the first time to navigate to the App settings.

On all the calls for ```openSettings```after this, the current app settings open correctly.

![Simulator Screen Recording - iPhone 12 - 2021-09-30 at 16 20 47](https://user-images.githubusercont

[2021-09-30 19:30] zoontek commented on #651
Did you tried on a real device or on a simulator?

[2021-09-30 19:31] felipe-nunes-mlse commented on #651
Both. Real device and simulator.

( The example above is recorded from a simulator screen )

[2021-09-30 20:04] mikehardy commented on #651
This is a system thing as far as I can tell. Settings is an actual android app shipped by google and has nothing to do with your app running (which would imply the react-native-permissions module, inside your app). It seems like it just takes a while for the settings app to actually load up the settings for a specific app.

No idea what react-native-permissions can do about it, so even though I no

[2021-09-30 20:04] mikehardy commented on #651
Sorry - realized you meant iOS, I did notice it there also, but came to the same conclusion - does not seem actionable

[2021-09-30 20:11] zoontek commented on #651
I once noticed that there is sometimes a bug when you develop on iOS: the app setting menu does not exists the first time you install it. This explain why it can't be opened.

(This issue does not happen on production)

[2021-10-01 14:49] minhchienwikipedia commented on #648
I just found a better way base on @sabun123 's answer.
You can put this code anywhere, not required to the root index file.
[code]

[2021-10-01 14:59] mikehardy commented on #648
This could perhaps be added to the documentation somewhere near the ATT information? Could probably help a lot of people, it looks really clean to me

[2021-10-01 16:57] JerryMacedoCastro commented on #650
I opened this [PR](https://github.com/zoontek/react-native-permissions/pull/652) with the change. It was tested in a RNW app. But it seems  something is wrong on C++ side of example app in the windows environment. Not sure cause I don't have knowledge if c++.  Also here is the [docs](https://microsoft.github.io/react-native-windows/docs/0.63/native-modules-setup#referencing-react-native-windows-in

[2021-10-03 14:15] lucas0205 commented on #483
FYI for those who need to change the pod file for location when in use:
`pod 'Permission-LocationWhenInUse', :path => "#{permissions_path}/LocationWhenInUse"`

[2021-10-04 12:29] liho00 commented on #648
having the same issues

[2021-10-04 13:03] zoontek commented on #648
Using `useAppState` makes your component re-render each time its status change. You can use:

[code]

[2021-10-05 05:47] anishsundarjee commented on #576
I am requesting for app tracking transparency permission on button click only if user is of iOS version 14.5 and above. this feature was working as expected for me, till iOS version 15.0.0

but as of 15.0.1 when checking for permission APP_TRACKING_TRANSPARENCY it gives me result as UNAVAILABLE
am using
Xcode 12.5.1,
react-native : 0.64.1,
"react": "16.13.1",
"react-native-permissions": "^3.0.5"

[2021-10-05 08:32] zoontek commented on #576
@anishsundarjee https://github.com/zoontek/react-native-permissions/issues/648

[2021-10-06 18:08] brunomartinezciompi commented on #645
You are talking about the new bluetooth permission of Android 12?

https://developer.android.com/guide/topics/connectivity/bluetooth/permissions

[2021-10-06 18:09] mikehardy commented on #645
Sure! But then we're still in the realm of "sounds great, post a PR..." :-)

[2021-10-06 18:21] brunomartinezciompi commented on #645
@mikehardy I agree with you, but I think we can reopen the issue right?

If we keep this feature request open then perhaps other developers with the same issue can see it and work on a pull request if they have time to do it.

[2021-10-06 18:27] mikehardy commented on #645
Maybe open a fresh one with clear title (feature request, android 12, permission name)

[2021-10-06 18:34] brunomartinezciompi opened #653 "Support Android 12 Bluetooth Permission"
### Why it is needed?

Android introduced a new bluetooth permission on Android 12.

https://developer.android.com/guide/topics/connectivity/bluetooth/permissions

React Native added support for this in version 0.66 https://reactnative.dev/blog/2021/10/01/version-066

_"The BLUETOOTH_ADVERTISE, BLUETOOTH_CONNECT, and BLUETOOTH_SCAN permissions are runtime permissions. Therefore, you must explicitl

[2021-10-06 19:56] mikehardy commented on #653
Here are the lists to the react-native commits, for reference:
https://github.com/facebook/react-native/commit/eeb8e5829e183f6b5cd5fd327cf6da03a7db0541
https://github.com/facebook/react-native/commit/2bcc6fac3844f0752bc7067517c92a643679575e

[2021-10-08 17:10] zoontek commented on #651
Closed since we can't do much about it

[2021-10-08 17:10] #651 closed, assigned to zoontek

[2021-10-11 08:00] codal-mpawar commented on #471
@joenoon @corymsmith @trestrantham @darinwilson @nevir  can we do a Customized permission dialog android?

[2021-10-11 15:16] MrFoxxz commented on #483
I am having the same problem with the permissions, I am working with an iphone 13 with ios 15.0 the permissions of microphone, location, media library are giving "unavailable", but the permission of the camera if it is giving me option to be able to guarantee it

[2021-10-11 15:20] mikehardy commented on #483
I never understand why people post on closed issues without sufficient information to reproduce (https://stackoverflow.com/help/minimal-reproducible-example) like an App.js that would reproduce it when coupled with an `npx react-native init RNPermTest` and an install of react-native-permissions :thinking:

[2021-10-14 13:12] thewirv commented on #648
That seems like a good enough workaround (or solution, even), but this definitely needs to go into the docs as a "Note: On iOS 15+ ..." imho.

[2021-10-14 13:42] mikehardy commented on #648
easily rewritten as:

"That seems like a good enough workaround (or solution, even), I'll propose a PR to the docs as a "Note: On iOS 15+ ...".

[2021-10-14 14:04] thewirv commented on #648
You're absolutely right. Please see #657. I sometimes forget, that "the docs" is just the README, which, in turn, is just a part of the repo like everything else!

[2021-10-14 14:11] zoontek commented on #648
You can create a PR to add it.

I would recommend not to specify on "iOS 15+" since there is no downside on using this method for all ATT permission requests. Just saying that in case people would add conditions to use AppState on iOS > 15 and another way on iOS =< 15.

[2021-10-15 12:24] princefishthrower commented on #611
@jzxchiang1  @mikehardy I've upgraded to React Native 0.66.0, Gradle plugin 7.0.1, Gradle 7.2 - I still don't see the alert window. Is there still a step I'm missing? I'm calling:

[code]

Or is this anyway an issue with the Android emulator in that you don't have camera access anyway? I seem to remember something like that with iOS...

[2021-10-15 13:38] mikehardy commented on #611
Android emulator has a camera (normally, unless you remove it in the emulator settings?) and permissions for it do work correctly (unless you have already granted them? check settings). I've tested this recently (on emulators and device with fresh installs of my app) and I do see camera permissions requests on emulator

[2021-10-16 12:58] zoontek commented on #650
This has been merged and will be released in the afternoon. Thanks a lot for your help!

[2021-10-16 12:58] #650 closed, assigned to zoontek

[2021-10-16 13:41] zoontek commented on #648
Fixed by #657

[2021-10-16 13:41] #648 closed, assigned to zoontek

[2021-10-16 13:45] zoontek commented on #653
Fixed by #655

[2021-10-16 13:45] #653 closed, assigned to zoontek

[2021-10-19 10:17] princefishthrower commented on #611
@mikehardy - indeed, I was missing a step. I can also confirm this now works. My issue was that I forgot to include

[code]

in my `android/app/src/main/AndroidManifest.xml`

[2021-10-25 18:51] ghost commented on #483
@MrFoxxz were you able to figure it out why is always returning "unavailable"?

[2021-10-26 15:13] mikehardy commented on #635
Here's a PR to pattern off #655 - can ignore the example update parts and just focus on the bluetooth-specific parts, should work

[2021-10-27 07:23] sonnd08 commented on #605
Same issue, crash the first time permission granted

My manifest permission
[code]

[2021-10-27 20:16] joe307bad commented on #444
To complicate things a little further, I think in Android 11+, requesting both of these permissions at the same time does nothing since [Android now recommends "incremental" location permission requests](https://developer.android.com/about/versions/11/privacy/location#request-background-location-separately).

So my current solution is to ask for `ACCESS_FINE_LOCATION` first and then request `ACCES

[2021-11-02 10:15] chakrihacker opened #661 "Add Web Support"
### Why it is needed?

Most of the libraries now support the web and it helps with the react-native everywhere vision

### Possible implementation

I can create a POC implementation in the coming days. If you like to accept

### Code sample

[code]

[2021-11-08 13:31] Matzielab opened #662 "Andriod 12 requesting coarse permission requests fine permission automatically"
### Bug summary

Android 12 comes with approximate location option when asking for fine permission, this sets the coarse location permission flag. You can ask for only approximate location by requesting coarse location permission but when trying this it shows the popover and then calls for fine permisson and a "switch to fine location" popover is shown. If fine location switch is denied its shown

[2021-11-08 13:32] zoontek commented on #662
Did you set `ACCESS_FINE_LOCATION` in your `AndroidManifest.xml`?

[2021-11-08 14:20] Matzielab commented on #662
Yess, both fine and coarse are in the manifest. At first we only want to access coarse location and when needed convert it to fine location

[2021-11-09 10:05] zoontek commented on #662
Are you sure this is an issue with the library and not Android 12 directly? I found a lot of occurence of `ACCESS_COARSE_LOCATION` in their issue tracker 😕 https://issuetracker.google.com/issues?q=ACCESS_COARSE_LOCATION

[2021-11-10 08:06] vanhungoz commented on #483
@gilsonviana-modus remove Pods, podlock, after that pod install againt. it worked for me

[2021-11-15 10:30] pavel-stryber opened #663 "Rationale option is ignoring for 'request' method"
### Bug summary

I want to change default title and message of location permission alert but can't do this.
I specify second parameter for 'request' method it but it doesn't work.

### Library version

3.1.0

### Environment info

[code]

### Steps to reproduce

This happens on both Android/iOS physical devices:
iPhoneX, iOS 21.1
Mi 9T, Android 10 QKQ1.190825.002

### Reproducible sample code

[co

[2021-11-15 10:54] zoontek commented on #663
`Rationale` is not about the permission dialog, it's about a warning when the user refused the request once.
More infos: https://developer.android.com/training/permissions/requesting#explain

[2021-11-15 10:54] #663 closed, assigned to zoontek

[2021-11-18 19:05] andvalsol commented on #552
why this issue was closed? Has this callback been implemented?

[2021-11-18 19:15] mikehardy commented on #552
@andvalsol I don't recall seeing a PR from you?

The original author closed it, because they were satisfied:

And the comment trail appears to have died here:

All of this is self-evident from reading the comments.

[2021-11-19 08:11] jkolivuo opened #664 "No permission handler detected"
### Bug summary

Running react-native-permissions with use_frameworks-option. Added following lines to Pod-file
`if pod.name.start_with?('Permission-') || pod.name.eql?('RNPermissions')
      def pod.build_type;
       Pod::BuildType.static_library
      end
    end`
and also added permission request for camera to info.plist file but still getting `No permission handler detected` error.

### Libra

[2021-11-19 08:22] zoontek commented on #664
Don't forget `Pod::Installer::Xcode::TargetValidator.send(:define_method, :verify_no_static_framework_transitive_dependencies) {}`

Try this instead:

[code]

[2021-11-19 09:09] jkolivuo commented on #664
Hi @zoontek tried your proposed fixes but still getting the same error.

[2021-11-19 10:05] zoontek commented on #664
@jkolivuo Did you tried cleaning your build cache? Using https://github.com/pmadruga/react-native-clean-project

[2021-11-19 10:41] jkolivuo commented on #664
Tried also that, no luck. Started to think that since that MobileID library itself requires Camera permission, can it be that it somehow affects on this library and is causing that error?

[2021-11-19 10:44] zoontek commented on #664
Wait, I just saw something obvious … you didn't use any permission handler. I was looking for complex errors but it was the easiest one 😅

Check this step: https://github.com/zoontek/react-native-permissions#ios

Add this if you only want camera:

[code]

[2021-11-19 10:57] jkolivuo commented on #664
Yep, that was too obvious thing to notice, I'll get my coat and go buy new glasses. Thanks @zoontek that did the trick, sorry about this.

[2021-11-19 10:58] zoontek commented on #664
@jkolivuo No problem 😄
Good luck building something awesome!

[2021-11-19 10:58] #664 closed, assigned to zoontek

[2021-11-23 13:34] nikoloz110 commented on #478
had the same issue, fixed after, deleting podfile.lock, podfile, running pod install and re-building it project

[2021-11-23 16:09] Vamsi-Rayapati commented on #554
I am also having same issue is it resolved

[2021-11-23 17:44] mikehardy commented on #554
I think MIUI should in general not be encouraged to do this (or any of the wide variety of other things they do that breaks AOSP) but you may find this useful https://reactnative.dev/docs/linking#sendintent-android in combination with the stack overflow stuff above, since you have to send users to a special screen anyway, that's how you do it.

Use patch-package to add whatever non-AOSP perms a br

[2021-11-23 19:36] teodorusluo opened #665 "library not found for -lPermission-Contacts"
### Bug summary

Get an error while run it in xcode 12.5.1
ld: library not found for -lPermission-Contacts

<img width="804" alt="Screen Shot 2021-11-24 at 02 32 26" src="https://user-images.githubusercontent.com/16112468/143091449-0823cfed-7ae9-4e67-a8f3-0e8711281af5.png">

### Library version

3.1.0

### Environment info

[code]

### Steps to reproduce

1. Install React native permission with us

[2021-11-23 19:38] zoontek commented on #665
Possible resolutions here: https://stackoverflow.com/questions/24050012/error-library-not-found-for-after-putting-application-in-admob

[2021-11-23 20:35] teodorusluo commented on #665
I tried all the possible solutions from your link, but no progress.
Still got that error

[2021-11-23 20:40] teodorusluo commented on #665
It is necessary to appear on the PODS list?
I cant see that permissions in the PODS list
<img width="323" alt="Screen Shot 2021-11-24 at 03 40 12" src="https://user-images.githubusercontent.com/16112468/143106759-ae7990e7-1c6a-4112-8271-3915b1fd4c60.png">

<img width="336" alt="Screen Shot 2021-11-24 at 03 39 43" src="https://user-images.githubusercontent.com/16112468/143106414-8bf822af-dea8-4f7a-

[2021-11-23 20:46] zoontek commented on #665
Yes, something is wrong with your setup. Try checking the development pods.

[2021-11-26 15:35] KhimGurung commented on #545
Best thing you can do is, check if it is blocked or not and if the result is blocked simply alert user asking to unblock from setting manually.
[code]

[2021-11-27 04:22] harleenarora opened #666 "UnhandledPromiseRejection Cannot open application settings"
### Bug summary

Hi, I have got the non-fatal issue of openSettings, I got so many times, Can you provide me solutions.
Device Info
Model:iPhone 11
Orientation: Portrait
RAM free: Unknown
Disk free: Unknown
Operating System
Version:14.8.1
Orientation: Portrait
Jailbroken:No

### Library version

3.0.0

### Environment info

[code]

### Steps to reproduce

Non-fatal Exception: UnhandledPromiseRejec

[2021-11-27 09:42] zoontek commented on #666
It just cannot open the settings in a particular context, you have to handle the error and display something to the user.

[code]

[2021-11-27 09:43] #666 closed, assigned to zoontek

[2021-11-29 12:16] #665 closed, assigned to zoontek

[2021-11-29 12:47] teodorusluo opened #667 "Request permissions not display any request dialog"
### Bug summary

I request for permissions in ios to access camera.
But the dialog for asking permissions is not appear.

Below is my info.plist
<img width="744" alt="Screen Shot 2021-11-29 at 19 23 59" src="https://user-images.githubusercontent.com/16112468/143867611-96bb9650-928a-44c0-99a6-89d5cfbc28ff.png">

Below is my AppPermissions.js code
<img width="770" alt="Screen Shot 2021-11-29 at 19 3

[2021-11-29 12:57] zoontek commented on #667
It seems normal, since the result is `unavailable`. If your pod is correctly installed, this means the device doesn't have a camera (did you tried in the simulator? or a proper device?) or the usage of the camera is restricted (parental control)

From the documentation: https://github.com/zoontek/react-native-permissions#ios-flow

[2021-11-29 14:51] teodorusluo commented on #667
hi @zoontek

I tried to change to Permission Contact, the result also same "unavailable"

[2021-11-29 14:52] zoontek commented on #667
@teodorusluo Did you installed the permission handlers for these? Run a pod update, clean, rebuild?

[2021-11-29 15:00] teodorusluo commented on #667
hi @zoontek

Yes I did,
here is the podfile
<img width="700" alt="Screen Shot 2021-11-29 at 21 57 17" src="https://user-images.githubusercontent.com/16112468/143890593-895a3fa1-9559-48cd-8647-b89e99143c12.png">

here is the scheme
<img width="737" alt="Screen Shot 2021-11-29 at 21 57 59" src="https://user-images.githubusercontent.com/16112468/143890783-9a25a311-4297-4f1e-848a-4c43c535ef78.png">

h

[2021-11-29 15:25] zoontek commented on #667
What happen when you remove your weird abstraction and just do:

[code]

Also, try removing `:linkage => :static` in your `Podfile` and re-run `pod update`
PS: Run https://www.npmjs.com/package/react-native-clean-project before

[2021-11-30 15:19] hectoruiz commented on #635
Hi @mikehardy ! Could you add these changes in a new library version? Thanks

[2021-11-30 15:49] mikehardy commented on #635
No, I cannot. I'm out of work for free time for a while. I do collaborate on PRs though, as I always appreciate when others give back to the community vs just taking. Cheers

[2021-12-02 08:18] LinhNguyen1059 opened #668 "Location permission return denied when select Approximate option on android 12"
### Bug summary

On android 12, when the popup location request showing, then I select the `Approximate -> When using the app (or Only this time)` and the response returned is `denied`.

I've add both `ACCESS_FINE_LOCATION` & `ACCESS_COARSE_LOCATION` to the `AndroidManifest`.

![Frame 3](https://user-images.githubusercontent.com/69496694/144384009-766679bf-0381-43eb-9f20-7f51f6d07eb5.png)
### Libr

[2021-12-02 08:36] zoontek commented on #668
This seems normal. You request fine location, the new permission system allow user to only allow coarse location.
When you receive denied, use check for coarse location.

A similar flow exists on iOS: https://github.com/zoontek/react-native-permissions#about-ios-location_always-permission

[2021-12-02 09:11] LinhNguyen1059 commented on #668
So how can I check that when the user chooses Approximate so that when I get denied I will call the `ACCESS_COARSE_LOCATION `.
or just check in denied case, don't care about what user chooses?

[2021-12-02 09:14] zoontek commented on #668
With the check function from this package + COARSE_LOCATION permission.

[2021-12-02 09:19] LinhNguyen1059 commented on #668
oh, i'l try that and feedback later.
Thank you so much :))

[2021-12-02 09:44] zoontek commented on #668
Something like this:

[code]

[2021-12-02 09:52] #668 closed, assigned to zoontek

[2021-12-02 22:10] hectoruiz commented on #635
Done! https://github.com/zoontek/react-native-permissions/pull/669

[2021-12-11 16:04] mikehardy commented on #661
@chakrihacker not sure if you're still interested in this, but I use this library a lot and am just now extending my apps to react-native-web. I'd love to see a web port (or shim, at least) for this library! :pray:

[2021-12-12 05:24] chakrihacker commented on #661
Will do

[2021-12-21 03:53] anniewey commented on #412
Anyone found solution yet?

[2021-12-22 16:03] dorthwein commented on #407
Also seeing this :( not working ios 14.

[2021-12-22 16:24] mikehardy commented on #407
The critical question @dorthwein is this I think:

...additionally it appears the example app tests every single one, does the example app demonstrate this one? Worth confirming, and if it does, does the example app work?

[2021-12-30 10:46] fobos531 opened #670 "No permission handler detected when using Expo SDK 44"
### Bug summary

Thanks for the great library!

I have a react native app created using react-native CLI and have been successfully using this library in the past months. I'm also using Expo in my app (bare workflow). Everything's been working fine up until Expo released SDK 44. In this version of the SDK, they enforce the `#import <React/*.h>` import style for the React header imports. See [this

[2021-12-30 10:48] zoontek commented on #670
@fobos531 This library doesn't support Expo, use their `Permissions` module instead: https://docs.expo.dev/guides/permissions/

[2021-12-30 11:27] #670 closed, assigned to zoontek

[2022-01-05 09:19] tkmin commented on #545
[code]

[2022-01-05 11:24] keesjetil opened #671 "react-native-permissions not compatible with react-native 0.66.2 (IOS)"
### Bug summary

Hi all,

When trying to adding camera permissions to my react native app, everything builds fine on Android and IOS. On android this functionality seems to work fine, however when asking permissions on IOS, i made some code that opens the settings:

Permissions.openSettings();

There is no checkbox for giving camera permissions. I tried to reset my privacy settings on the IOS but

[2022-01-05 11:36] zoontek commented on #671
`react-native-permissions` is fully compatible with RN 0.66.x.

In order to have the permission switch visible in settings, you have to request it. More infos here https://stackoverflow.com/questions/32332313/ios-camera-permissions-doesnt-appear-under-settings-in-some-devices

[code]

[2022-01-05 11:37] zoontek commented on #667
Closing due to inactivity.

[2022-01-05 11:37] #667 closed, assigned to zoontek

[2022-01-05 12:34] keesjetil commented on #671
When removing the following code for the sake of purpose:

Permissions.openSettings()

I see that the call for a request: Permissions.request(permissionType) works. So thats good news!

However i want the switch to be present. Since the Permissions.openSettings exists within this package, maybe expanding the documentation on how to add these switches when using this function is a great idea?

I am

[2022-01-05 12:39] zoontek commented on #671
That's an iOS issue. The switch cannot be present in some cases (first app run, permission not requested, parental control etc).

We cannot do something about it on our side, sorry!

[2022-01-05 12:39] #671 closed, assigned to zoontek

[2022-01-17 07:23] Badarch commented on #648
mehh still have this issue on iOS15 but it is location_permission

[2022-01-19 21:31] jcvidela opened #672 "IOS - Error when start record audio."
### Bug summary

when I do a SoundRecorder.start(params here...), it gives me the following error,

rror: {
} {"code":"init_recorder_error","message":"{\n}","domain":"NSOSStatusErrorDomain","userInfo":{},"nativeStackIOS":

My code:
 const options: SoundRecorderOptions = {
      format: Platform.OS === 'android' ? SoundRecorder.FORMAT_AMR_NB : SoundRecorder.FORMAT_AMR,
    };
    try {
      await

[2022-01-19 21:32] zoontek commented on #672
Wrong library.

[2022-01-19 21:32] #672 closed, assigned to zoontek

[2022-01-20 19:22] Dassine commented on #646
@mikehardy did you have a chance to fix this?

[2022-01-20 19:26] mikehardy commented on #646
@Dassine fix what exactly? M1s work fine as far as I know. You'll want a modern react-native (0.66 or higher) and you'll want this https://github.com/facebook/react-native/blob/ac206aa814c3c60eac86c2361c06f1aa41d8e85c/template/ios/Podfile#L34

But I don't currently have any M1 related issues.

[2022-01-20 19:39] Dassine commented on #646
@mikehardy thank you for quick answer. I'm getting the `Undefined symbols for architecture x86_64` and this using RN 0.66

[2022-01-20 19:40] Dassine commented on #646
I already added `__apply_Xcode_12_5_M1_post_install_workaround(installer)`

[2022-01-20 20:51] Dassine commented on #646
@mikehardy do you see something wrong in my Podfile ?
[code]

[2022-01-20 22:02] Dassine commented on #646
@mikehardy solved it. I needed to add
[code]
under my other targets.

[2022-01-25 03:56] #635 closed, assigned to nobody

[2022-01-25 15:08] SpaghettiC0des opened #673 "PERMISSIONS.IOS.PHOTO_LIBRARY is reporting false status"
### Bug summary

It is returning `RESULTS.UNAVAILABLE` even though I already granted the request.

### Library version

3.2.0

### Environment info

[code]

### Steps to reproduce

The issue is happening on iOS only
iPhone XR iOS 15.2.1
I also tried turning off the screen time and content privacy, but no luck

1. Run the sample code on a physical iOS device.
2. On the first request, grant the perm

[2022-01-28 09:31] ahsan-abrar commented on #429
did you find a solution getting the same while using qrcode scanner.

[2022-01-31 01:21] SpaghettiC0des commented on #673
@zoontek I updated the steps to reproduce.

[2022-01-31 04:22] vikasacharya16 opened #674 "to block the permission need to deny two times"
### Bug summary

I'm requesting camera permissions in react native app
[code]
**Problem** is I need to deny two times to **block** the request.
i.e First time when i deny It will return **denied** second time when i deny then it will return **blocked**
[![enter image description here][1]][1]

**console logs**
[code]

  [1]: https://i.stack.imgur.com/8hTeQ.gif

### Library version

3.2.0

### Envir

[2022-01-31 09:49] SpaghettiC0des commented on #673
@zoontek I updated the sample code.

[2022-01-31 10:24] zoontek commented on #674
That's normal in Android permission system.
You can request permission twice. The second time, the user will have an option to block them (or not, in the latest android versions).

See https://developer.android.com/guide/topics/permissions/overview

[2022-01-31 10:24] #674 closed, assigned to zoontek

[2022-01-31 10:27] zoontek commented on #673
In the code sample you mention camera permission, but in the issue description you mention photos access.
Could you clarify?

[2022-01-31 11:40] SpaghettiC0des commented on #673
@zoontek  I updated the sample code. I tested the iOS camera and photo library permission and the issue happens on both of them, if you follow the repro steps.

[2022-01-31 13:51] zoontek commented on #673
Just tried your steps and it behaves correctly. I precise I don't use your abstraction but the example app to avoid issues that could came from your code.

1. Run the sample code on a physical iOS device.
2. On the first request, grant the permission.
3. After granting the request, go to the settings then manually turn off the photo access permission. Go to settings -> search for your app name ->

[2022-01-31 13:51] #673 closed, assigned to zoontek

[2022-01-31 13:55] #626 closed, assigned to nobody

[2022-02-01 11:33] satya-imaginea commented on #517
Still the feature is not supported as per the above PR. I tried and have the issue i.e getting RESULT.BLOCKED status
 I used     "react-native-permissions": "^3.2.0",

- [ ] Support Ask every time feature on Android

[2022-02-04 06:48] anniewey commented on #562
@zoontek is there a way to request for draw overlay permission?

[2022-02-07 11:26] astrahov commented on #509
Resolve?

[2022-02-11 06:03] rajAmukhliS commented on #625
mock `react-native-permissions` in `jest.setup.js` file as shown below

[code]

[2022-02-11 06:04] rajAmukhliS commented on #622
mock `react-native-permissions` in `jest.setup.js` file as shown below

[code]

[2022-02-11 06:04] rajAmukhliS commented on #465
mock `react-native-permissions` in `jest.setup.js` file as shown below

[code]

[2022-02-11 06:05] rajAmukhliS commented on #432
mock `react-native-permissions` in `jest.setup.js` file as shown below

[code]

[2022-02-11 06:06] rajAmukhliS commented on #429
mock `react-native-permissions` in `jest.setup.js` file as shown below

[code]

[2022-02-14 05:20] zameschua commented on #509
+1 for support this permission

[2022-02-14 11:23] mikehardy commented on #509
@zameschua this is interesting, I think https://medium.com/hackernoon/i-thought-i-understood-open-source-i-was-wrong-cf54999c097b

[2022-02-14 11:29] zoontek commented on #509
Sure, we can hire my as a contractor to do it if you want. If all the people here ask their companies to get some funding, it should be possible 🙂

[2022-02-19 01:51] isaac-tcs opened #675 "[Android] Can't request for permission on denied access"
### Bug summary

***I'm using Pixel 4 API 30 emulator.***

According to the Android flow on the README, if the user doesn't check `"Never ask again?"`, the status goes back to DENIED. When I ran it on my emulator, it didn't had `"Never ask again?"` section and the result from `checkMultiple()` returned denied state.

But when I try to ask for permission again (after denying), permission modal won'

[2022-02-19 10:08] zoontek commented on #675
This "Never ask again" checkbox does not exists anymore on latest Android versions. It's not a bug, the schema has to be updated.

[2022-02-19 10:08] #675 closed, assigned to zoontek

[2022-02-20 09:22] Egehanozsoy commented on #483
Any updates on this issue, still having this.

[2022-02-20 22:37] mikehardy commented on #483
@Egehanozsoy please refer to my comment here https://github.com/zoontek/react-native-permissions/issues/483#issuecomment-940125938 on this issue that was closed nearly 2 years ago

[2022-02-21 09:42] mahadevsempire commented on #517
Still ? are you kidding me...

[2022-02-21 12:06] mikehardy commented on #517
@mahadevsempire I don't believe anyone is trying to kid you. Exactly what feature do you need that is not working? Are you prepared to work to make the feature work? If not, please reflect on the "are you kidding me" stance, as using open source software means you are not the user, you are the developer

https://stackoverflow.com/help/how-to-ask
https://stackoverflow.com/help/minimal-reproducible-

[2022-02-21 12:20] zoontek commented on #517
@satya-imaginea @mahadevsempire The current Android permission system is broken and this cannot be done with a good UX. We have two choices here and I think the current implementation is the less painful for the user. I'm explaining myself.

![permissions diagram](https://developer.android.com/images/training/permissions/workflow-runtime.svg)

[**👉 Android documentation**](https://developer.androi

[2022-02-21 12:42] zoontek commented on #517
@mahadevsempire so next time, be polite.

[2022-03-04 08:15] Bhavdip29 opened #679 "ACTIVITY_RECOGNITION permission doesn't show dialog in Realme device."
### Bug summary

Hello,

I am using react-native 0.61.4 and trying to add the ACTIVITY_RECOGNITION permission. It's working in most of the devices but it is not showing permission dialogue in Realme devices. I was looking for solutions around the web but I couldn't find them.

Can you please suggest to me how can I achieve it?

### Library version

2.2.2

### Environment info

[code]

### Steps to

[2022-03-04 08:42] akul-srivastava commented on #483
For anyone using Location Permission and getting `unavailable` everytime.
Just add following line in your Podfile

[code]

1. Delete old Pods folder and Podfile.lock
2. pod install
3. Run you app

[2022-03-04 09:34] zoontek commented on #679
@Bhavdip29 Before checking that, try the example app which use up-to-date dependencies (current `react-native` version is 0.67, current `react-native-permissions` version is 3.3.0!)

Here is the exemple app: https://github.com/zoontek/react-native-permissions/tree/master/example

[2022-03-07 16:21] zacdemi opened #680 "checkMultiple returns "unavailable" for all permissions. react-native 67.3"
### Bug summary

When I create a fresh react-naive init AwesomeProject checkMultiple is not working. I get the following behavior.
When using `checkMultiple` I get `statuses: {"ios.permission.LOCATION_WHEN_IN_USE,ios.permission.BLUETOOTH_PERIPHERAL,ios.permission.MICROPHONE": "unavailable"}`

When I use `check` I get `denied` (expected)

### Library version

3.3.0

### Environment info

[code]

##

[2022-03-07 16:33] zacdemi commented on #680
closing for user error.

[2022-03-07 16:33] #680 closed, assigned to zoontek

[2022-03-15 14:49] pierroo commented on #412
I'm gonna have to ask as well: anyone found a solution yet?
related issue being: when tapping on a received notification, it doesn't open the app.

[2022-03-15 14:50] #679 closed, assigned to zoontek

[2022-03-17 11:51] mikehardy commented on #517
@hupptechnologies  you report a problem and say:

...that implies it works in some other phone? You don't specify any details / example of what phones may work, what phones you observe failure

You don't include how you're handling things in `AndroidManifest.xml`, perhaps you are missing the permission?

I have success on Android 11.

[2022-03-17 11:54] zoontek commented on #517
@hupptechnologies https://developer.android.com/training/location/permissions#approximate-request

Try adding `ACCESS_COARSE_LOCATION` (in your `AndroidManifest` + `checkMultiple` and `requestMultiple`). It seems that you **have to** offers the possibility to users to grant only approximate position.

[2022-03-18 01:21] icetee commented on #412
If you download application from Play Store, you application automatically granted SYSTEM_ALERT_WINDOW permission.
https://stackoverflow.com/questions/36016369/system-alert-window-how-to-get-this-permission-automatically-on-android-6-0-an

[2022-03-21 12:25] BhaveshShadija1313 commented on #565
@zoontek returns block in android even if the permission set ask every time in the settings.
step to check issue :
when asking permission Don't tap any permission just click on back button.
Tap on setting>permissions>camera set as "Ask every time".
again check permission at that time getting block status instead of denied from checkMultiple method

[2022-03-22 12:26] evd1ser commented on #661
Hey @zoontek , what's up with the web support at this time?

[2022-03-22 13:01] zoontek commented on #661
@evd1ser I have plan to support https://developer.mozilla.org/en-US/docs/Web/API/Permissions_API, but no time for it now.

[2022-03-22 13:03] evd1ser commented on #661
Cool! Thanks!

[2022-04-04 13:13] peltax commented on #432
[code]

EDIT: as shown in other issue about the same thing adding transformIgnorePatterns to package.json fixed the issue

[2022-04-05 04:34] yashpokar commented on #429
Following https://github.com/zoontek/react-native-permissions#ios helped me solve this problem even when I was not working with IOS, just wanted to test in android device I did this which solved my problem.

[code]

[2022-04-09 15:56] zoontek opened #684 "[call for sponsors] - React Native new architecture support"
Hi everyone 👋

@zoontek here, creator and maintainer of `react-native-{bootsplash / localize / permissions / bars / dev-menu}`.
I'm opening this issue to prevent multiple ones from being created about the new React Native architecture compatibility ([introduced in version `0.68`](https://reactnative.dev/blog/2022/03/30/version-068)).

I'm excited about these changes and the future of React Native,

[2022-04-14 03:56] chenweigh opened #685 "ios Limit bug"
### Why it is needed?

After the permission to access the album is activated for the first time, and the Limited permission is selected, the permission selection Alert will automatically pop up when cold booting again, asking the user to select a picture.

And the problem is: User selects a picture, nothing happens here

### Possible implementation

_No response_

### Code sample

_No response_

[2022-04-14 04:03] #685 closed, assigned to zoontek

[2022-04-19 12:32] puskin commented on #605
The issue is still present for me. Version 3.2.0 of the module.

[2022-04-19 13:22] mikehardy commented on #605
@puskin94 to confirm, you have the exact same message - no differences at all - from https://github.com/zoontek/react-native-permissions/issues/605#issuecomment-886553554 ?

[2022-04-20 10:01] puskin commented on #605
@mikehardy correct! same exact crash with same stacktrace

[2022-04-20 10:04] zoontek commented on #605
@puskin94 Maybe you can provide more context for a viable reproduction? Thanks (cf https://github.com/zoontek/react-native-permissions/issues/605#issuecomment-841787063)

[2022-04-28 08:59] puskin commented on #605
@zoontek

- platform: Android 12
- react-native version: 0.68.0

rn code (partially edited):

[code]

same exact error message as mentioned before when denying the location permission

[2022-04-28 09:01] zoontek commented on #605
@puskin94 Location permissions should be requested at the same time as it's the same prompt.

[code]

[2022-04-28 09:14] puskin commented on #605
@zoontek thanks for the super quick answer, but I just tried and that does not solve the issue

[2022-04-28 09:34] puskin commented on #605
@zoontek @mikehardy  funny enough, the proposed "patch" seems to not be working anymore. The crash is happening now on the react-native package, in the PermissionsAndroid module:

![image](https://user-images.githubusercontent.com/8344987/165723393-4c8429c1-4296-4077-80a5-ea4e147e2c60.png)

[code]

[2022-04-28 10:17] puskin commented on #605
@zoontek @mikehardy It looks like we found the issue.

The component responsible for checking the location permission was re-rendering due to a prop changing in the redux store. This made your permissions module ask for the location permission multiple time in a very short period, thing that (we didn't know) Android does not appreciate much.

Making sure the component does not re-render in a short

[2022-04-28 11:44] zoontek commented on #605
@puskin94 Thanks for your investigation! I will try to add some kind of guards to avoid issues when it happens.

[2022-04-29 06:14] puskin commented on #605
@zoontek thank you so much for your patience and the swift answers!

[2022-05-04 05:58] panda6412 commented on #570
@zoontek Is this issue resolved, I request both PERMISSIONS.ANDROID.ACCESS_BACKGROUND_LOCATION and PERMISSIONS.ANDROID.ACCESS_FINE_LOCATION, but still nothing show on Android 11.

Is anything I missed :( ?

[2022-05-05 19:24] ryanjwessel commented on #591
I would agree with @Ruzen1 that this does not seem like the expected behavior of this request. I am seeing the same thing, that selecting "Allow Once" results in "Blocked", on version 3.3.1 of this library.

I would expect that if the user selects "Allow Once", then the permission is technically granted until they close the app. When the app is re-opened, the permission would no longer be granted.

[2022-05-06 08:12] zabojad opened #686 "Cannot build in XCode on a RN 0.68 project"
### Bug summary

I cannot build my RN 0.68 project on XCode with `react-native-permissions`.

I get compilation error below:

    ld: library not found for -lPermission-BluetoothPeripheral
    clang: error: linker command failed with exit code 1 (use -v to see invocation)

Note that I correctly installed the module and pods as described in [README](https://github.com/zoontek/react-native-permissio

[2022-05-06 08:16] zabojad commented on #686
For a reason I don't know, using latest react-native-permissions 3.3.1 instead of 3.2.0 solves the problem. Sorry for this useless issue post.

[2022-05-06 08:16] #686 closed, assigned to zoontek

[2022-05-18 12:07] rupalpatel0008 commented on #565
Having the same issue.

[2022-05-18 15:46] frankbolviken commented on #602
I'm getting this error now on some devices :/

[2022-05-18 15:58] geraintwhite commented on #509
I have a working solution which I am using in my app and I am interested in sharing it as a PR to this lib - the only caveat is that what I have is written in Swift, does anyone have any guidance on how to integrate it?

For reference, here is my [implementation](https://gist.github.com/grit96/56b75c92a0a193d4b8793466d0f47398). It runs at app launch and currently just triggers the prompt without d

[2022-05-18 16:30] mikehardy commented on #509
That's pretty cool. I believe at this point every modern react-native project has already had to deal with the inclusion of swift files - I know I worked through tons of compilation issues with main repo in the 0.63/0.64 time frame and they should be all handled now

Stated differently: swift as a language should be valid for react-native modules

So then the question is whether you can easily inc

[2022-05-27 14:08] ivankdev commented on #565
same issue for "ask every time" on android  - it returns blocked

[2022-05-27 15:03] fabiendem opened #688 "Add support for Android 13 Notification permission"
### Why it is needed?

Android 13 will ship with a new permission: Notification permission.
https://developer.android.com/about/versions/13/changes/notification-permission

### Possible implementation

I suppose it could fit in the existing API `check/requestNotifications`

### Code sample

[code]

[2022-05-27 15:10] mikehardy commented on #688
We're working on this already for Notifee and have a PR queued but are waiting to make sure Tiramisu / 13 stabilizes before landing. It's nothing fancy though. Just cross-pollinating in here in case it is useful at all

[code]

https://github.com/invertase/notifee/pull/351/files#diff-f5d7290ccfe968a3611168b4c271053d229241b15675d95bafdf35c32b3f5f23R424-R441

[2022-05-31 15:33] luizppa opened #689 "IOS add a photo library selection changed callback"
### Why it is needed?

I have noticed the lack of this feature during [a discussion on react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker/issues/1569). When the app displays library photos for the user and allows him to change the limited selection, as far as I could tell, there is no way to detect when the selection change has finished in order to update the

[2022-05-31 16:16] mikehardy commented on #689
I was just curious so I looked through this, it looks like if you ask for permission again (does this library permit that?) the user can manage the limited set again so a call to action saying "Add Photos?" that re-requests limited permission might do it?

[2022-06-01 12:30] luizppa commented on #689
@mikehardy it is not really a matter of when to prompt the user to manage the limited selection but rather when to know he has finished doing so.

Take this example scenario:
- The user has photos A, B and C on his library, and currently has permitted the app access to photos A and B.
- He navigates to a screen where he is presented with his photo library (only A and B, since that is all we can ac

[2022-06-01 12:35] mikehardy commented on #689
There's no callback in the API that I know of. How do the AppState APIs built-in to react-native react? Might be a foreground to background transition and back.

[2022-06-02 12:53] luizppa commented on #689
Hi @mikehardy! Thanks for your fast response and I am sorry for the delay. We are having some problems with this feature on the simulator running on apple silicon, which is my case, so I had to wait for support from my co-worker who has an intel chip to try your suggestion.

Unfortunately it did not work, the app does not seem to transition neither to background nor foreground during the limited s

[2022-06-02 13:37] luizppa commented on #689
I did some digging and it looks like this is the code that opens the file picker using the PHPhotoLibrary class: https://github.com/zoontek/react-native-permissions/blob/master/ios/PhotoLibrary/RNPermissionHandlerPhotoLibrary.m#L62

Looking through the class docs, it would seem that we can use this version of the method to fire a callback: https://developer.apple.com/documentation/photokit/phphoto

[2022-06-02 13:58] mikehardy commented on #689
Great find!

My previous statement "There's no callback in the API that I know of" is invalidated by that second link I missed it when looking at API docs. It looks like that API would make sense and work for the use case.

[2022-06-02 13:59] zoontek commented on #689
@mikehardy It doesn't exist for iOS 14.x (where the limited feature has been added first). So the solution is partial here.

[2022-06-02 14:05] mikehardy commented on #689
A fair point, but one of the nice things about iOS people is they upgrade really quickly, so it covers most immediately, and almost all "relatively quickly". The alternative being "it's not possible" I think.

Could maybe do an `@available` guard for ios 15.0 ([example, but 14.0](https://github.com/zoontek/react-native-permissions/blob/37d732e8333f1a653300292e82d08decaf9e3995/ios/PhotoLibrary/RNPe

[2022-06-02 14:09] zoontek commented on #689
@mikehardy I think we could listen for `PHFetchResultChangeDetails` (https://developer.apple.com/documentation/photokit/phfetchresultchangedetails) on iOS < 15, will try to implement it.

[2022-06-03 06:28] choijiho0021 commented on #487
I have same problem.

`cd ios`
`rm -rf Pods`
`rm Podfile.lock`
`pod install`

now  It's working.

[2022-06-03 09:42] chenop commented on #442
Still got this issue in android only, ios is ok.

[2022-06-03 13:21] mikehardy commented on #487
@choijiho0021 you might like https://github.com/pmadruga/react-native-clean-project

[2022-06-03 13:30] mikehardy commented on #442
Project integration issue of some sort, these "native module is null" ones always are.
Either JS bundle doesn't match native code (maybe codepush is in play?)
Or you have some cached build artifacts or something
npx react-native-clean-project perhaps

[2022-06-07 05:46] chenop commented on #442
Thanks @mikehardy for replying - npx react-native-clean-project did not resolve the issue :-(

[2022-06-13 09:27] Hamashassan opened #690 "Android 12 - Nearby Devices Permission."
### Bug summary

In Android 12, In my application I would like to enable Nearby Devices. In my manifest I already given BLUETOOTH_SCAN and BLUETOOTH_CONNECT permission as per the google documentation. I would like to show the permission popup to ask user to enable Nearby Devices.

### Library version

3.3.0

### Environment info

[code]

### Steps to reproduce

1. …nothing
2. …

### Reproducible s

[2022-06-13 22:54] zoontek commented on #690
Use `requestMultiple`

[code]

[2022-06-13 22:54] #690 closed, assigned to zoontek

[2022-06-14 08:04] walterholohan opened #691 "Support for healthkit"
### Why it is needed?

I am currently building an apple watch app which tracks a user while they are running. We use healthKit on the watch app to get the users heart rate, distance and speed while running. In order to do so the user must accept healthkit permissions for this data. This can be done on the apple watch app or on the mobile app. At the moment the only way to do this on React Native i

[2022-06-14 08:05] zoontek commented on #691
Duplicate of https://github.com/zoontek/react-native-permissions/issues/229

[2022-06-14 08:05] #691 closed, assigned to zoontek

[2022-06-14 08:15] walterholohan commented on #691
@zoontek did you mean to reference https://github.com/zoontek/react-native-permissions/issues/691 as that is this current feature request

[2022-06-14 08:16] zoontek commented on #691
@walterholohan Yes, my bad, wrong copy / paste.

[2022-06-14 09:13] walterholohan commented on #229
@zoontek do you think you will be adding this feature anytime soon? Or do you think I should just use https://github.com/agencyenterprise/react-native-health/blob/master/docs/permissions.md

[2022-06-14 09:42] walterholohan commented on #229
I also found https://github.com/OvalMoney/react-native-fitness which allows you to request permissions

[2022-06-14 16:09] zoontek commented on #229
@walterholohan I don't think. I don't have enough time to work on it, will accept PR. But as you see the initial feature request is quite old.

[2022-06-14 16:59] mikehardy commented on #229
@walterholohan Here are a couple examples to base a PR on - it's mostly boilerplate for the new module, then some changes to the example app to show the result - the library is easy to work with I think

https://github.com/zoontek/react-native-permissions/pull/510/files
https://github.com/zoontek/react-native-permissions/pull/503/files

[2022-06-16 07:21] gaurigarg97 commented on #565
i am facing the same issue.. permission is granted for android but still coming as denied. has anyone find any solution?

[2022-06-20 00:15] DonRyu opened #692 "(Android 12)There is no 'Deny', 'Don't Ask again' option anymore"
### Why it is needed?

I am using Android 12. There is no 'Deny', 'Don't Ask again' option anymore.
It has  only three things
-While using this app' (granted)
-'only this time' (granted)
-'don't allow' (blocked)

Android changed the process or this library has error? (Lower version android still has 'deny' and 'Don't Ask again' option

### Possible implementation

When user choose block, move them

[2022-06-20 07:40] zoontek commented on #692
Android system changed

[2022-06-20 07:40] #692 closed, assigned to zoontek

[2022-06-23 00:08] stomataln opened #693 "getting 'React/RCTBridgeModule.h' file not found with 3.3.1 RN 0.66.1 Xcode 13.1 new build system"
### Bug summary

getting 'React/RCTBridgeModule.h' file not found  when building the app
react-native-permission version: 3.3.1
react-native version: 0.66.1
Xcode version: 13.1  with new build system

It does work when I use the legacy build system. But since the legacy build system is going to be removed in Xcode14, I am trying to get ahead of it and migrate to the new build system.

### Library

[2022-06-23 00:53] stomataln commented on #693
Actually the same issue can be reproducible with the sample app running Xcode 13.1 with new build system

correction: nvm the sample project is working with Xcode 13.1

[2022-06-23 07:41] oskarhertzman commented on #463
for anybody still having this issue, an extensive cleaning did the trick for me:

`
"ios:clean": "rm -rf ~/Library/Caches/CocoaPods && rm -rf Pods && rm -rf ~/Library/Developer/Xcode/DerivedData/* && cd ios && xcodebuild clean && pod cache clean --all && pod deintegrate && pod setup && pod install --verbose && cd ..",
`

[2022-06-23 07:43] oskarhertzman commented on #483
for anybody still having this issue, an extensive cleaning did the trick for me, add this to scripts in package.json and run:

`npm run ios:clean`

  or

`yarn run ios:clean`
[code]

[2022-06-23 07:59] zoontek commented on #693
@stomataln I'm currently running Xcode 13.3 and don't have this kind of issues.
Did you tried this: https://stackoverflow.com/a/43340802

[2022-06-23 15:15] mikehardy commented on #463
@oskarhertzman sounds like you want `npx react-native-clean-project`...
(or in future `npx react-native clean` -- https://github.com/react-native-community/cli/blob/master/packages/cli-clean/CHANGELOG.md)

[2022-06-23 17:16] amb-silvertree commented on #690
This should be reopened: the Android "Nearby Devices" permission is not the same as the combination of  PERMISSIONS.ANDROID.BLUETOOTH_SCAN and  PERMISSIONS.ANDROID.BLUETOOTH_CONNECT. I am currently seeing the following data from requestMultiple and my Nearby Devices permission on the app is denied:

{"android.permission.ACCESS_FINE_LOCATION": "granted", "android.permission.BLUETOOTH_CONNECT": "gra

[2022-06-23 18:03] stomataln commented on #693
I can't use 13.3 as that has an min OS requirement of Monterey.
The OS hasn't been approved by my company yet.

There is no Parallelize Build in Xcode 13 and I have tried the removing and adding back RN trick.

[2022-06-23 18:06] stomataln commented on #693
@zoontek The problem I am trying to figure out here is that this react-native-permission library isn't the only library importing the 'React/RCTBridgeModule.h'.
While all other libraries are working fine (the app builds when I remove react-native-permission), I am wondering what's the difference between this library and the rest.
For example: react-native-reanimated, react-native-rate

[2022-06-24 00:27] stomataln commented on #693
Issue fixed, from reading this article.
https://www.querythreads.com/react-rct-bridge-module-h-file-not-found/

I just need to unlink the permission library with
react-native unlink react-native-permissions
then redo the pod install

[2022-06-24 00:27] #693 closed, assigned to zoontek

[2022-06-24 09:27] JB-CHAUVIN opened #694 "No permission handler detected"
### Bug summary

Hello,

I have the following error : "**No permission handler detected**".
![error694](https://user-images.githubusercontent.com/8957878/175506921-f40150cb-b94e-4c36-a6a9-ef82a2d798e5.jpg)

I followed all steps to clean Derived data, XCODE project, installed Pods correctly, deleted the app... etc...
I really tried everything but it's not working after upgrading from RN 0.64 to 0.6

[2022-06-24 09:27] #694 closed, assigned to zoontek

[2022-06-24 09:29] JB-CHAUVIN opened #695 "No permission handler after upgrading from RN 0.64 to 0.68"
### Bug summary

Hello,

I have the following error : "**No permission handler detected**".
![error694](https://user-images.githubusercontent.com/8957878/175506921-f40150cb-b94e-4c36-a6a9-ef82a2d798e5.jpg)

I followed all steps to clean Derived data, XCODE project, installed Pods correctly, deleted the app... etc...
I really tried everything but it's not working after upgrading from RN 0.64 to 0.6

[2022-06-24 09:30] zoontek commented on #694
@JB-CHAUVIN Hi! This kind of issues are frequent and are not really issues for the library, so I let you search for duplicates.

1. Check that you setup at least on handler in your Podfile and run pod install after
2. If you use `use_frameworks!`, be sure to read the README for the workaround
3. If it's a build cache error, run [react-native-clean-project](https://github.com/pmadruga/react-native-

[2022-06-24 09:31] #695 closed, assigned to zoontek

[2022-06-24 09:32] zoontek commented on #695
Duplicate of https://github.com/zoontek/react-native-permissions/issues/694

[2022-06-24 09:34] JB-CHAUVIN commented on #694
Please don't close my issue,

I already tried the solutions and spent many days on this problem...

My podfile is installed correctly :
[code]