[2022-06-24 09:38] zoontek commented on #694
@JB-CHAUVIN Can you reproduce this on a fresh project with only the library? If you can't, that's not a library issue, but an error while upgrading your project.
You can check https://react-native-community.github.io/upgrade-helper/?from=0.64.0&to=0.68.2 to be sure you didn't miss something during the update.

[2022-06-26 09:17] zoontek commented on #565
I published a beta to "fix" this issue: https://github.com/zoontek/react-native-permissions/pull/696, explaining how the current Android permission system is broken and which compromise will be probably made until Google fixes it. Feel free to give your feedbacks.

[2022-07-01 03:30] realfelixyu commented on #620
Why is this closed?

[2022-07-05 10:52] deepaksinghcb commented on #307
@mikehardy Apps like Uber is able to manage this scenario. I have checked some other apps as well which are able to to check dynamic changes from settings.

[2022-07-05 11:32] #565 closed, assigned to nobody

[2022-07-05 16:49] mikehardy commented on #307
@deepaksinghcb great report! If you can figure out how they do it (perhaps storing dehydrated local state / nav position, restoring it on restart?) then everyone here would know how to do it as well.

My statements above are facts though as far as I know. You can poll permissions perhaps - at important parts of your app - to get grants but there is no "I was granted a permission" listener you can

[2022-07-06 11:17] aftab410005 commented on #349
"WORKING PERFECT NOW"
Its working in my case:
My steps for Microphone permission====>>>
1.install package
"react-native-permissions"
2.pod install
3.I add in podfile below path:
pod 'Permission-Microphone', :path => "#{permissions_path}/Microphone.podspec"

4.pod install

5.Then in coding::::

 request(PERMISSIONS.IOS.MICROPHONE).then((result) => {
                console.log("permission is-------

[2022-07-07 10:18] mechazod commented on #689
@luizppa I think that is not possible, I suggest you make a listener if there's photo library change.

[2022-07-07 16:16] barrymcgee opened #698 "Add clipboard permissions"
### Why it is needed?

iOS16 will ask permission to access clipboard - https://9to5mac.com/2022/06/06/ios-16-permission-copy-paste-between-apps/

### Possible implementation

iOS only permissions which return truthy or falsy based on user input

### Code sample

[code]

[2022-07-08 05:37] DonRyu commented on #517
Can I refresh the app when user choose 'ask every time ' at setting at block situation? I think some app's did that but I don't know how to do....

[2022-07-08 07:05] zoontek commented on #517
You can use AppState to check permissions when the app gain focus

[2022-07-08 09:41] Jenovas commented on #620
@realfelixyu because it is not a bug, this is how Android works. You most first request Foreground Location from the user and only when the user accepts Foreground Location can your App ask for Background Location which the user must manually set in the App Settings.

[2022-07-08 09:44] Jenovas commented on #570
@panda6412 I'd recommend reading about the permission changes that were introduced in Android 11. https://developer.android.com/training/location/permissions#background

![image](https://user-images.githubusercontent.com/1244154/177965143-96339d76-0a7f-463a-91d6-9df6242624b3.png)

[2022-07-08 15:11] DonRyu commented on #517
Thanks zoontek!!

I am afraid I still can't understand 'to check notifications when the app gain focus' means....
The notification means the permission rationale dialog?
Sorry
AppState can tell the app is in foreground or background..... I don't know how to make ask every time select refresh exactly....

[2022-07-08 15:32] zoontek commented on #517
@DongHeonRyu To check permissions* (typo)

[2022-07-14 11:33] zoontek commented on #688
This feature has landed in [v3.5.0](https://github.com/zoontek/react-native-permissions/releases/tag/3.5.0)

[2022-07-14 11:33] #688 closed, assigned to zoontek

[2022-07-14 11:59] fabiendem commented on #688
Merci!

[2022-07-15 13:19] #698 closed, assigned to zoontek

[2022-07-15 13:19] barrymcgee commented on #698
Closing this as clipboard permissions are not persistent and need to be requested each and every time.

[2022-07-16 11:20] rishabh-raena opened #700 "App crashing on Launch IOS 15.4"
### Bug summary

2022-07-13 18:47:26.342228+0530 App[84911:2401435] [CleverTap]: CleverTap: Auto Integration enabled
2022-07-13 18:47:26.346258+0530 App[84911:2401435] [CleverTap]: Initializing default CleverTap SDK instance. CleverTapAccountID: "id" CleverTapToken: "token" CleverTapRegion: default
2022-07-13 18:47:26.393452+0530 App[84911:2401435] [CleverTap]: CleverTap IDFV usage enabled
2022-07

[2022-07-16 11:21] #700 closed, assigned to zoontek

[2022-07-17 12:12] tr3v3r commented on #467
@mrousavy hi!
Did you manage to find the root cause of the issue?
After disabling hermes we also start facing this problem..

[2022-07-18 13:12] hrdyjan1 commented on #449
Package - react-native-permissions v3.4 didn't work for me ❌
Package - react-native-permissions v3.6 worked ✅

[2022-07-18 13:22] zoontek commented on #449
@hrdyjan1 Nothing change on iOS between the two versions: https://github.com/zoontek/react-native-permissions/compare/3.4.0...3.6.0 (proof that it's **always** user build cache issues / steps missed in the documentation 😄)

[2022-07-26 01:39] yoonjaehi opened #702 "Notification getting automatically blocked in android 13"
### Bug summary

requestNotifications returns blocked without giving any alert windows.

### Library version

3.6.0

### Environment info

[code]

### Steps to reproduce

I'm testing on Pixel 5 virtual machine with android 13, but when requestNotifications() is called, it returns
{"settings": {}, "status": "blocked"} and doesn't produce any alert window. What is the problem?

### Reproducible samp

[2022-07-26 08:09] rodrigodiasf1984 opened #703 "Android permission biometric"
### Why it is needed?

Hi guys, I hope you're doing well! Can you please help me with, how I can check if the user has the android and IOS biometric permission?

After the user login, I need to verify if the permission has been granted or not!

Thanks in advance!

### Possible implementation

_No response_

### Code sample

[code]

[2022-07-26 09:44] zoontek commented on #702
@yoonjaehi Do you correctly target SDK 33+, as said in the documentation ?

- https://github.com/zoontek/react-native-permissions#requestnotifications
- https://github.com/zoontek/react-native-permissions/releases/tag/3.5.0

[2022-07-26 09:47] zoontek commented on #703
USE_BIOMETRIC is not a "dangerous level" permission (something to request). Just declare it in your AndroidManifest.

https://developer.android.com/reference/android/Manifest.permission#USE_BIOMETRIC

[2022-07-26 09:47] #703 closed, assigned to zoontek

[2022-07-26 09:49] zoontek commented on #703
@rodrigodiasf1984 Next time, search for duplicates first https://github.com/zoontek/react-native-permissions/issues/388 🙂

[2022-07-26 09:50] rodrigodiasf1984 commented on #703
I will thanks!

[2022-07-27 08:39] Martinocom opened #704 "Permissions are not asked again (marked as denied) if disabled manually in Settings (Android 12)"
### Bug summary

Permissions are prompt only once on Android 12. The status of the permission is only `denied`, still the popup does not appear with `request` nor `requestMultiple`. Permission is flagged as `denied` and the second time the permissions are asked the method freezes the app with both `async-await` and `then-catch` approaches (no errors are thrown). This happens when once granted, I g

[2022-07-27 14:27] zoontek commented on #704
@Martinocom HI! I tried using the emulator (Android 13), my Pixel 4a (Android 12) and my Xiaomi A2 (stock, Android 10) and I cannot reproduce this behaviour (at least on React Native 0.69).

Did you tried with something else than a custom ROM / the latest RN version (ex: the example app)?

[2022-07-27 14:59] Martinocom commented on #704
Haven't tested this on any other device nor project. In my free time I'll try to build on another phone (stock Android 11) and with a new clean fresh project on RN 0.63/0.69 only asking for permissions. I'll update you if I get something new.

We planned to use this library for permissions, since we cannot update at this time from 0.63 to 0.69, and we need to manage new Android bluetooth requests

[2022-07-27 16:01] jeanrobatto commented on #704
Hey! I was experiencing something similar, notably was trying to get Background geo permissions and it kept returning as denied.

I'm not 100% sure that its related to your issue, but in our case it was just about the order of the permissions.

Making sure to ask for location first, then geolocation after fixed it for us! Maybe something similar could be done on the code shared above.

Just sharin

[2022-07-28 00:35] yoonjaehi commented on #702
It worked after changing target SDK. Thank you!

[2022-07-28 00:35] #702 closed, assigned to zoontek

[2022-07-30 20:34] hozdemir opened #705 ""Only this time" and "While using the app" both options are returned "granted" on location permission request"
### Bug summary

When i choose "**only this time**" on location permission window on android 11 "**granted**" status returned from `**check**` and request methods. Shouldn't it return "**limited**" when "**only this time**" is selected?

### Library version

3.3.1

### Environment info

[code]

### Steps to reproduce

1. install example app in example folder
2. press "check" button on location lin

[2022-07-30 20:35] #705 closed, assigned to zoontek

[2022-07-30 20:35] zoontek commented on #705
Please update first (https://github.com/zoontek/react-native-permissions/releases/tag/3.4.0) to avoid issues with "Only this time" and "Ask next time"

Also, no. Permission is granted for this time, that's not what limited represent.

[2022-08-04 04:28] williamliangwl commented on #704
I am also experiencing the same issue. I am using Samsung Galaxy S20 FE, Android 12. I am requesting only 1 permission in Android (`android.permission.WRITE_EXTERNAL_STORAGE`), but I am using `requestMultiple` and `checkMultiple` because in iOS, I need 2 permissions (`ios.permission.PHOTO_LIBRARY`, `ios.permission.PHOTO_LIBRARY_ADD_ONLY`)

I initially reject / deny the request in Android. After th

[2022-08-10 12:13] ravi-poonia-lib commented on #704
I can reproduce this issue in android emulator using the repo example:
Emulator : Android -12,  API-31

Request permission throws: blocked
check permission throws: denied

![Screenshot_1660133459](https://user-images.githubusercontent.com/105527131/183897764-ec7634e8-0647-4aee-86c2-9011abc3787b.png)
![Screenshot_1660133465](https://user-images.githubusercontent.com/105527131/183897774-bc305551-3ca

[2022-08-10 18:35] zoontek commented on #704
@ravi-poonia-lib What your describe is "normal". Check [the Android flow](https://github.com/zoontek/react-native-permissions/blob/3.6.0/README.md#android-flow). You have to request the permission to know if it's blocked.

Before, this library relied on `SharedPreferences` to store the result in order to return `blocked` on check, but we don't do it anymore since it breaks some permissions feature

[2022-08-16 10:08] ChokShen opened #706 "Find doc error in iOS permission flow"
### Why it is needed?

Should exchange YES and NO flow in my screen shot?
<img width="873" alt="image" src="https://user-images.githubusercontent.com/26767040/184852815-f8de3206-c9fe-4d3e-8788-bd226e69c979.png">

### Possible implementation

_No response_

### Code sample

_No response_

[2022-08-16 10:15] zoontek commented on #706
@ChokShen No? I don't see an issue here

[2022-08-16 10:21] ChokShen commented on #706
@zoontek I mean if requestable is NO, flow should request permission, otherwise it returns RESULTS

[2022-08-16 11:02] zoontek commented on #706
@ChokShen That's still don't make sense. If the request is not requestable, this means the feature access is: BLOCKED, GRANTED or LIMITED. No prompt alert will appear.

[2022-08-16 11:20] ChokShen commented on #706
@zoontek I get confused because RESULTS.DENIED means the permission has not been requested / is denied but requestable you mentioned in doc.I believe I understand its meaning when I compare the flow with Android.

[2022-08-16 11:22] #706 closed, assigned to zoontek

[2022-08-16 11:50] ChokShen commented on #706
Sorry about that.I think I misunderstood&nbsp;
what&nbsp;requestable mean. I thought permission &nbsp;request has been sent at once when it is YES.But&nbsp;requestable seems not a formal English word😂.

发自我的iPhone

------------------ Original ------------------
From: Mathieu Acthernoene ***@***.***&gt;
Date: Tue,Aug 16,2022 7:31 PM
To: zoontek/react-native-permissions ***@***.***&gt;
Cc: ChokShen

[2022-08-16 14:05] Nnanyielugo opened #707 "READ_MEDIA_IMAGES permission does not seem to exist on android permissions."
### Bug summary

Trying to check for media permissions on a react-native typescript project and READ_MEDIA_IMAGES does not seem to be an available permission.
[code]

### Library version

3.2.0

### Environment info

[code]

### Steps to reproduce

Try to check for android media image permissions on a react-native typescript project.

### Reproducible sample code

[code]

[2022-08-16 14:06] #707 closed, assigned to zoontek

[2022-08-16 14:08] zoontek commented on #707
It exists since 3.6.0: https://github.com/zoontek/react-native-permissions/releases/tag/3.6.0

Read the documentation for the version you currently use. Every release has its own git tag.

[2022-08-17 16:35] Estroo opened #708 "Request Promise not working on Android"
### Bug summary

Hello, I tried to implement the permission request, it works well on iOS but on Android I got some issue and it doesn't go inside the then after requesting the promise. I have this issue with the simple request and the multiple request.

Here's the code :
[code]
I have nothing inside the console

### Library version

3.6.1

### Environment info

[code]

### Steps to reproduce

1.

[2022-08-17 18:37] DonRyu opened #709 "(ios)requestLocationAccuracy is not working"
### Bug summary

When user didn't turn on the precise option, I want to make user to go back.
But both requestLocationAccuracy and checkLocationAccuracy function is not working...

It keeps showing  console.warn('Cannot request location accuracy') even I granted PERMISSIONS.IOS.LOCATION_WHEN_IN_USE..... **( I am testing at iphone 13 ios.15.2 simulator)**

### Library version

"^3.6.0"

### Environ

[2022-08-18 08:40] zoontek commented on #709
Please provide a proper, simple, reproduction case.

Here `hasPermission` is not known. "Not working" is also too vague. What happen? Do you have an error in the console ?

[2022-08-18 15:11] DonRyu commented on #709
[code]

// hasPermission is function for  checking permissions

It always go to .catch(() => console.warn('Cannot request location accuracy'));
Even  PERMISSIONS.IOS.LOCATION_WHEN_IN_USE is granted

[2022-08-18 15:46] zoontek commented on #709
Ok, but what is the error? Log it:

`catch((ERROR) => console.error(ERROR))`

[2022-08-18 15:52] zoontek commented on #709
I'm pretty sure you just forgot to put the purpose key in your Info.plist:

https://github.com/zoontek/react-native-permissions/blob/db9ffd0a97e0803fd166aeef7d559e8e33c62984/example/ios/RNPermissionsExample/Info.plist#L56

https://github.com/zoontek/react-native-permissions/blob/db9ffd0a97e0803fd166aeef7d559e8e33c62984/example/App.tsx#L51

[2022-08-18 16:14] DonRyu commented on #709
But even I put the purpose key at the info.plist and podfile.... it still go to catch( ). I guess I did something wrong...

info.plist
[code]

podfile
[code]

Error
 WARN  Cannot request location accuracy

[2022-08-18 16:16] zoontek commented on #709
No, that's **YOUR** message.
Log the catched error.

[2022-08-18 16:19] zoontek commented on #709
Wrong purpose key:
`requestLocationAccuracy({purposeKey: 'YOUR-PURPOSE-KEY'})`

If you put `full-accuracy` in the plist, use `requestLocationAccuracy({purposeKey: 'full-accuracy'})`

[2022-08-18 16:19] #709 closed, assigned to zoontek

[2022-08-18 16:45] DonRyu commented on #709
Yeah I deleted pod and podfile.lock and do pod install again.
It works well, thanks

[2022-08-23 15:54] esutton commented on #708
This worked for me using **Android 12**, Pixel 3a.
[code]

package.json
[code]

android/app/src/main/AndroidManifest.xml
[code]

android/build.gradle
[code]

Thank you for a great library!

[2022-08-24 04:43] kevinnguy commented on #694
I found the issue to be the path of the headers imported in `RNPermission` for iOS. I had to patch my import paths based on the permission dependency like:  `#import "Permission-Camera/RNPermissionHandlerCamera.h"`

[2022-08-25 07:15] zoontek commented on #708
@Estroo1 Are you sure you are not missing something, and it goes though the catch? (The promise is rejected?)

[2022-08-25 09:18] Estroo commented on #708
I wish I do but I can't find anything wrong. It doesn't go through the catch, the promise is still pending. If I click again on my button to ask permission I got the warning telling me that this promise already exists and still pending, like if something was missing inside the native component and was looping inside of it or something like that

[2022-08-28 10:20] zoontek commented on #708
Just checked, it works without any issue. Could you provide more infos about how you request the permissions? Maybe a minimal example in a reproduction repository?

https://user-images.githubusercontent.com/1902323/187069073-077d8728-5f59-4d07-bdd7-1b6e7770e87b.mp4

[2022-08-30 08:22] KeyG94 commented on #429
My issue ressolved by adding both

Note, I am using it with qrcode-scanner dependency

`jest.mock('react-native-qrcode-scanner', () => jest.fn());`

and

[code]

[2022-08-30 08:35] Estroo commented on #708
Just tested and I still have the issue, but with a fresh project it's working well. Look like I have to deal with the native android files, that's my only difference got some old that I should maybe update. I keep you in touch if I find something and let it open if you have any idea

[2022-08-31 10:02] Minishlink opened #710 "Expose shouldShowRequestPermissionRationale"
### Why it is needed?

Hi, would you be open as to expose shouldShowRequestPermissionRationale Android method?
This is needed when you want to have a custom rationale screen and not an Alert.

Currently one can access it from NativeModules but this is not very safe as this is an internal thing right now.

Thanks

### Possible implementation

Maybe naming it android_shouldShowRequestPermissionRatio

[2022-09-01 07:31] vasylnahuliak opened #711 "[Android] One-time permissions cause a crash of the application after a delay"
### Bug summary

react-native-permissions on Android does not handle [One-Time Permissions](https://developer.android.com/training/permissions/requesting#one-time) after exiting (background or lock phone) from the application for more than ~1 minute.

  [Video example](https://user-images.githubusercontent.com/40458927/187857463-e156f8d9-f259-4509-8f4d-bd40beab39d2.mov)

<details>
  <summary>Logca

[2022-09-01 07:36] vasylnahuliak commented on #711
FYI: PermissionsAndroid from 'react-native' also has the same issue
https://github.com/facebook/react-native/issues/34547

[2022-09-01 19:08] rborn opened #712 "requestNotifications doesn't return blocked the first time is called on android 13"
### Bug summary

I have a weird situation when I call the `requestNotifications` and the first time I call it, if I click "don't allow" it will return `denied` instead of `blocked`.

The next time I call requestNotifications (in the same session), the OS popup shows again  and  this time on deny it will show `blocked`

This ( and the fact that android doesn't report blocked on checkNotification) m

[2022-09-01 19:45] zoontek commented on #712
@rborn This is totally normal if it's still requestable on a second call.

Check the Android flow in the README https://github.com/zoontek/react-native-permissions#android-flow

Before they were a "Never ask again" checkbox, in recent Android versions permissions can be requested twice.

[2022-09-01 19:46] #712 closed, assigned to zoontek

[2022-09-01 19:56] rborn commented on #712
@zoontek oh, I didn't know you can ask twice, thank you and sorry for the mess 😅

[2022-09-02 08:57] camboYY opened #713 "iOS 15.3.1 ATT permission not showing up, status alway unvailable"
### Bug summary

React.useEffect(() => {
    const listener = async () => {
      const ATT_CHECK = await check(PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY);

      console.log('helllloooooostatus', Platform.OS, appState, ATT_CHECK);

      if (Platform.OS === 'ios' && appState === 'active') {
        request(PERMISSIONS.IOS.APP_TRACKING_TRANSPARENCY)
          .then((result) => console.log(result,

[2022-09-02 09:00] #713 closed, assigned to zoontek

[2022-09-02 23:14] NastuzziSamy commented on #661
Hey, I am planning to work on it, if it is ok for you, I would be happy to propose a PR

[2022-09-06 14:57] lightrow opened #714 "checkNotifications returns "denied" in all cases on Android 13"
### Bug summary

When checking and requesting notifications permission on Android 13, there is now no way to tell whether you should try requesting notifications permission or take user to settings screen, unless you manually store the amount of failed attempts to request permission, because the status is always "denied" no matter if it's first launch or if user clicked "Don't allow" twice or disa

[2022-09-06 16:21] #714 closed, assigned to zoontek

[2022-09-06 16:26] zoontek commented on #714
Hi. This is not a bug, check the Android permission flow.
Without relying on hacks (like app storage - which break other features like "Ask next time"), we cannot know if a permission is blocked without requesting it.

Consider this flow:
- before showing the screen that require the permission, check it
- if it's granted, mount the screen that use it
- if it blocked, display a screen that explain

[2022-09-06 16:27] zoontek commented on #704
As there is no feedback, I guess it was that.

[2022-09-06 16:27] #704 closed, assigned to zoontek

[2022-09-11 17:07] zoontek commented on #708
I'm closing this since it seems more related to your stack / there is no solid reproduction test. Feel free to ping me on this issue if you got what's wrong here.

[2022-09-11 17:07] #708 closed, assigned to zoontek

[2022-09-11 18:21] zoontek commented on #661
@NastuzziSamy Hi! Thanks but I have no interest in web support for now 🙂

[2022-09-12 14:41] Antoine-Mace opened #715 "Crashed due to: SharedPreferences in credential encrypted storage are not available until after user is unlocked"
### Bug summary

Hi some users of our app are reporting crashes.

It seems to be due to the following error

Caused by java.lang.IllegalStateException: SharedPreferences in credential encrypted storage are not available until after user is unlocked
  at android.app.ContextImpl.getSharedPreferences (ContextImpl.java:387)
  at android.app.ContextImpl.getSharedPreferences (ContextImpl.java:372)
  at

[2022-09-12 17:39] #715 closed, assigned to zoontek

[2022-09-12 17:40] zoontek commented on #715
`SharedPreferences` is not used anymore, just update the library.

[2022-09-14 17:29] lightrow commented on #714
@zoontek but that's the point, what you are suggesting is now impossible on Android 13.

on iOS and Android prior to 13 checkNotifications() method returns "granted", "denied" or "blocked". But on Android 13 it only returns either "granted" or "denied" - "blocked" is never returned even when it's actually blocked.

[code]

when notification access is already blocked, on Android 13 this returns
[co

[2022-09-15 15:52] tallpants commented on #490
@zoontek we're revisiting this at our org -- the PR I made for this was left hanging because of your concern over a promise that might be unresolved indefinitely (which was definitely not ideal I agree).

We're willing to do the work to switch to the `UIApplicationDidBecomeActiveNotification` approach suggested by so many others here (as well as used by Expo in their location module) if you'd be w

[2022-09-15 16:33] zoontek commented on #490
@tallpants Yes, that could do the trick!

[2022-09-15 23:04] bm181354 commented on #690
@amb-silvertree were you able to fix this?

[2022-09-16 05:19] tallpants commented on #490
@zoontek here's the new PR!

https://github.com/zoontek/react-native-permissions/pull/716

[2022-09-19 07:29] bekatd commented on #460
Any suggestions guys? I am facing same issue too

[2022-09-19 12:52] mikehardy commented on #460
As this is a closed issue, I suggest a minimal repro and clear explanation of the test environment (that is: is it android 13 only? or other versions? )

https://stackoverflow.com/help/how-to-ask
https://stackoverflow.com/help/minimal-reproducible-example

This issue was closed more than 2 years ago and if *you* maintained this repo or any repo, would you take time from your workday, head over to

[2022-09-19 14:00] bekatd commented on #460
Just for the future readers. I managed to fix it by removing `@react-native-community/push-notification-ios` (since we were not using it) and deleted corresponding modifications in `AppDelegate.h` and `AppDelegate.m` files, made during initial instalation of the library (as per documentation)

[2022-09-19 15:14] tallpants commented on #490
ping @zoontek  -- just following up on this!

[2022-09-20 08:46] boodong-kwanee commented on #711
@vasylnahuliak

There you are!

Have you tried to use [`PermissionsAndroid`](https://reactnative.dev/docs/permissionsandroid)?
I have fixed this issue with this.
I hope you would fix your issue!

[2022-09-20 08:56] zoontek commented on #711
@boodong-rn The Android part of this module is nearly identical to `PermissionsAndroid`, it just add support for `UNAVAILABLE` (checked after any request, it just read the permissions manifest)

[2022-09-21 02:55] boodong-kwanee commented on #711
@zoontek Yes, I was wrong. I got still same issue. It's not been resolved. Do you have any idea about solving this issue?

[2022-09-23 00:56] lucasspaiva12 commented on #465
How do I make this 'mock'? I don't understand what I have to do, I have to copy a folder into another, or something like that? Someone help me please

[2022-09-26 06:42] choijiho0021 commented on #713
same problem.
15.3 ios version error
15.5 ios version working

( lib version 3.3.1 )

[2022-09-26 17:26] mikehardy commented on #713
@choijiho0021 how is working with 15.7 since that is current, and everyone on 15.x will update pretty shortly? Supporting the intermediate versions does not have much value if 15.7 works

[2022-09-27 12:50] yahacom commented on #690
Probably same issue on `react-native-permissions 3.3.1`
Nearby devices permission is always `granted` even if it's revoked in Settings.

[2022-09-27 12:51] zoontek commented on #690
@yahacom Just update.
Why: https://github.com/zoontek/react-native-permissions/releases/tag/3.4.0

[2022-09-27 14:36] yahacom commented on #690
thanks, I see.

also for anyone check your `compileSdkVersion` and `targetSdkVersion` to be 31 at least to work with nearby devices permission correctly. outdated lib version and `targetSdkVersion: 30` was reason of issue for me.

[2022-09-27 18:41] miladdev85 commented on #648
This workaround does not trigger the request function when the app is first launched. It does however trigger it if you put it to background and then open the app again. But I don't understand why this would be needed if we run it from useEffect. It won't trigger even if I execute it in a useEffect later in the app. Something seems broken and I don't think this issue should be closed.

[2022-09-27 21:11] zoontek commented on #648
@miladdev85

[code]

And: https://developer.apple.com/documentation/apptrackingtransparency/attrackingmanager/3547037-requesttrackingauthorizationwith?language=objc

So no, this issue can stay closed 😄

[2022-09-28 17:25] pugson commented on #244
Dropping a note here that you can use [AppState](https://reactnative.dev/docs/appstate) to listen for app changes to `foreground` / `inactive` / `background` focus to update component state.

[2022-09-29 17:51] Biptaste opened #718 "[iOS] Cannot build with Xcode 14 and bitcode"
### Bug summary

Hi,
I cannot build an app with Xcode 14 and Bitcode. I use `use_frameworks!` and I put the workaround of your Readme in my Podfile. I have no issue with Xcode 13

I get this error
[code]

### Library version

3.6.1

### Environment info

[code]

### Steps to reproduce

1. Use Xcode 14
2. Enable Bitcode
3. Archive the App or build for iPhone (not simulator)

### Reproducible sample

[2022-09-29 17:59] zoontek commented on #718
@Biptaste That's look like to be a Cocoapods issue? `CocoaAsyncSocket/libCocoaAsyncSocket.a(GCDAsyncSocket.o)`

[2022-09-29 18:47] mikehardy commented on #718
Xcode 14 deprecates bitcode, does not actually upload it ever, and you can and should just disable it

https://stackoverflow.com/questions/72543728/xcode-14-deprecates-bitcode-but-why

in your `ios/Podfile` post install section:

[code]

[2022-09-29 18:50] mikehardy commented on #718
(note: this - bitcode disable - is specifically required to use `use_frameworks!` and hermes together **and you need `:linkage => :static`**, for what it's worth https://github.com/reactwg/react-native-releases/discussions/26#discussioncomment-3445066)

[2022-09-30 04:15] jliukai commented on #615
hey im having this same problem. but my version is    "react-native-permissions": "^3.6.1"

do you have another fix?

react-native info
[code]

[2022-09-30 08:12] Biptaste commented on #718
Thanks for the explanation

[2022-09-30 08:12] #718 closed, assigned to zoontek

[2022-10-02 17:46] ghorbani-m commented on #708
I have the same issue!

[2022-10-02 20:40] mikehardy commented on #708
From a "getting help" perspective, this is content-free unfortunately
https://stackoverflow.com/help/how-to-ask
https://stackoverflow.com/help/minimal-reproducible-example

[2022-10-05 02:54] edritech93 commented on #711
same issue, I use react-native 0.70.2

[2022-10-06 10:13] deckyfx opened #719 "Cannot build Android, asking for sdktool 33"
### Bug summary

[code]

### Library version

3.6.1

### Environment info

[code]

### Steps to reproduce

run react-native run-android

### Reproducible sample code

[code]

[2022-10-06 10:14] deckyfx commented on #719
btw sdktool 33 is installed from SDKManager, i tried reinstall it many times

[2022-10-06 12:59] zoontek commented on #719
This does not look like an issue with the library itself, more an install issue on your computer.

More infos here, maybe:
- https://stackoverflow.com/questions/68387270/android-studio-error-installed-build-tools-revision-31-0-0-is-corrupted
- https://issuetracker.google.com/issues/242767861

Also, please check that you installed the latest Android Studio version.

[2022-10-06 12:59] #719 closed, assigned to zoontek

[2022-10-06 18:24] cw-sanjeev commented on #719
Hi @zoontek , facing the face issue, tested on different systems (windows, linux, mac) and still getting the above issue as raised.

[2022-10-06 19:54] mikehardy commented on #719
I just did this

bash
[code]

It worked for me.0

Please note that JDK13 (listed in your environment output) is not viable. react-native specifically uses JDK11 right now.

Basically the links posted above are correct, **please heed them**

Specifically, your gradle is too old, most likely because your react-native is too old (0.63.x is way too old).

**upgrade your react-native and you will get a

[2022-10-07 08:40] zoontek commented on #719
Same as @mikehardy here. I tried on two different computers without any issue.

I recommend using Temurin to install Java 11: https://adoptium.net/en-GB/installation
And same advice, try updating React Native (and Gradle) and Android Studio. Everything will work correctly then.

Sorry I can't help more here, but this is not related to `react-native-permissions` directly 😕

[2022-10-07 11:33] yaduvanshi-studio-labs opened #721 "Permission to write system settings"
### Why it is needed?

To set system screen timeout, to set volume, brightness, etc.

### Possible implementation

_No response_

### Code sample

_No response_

[2022-10-07 11:34] #721 closed, assigned to zoontek

[2022-10-07 11:34] zoontek commented on #721
Please respect the feature request template.

[2022-10-10 01:34] nicwise commented on #714
Did you find a solution to this? I suspect it might be related to this, but I can't make it work even with adding the permission

https://developer.android.com/develop/ui/views/notifications/notification-permission

[2022-10-10 11:22] mtoninelli opened #722 "No permission handler detected - via command line"
### Bug summary

If I run the project from Xcode, all works fine.
If I run `npx react-native run-ios --simulator="iPhone 13"` I have the no permission handler detected.

I've read the README, and probably I need to add the `pre_install` part but I don't know how to modify it from my actual situation.

This is  my Podfile. Is it correct? how should I add the `pre_install`?

- I've deleted DerivedDa

[2022-10-10 11:29] zoontek commented on #722
@mtoninelli Did you correctly deleted `ios/build` directory before trying to rebuild?

[2022-10-10 11:31] mtoninelli commented on #722
Yes... unfortunately
I'm also using "react-native-clean-project": "^4.0.1"

[2022-10-10 11:38] zoontek commented on #722
I see you are using `use_frameworks! :linkage => :static`
Don't forget to follow the workaround, as mentioned in the red screen error you're probably seeing right now.

https://github.com/zoontek/react-native-permissions#workaround-for-use_frameworks-issues

[2022-10-10 11:40] mtoninelli commented on #722
Yes, I've tried to add it but probably in the wrong way and I don't understand exactly where.
Could you give me please an hint at the line of my Podfile where you would insert it?

[2022-10-10 11:46] zoontek commented on #722
This should do the trick (there's an example [here](https://github.com/zoontek/react-native-permissions/blob/master/example/ios/Podfile)):

[code]

Clean your project using `react-native-clean-project`, then perform a `pod install` and rebuild your app.

[2022-10-10 12:20] mtoninelli commented on #722
It seems have done the trick. Thank you very much Mathieu

[2022-10-10 12:20] #722 closed, assigned to zoontek

[2022-10-10 13:14] Himatheja opened #723 "check(PERMISSIONS.ANDROID.ACCESS_FINE_LOCATION) is returning "already-enabled""
### Why it is needed?

For Fewer mobile devices (OnePlus 6), if Permssion is already granted then the result of check(PERMISSIONS.ANDROID.ACCESS_FINE_LOCATION) is returning "already-enabled". This helps us to handle the location permission efficently and not affecting the flow.

### Possible implementation

_No response_

### Code sample

_No response_

[2022-10-10 13:16] zoontek commented on #723
@Himatheja I didn't understand what you mean at all. Please respect the template and give more infos (Possible implementation, code sample)

[2022-10-10 15:08] #723 closed, assigned to zoontek

[2022-10-10 15:30] Y-k-Y opened #724 "Can't build iOS version for a real device"
### Bug summary

Hi! First of all, thank you for your work i could deploy my android app with your package without any problem.
Now i'm working on to deploy iOS version application but it keeps getting me below error while trying to build for a real device not for simulator or so.
[code]
I'm using `react-native-firebase` which needs to use `use_frameworks!` so i appended below patch to avoid #718

[2022-10-10 18:59] mikehardy commented on #724
You have to disable bitcode, and I'm not sure why this is happening - I believe you asked me for help specifically over email pointing to a stackoverflow, at least you have a repro now, that's good.

I don't have time to check right now, sorry - but I can say I'm successfully using react-native-permissions + "bitcode disable" Podfile thing + use_frameworks in an app and it's compiling and deployin

[2022-10-11 08:51] Y-k-Y commented on #724
Thank you for your quick comment @mikehardy.
It seems it's not a library problem at all.. i applied your code and it worked in temporal but again it threw the same error later And when i removed the permissions packages it threw the same error but for another package.
Maybe there is problem in my env or system i guess. Thank you again for your time:bow:

[2022-10-11 08:51] #724 closed, assigned to zoontek

[2022-10-11 09:29] baptooo commented on #465
Hi @lucasspaiva12, jest can load few [`setupFiles`](https://jestjs.io/docs/configuration#setupfiles-array) before running.

You can:
- create one called `jest.setup.ts` for example
- add it to your `package.json` configuration under the `jest` block (if exists)

[code]
_(rootDir is the root of your project so this could be `./jest.setup.ts`)_

Then into this file, simply mock the library like this

[2022-10-12 10:03] TanKucukhas commented on #622
[code]

With require this is what I'm getting

[2022-10-12 11:42] nicolasdevienne opened #725 "Android 13 check(PERMISSIONS.ANDROID.POST_NOTIFICATIONS) returns denied and not blocked"
### Bug summary

On Android 13, when a user choice "Don't allow" twice in the prompt for notifications, `request(PERMISSIONS.ANDROID.POST_NOTIFICATIONS)` returns "blocked" but `check(PERMISSIONS.ANDROID.POST_NOTIFICATIONS)` returns "denied". I think `check(PERMISSIONS.ANDROID.POST_NOTIFICATIONS)` must return "blocked" in this case.

### Library version

3.6.1

### Environment info

[code]

### Ste

[2022-10-12 11:55] zoontek commented on #725
This is unfortunately not possible on Android. Check the flow: https://github.com/zoontek/react-native-permissions#android-flow

[2022-10-12 11:55] #725 closed, assigned to zoontek

[2022-10-12 17:28] luis-cicada commented on #719
This seems to do the trick @deckyfx

## change below to your Android SDK path
cd ~/Library/Android/sdk/build-tools/33.0.0 \
  && mv d8 dx \
  && cd lib  \
  && mv d8.jar dx.jar

[2022-10-12 20:56] mikehardy commented on #719
@luis-cicada that's a workaround, and it gets lots of praise on stackoverflow and issue trackers, but is just a workaround. It should not be necessary. There is something wrong in the local install of something, but renaming internal parts of the build-tools is not a great solution, I would dig deeper. Perhaps $ANDROID_HOME/cmdline-tools/latest/bin is not on the $PATH first, and an out of date gra

[2022-10-14 10:51] austingayler commented on #680
What was the error? I'm getting the same in a seemingly relatively straightforward case. denvercoder9, what did you see??

[2022-10-18 08:22] anatooly commented on #722
As for me this help:

`1. ⚠️ If you see a No permission handler detected error: Make sure that you have at least one permission handler set up. In some cases the Xcode cache needs to be cleared (Xcode -> Product -> Clean Build Folder)`

[2022-10-24 14:43] emjeku opened #727 "[Android] Add check if locations are enabled on the whole device"
### Why it is needed?

Hey there, it's a nice lib, we are using it.
We need additional information about the GPS Provider.
If the app has all location permissions, but you go to the system settings and turn off `Location` => `Use location` then the library will (correctly) say that the app has all the rights. However for knowing if we can use the location API it would be helpful to see, if locatio

[2022-10-24 14:52] mikehardy commented on #727
Hey there @emjeku - you want https://github.com/react-native-device-info/react-native-device-info#isLocationEnabled

This package is about permissions.
That package (react-native-device-info) is about device status etc.

[2022-10-24 14:52] mikehardy commented on #727
Also may like to know details: https://github.com/react-native-device-info/react-native-device-info#getavailablelocationproviders

[2022-10-24 15:08] #727 closed, assigned to zoontek

[2022-10-24 22:41] jslok opened #728 "No permission popup for Android 13"
### Bug summary

When using a real device, I get no permission request popups when I use a Pixel 7 real device or an emulator on Android 13. My app is targeting sdk version 33.
It works as expected on Android 12 and/or if I revert to target sdk version 29.

### Library version

3.6.1

### Environment info

[code]

### Steps to reproduce

Try to request permission. See no popup.

### Reproducible s

[2022-10-25 07:27] miallo commented on #727
@mikehardy Thank you for your fast reply and pointing us in the right direction! :+1:

[2022-10-25 08:12] zoontek commented on #728
@jslok And what is the result here?

[2022-10-25 08:22] jslok commented on #728
@zoontek The permission request returns 'blocked' even with a fresh install and the first time requesting the permission.

[2022-10-25 09:26] zoontek commented on #728
Found it, it's explained here: https://developer.android.com/about/versions/13/behavior-changes-13#granular-media-permissions

[2022-10-25 10:18] #728 closed, assigned to zoontek

[2022-10-25 11:46] pepe-dunamu opened #729 "how can i get a notification permission status?"
### Bug summary

![스크린샷 2022-10-25 오후 8 43 11](https://user-images.githubusercontent.com/79429899/197764576-e995bf91-5bd5-4d18-9962-a8b9f2ad02ef.png)

there is nothing related to notifications
i want to do this Permissions.IOS.Notifications

### Library version

3.1.0

### Environment info

[code]

### Steps to reproduce

1. …1
2. …2

### Reproducible sample code

[code]

[2022-10-25 11:50] #729 closed, assigned to zoontek

[2022-10-25 11:50] zoontek commented on #729
Me too. RTFM.

[2022-10-25 19:05] jslok commented on #728
Thanks @zoontek that did the trick.

[2022-10-25 21:05] m2jobe opened #730 "Checking permission for iOS LOCATION_ALWAYS and LOCATION_WHEN_IN_USE return as "granted""
### Bug summary

We are seeing a bug where when we request **request(Permissions.PERMISSIONS.IOS.LOCATION_ALWAYS)** and we see the popup below. Upon selecting **Allow while using app (LOCATION_WHEN_IN_USE)**, if we then check both the permissions LOCATION_ALWAYS and LOCATION_WHEN_IN_USE, they return as **granted**. The expected behaviour from this flow would be that LOCATION_ALWAYS is **denied** a

[2022-10-25 22:18] zoontek commented on #730
This is normal, just how the iOS location permission works. See https://developer.apple.com/documentation/corelocation/cllocationmanager/1620551-requestalwaysauthorization (search for "Request Always Authorization Directly" in the page)

The first prompt displays immediately with the string from NSLocationWhenInUseUsageDescription. The user prompt displays the following options, which determine th

[2022-10-25 22:18] #730 closed, assigned to zoontek

[2022-10-25 22:20] zoontek commented on #730
More infos here: https://github.com/zoontek/react-native-permissions/issues/521#issuecomment-699522129, here: https://github.com/zoontek/react-native-permissions/issues/379#issuecomment-559840130 or in the README: https://github.com/zoontek/react-native-permissions/blob/master/README.md#about-ios-location_always-permission

[2022-10-26 14:26] m2jobe commented on #730
Thank you @zoontek

[2022-10-29 09:26] claudiozam commented on #724
@Y-k-Y did you solve the issue? Do you have a fix? Thanks

[2022-10-29 10:47] Y-k-Y commented on #724
Yes, actually it wasn't package problem in my case. There is enable bitcode option in xcode option but not for specific package level. It was for entire project level option and it was enabled it. When i turned it off the error was gone.

[2022-10-29 11:36] claudiozam commented on #724
@Y-k-Y @mikehardy thanks!!!!

<img width="471" alt="image" src="https://user-images.githubusercontent.com/2105644/198829254-3801e483-1f18-4e1e-8e49-79391cbf304d.png">

[2022-10-30 14:22] ortonomy commented on #615
Suggest double check the correct podfile for your version of react native.

[2022-11-24 09:48] robinclaes opened #731 "Using jest.spyOn on checkMultiple results in typescript error when not adding ALL permissions as return value, how to fix?"
### Bug summary

[code]

Gives the following error:
![image](https://user-images.githubusercontent.com/11699918/203751050-b8869ef5-189f-4edf-b223-bb3ba3ef32f6.png)

Expecting all ~200 permissions to be added to the returnValue.
I think I can make up from the source that the `checkMultiple` ReturnType depends on the number of array elements that are passed to it as an argument.
But this is somethin

[2022-11-24 10:00] zoontek commented on #731
The method type is correct, the issue here come from Jest.

[code]

I recommend to create a typed var and use `@ts-expect-error`:

[code]

[2022-11-24 10:00] #731 closed, assigned to zoontek

[2022-11-25 12:21] choijiho0021 opened #732 "App Rejected in AppStore, unused permission (siri shortcut)"
### Bug summary

Describe your environment

React-Native version
Platform: iOS
Device (which one?): Appstore dist
react-native-permissions ^3.0.1
Devtools: Xcode

Siri shortcut is not used, but the app has been rejected.

Can this library have an impact? Is there a solution?

The bottom is the reason for the app reject.

[code]

### Library version

3.0.1

### Environment info

[code]

[code]

[co

[2022-11-25 12:23] #732 closed, assigned to zoontek

[2022-11-25 12:30] choijiho0021 commented on #732
I'm sorry I couldn't keep the form, now I revised it again.

[2022-11-25 14:27] zoontek commented on #732
Not here.

[2022-11-26 17:07] choijiho0021 commented on #732
I checked the library because my superior thought it was a problem. To be honest, I didn't think that was the problem either. Thank you for your answer.

[2022-11-28 08:22] LuanNguyen-HnL commented on #591
Any update with 'Allow Once' Option? I'm stuck with this

[2022-11-28 08:24] zoontek commented on #591
@LuanNguyenHNL

[2022-11-28 08:28] LuanNguyen-HnL commented on #591
ok thanks, let me try!

[2022-11-29 06:55] haidev01 commented on #504
@NMahendroo I have the same issue, did you resolve this issue?